Repository dedis/popstellar, pull requests merged in 2020-12, with the labels that each got.

#96 Add the case where we can't dectect an id
  answer/answer.json
Labels: proto-spec

#83 [be2-scala] Parser implementation with new Json protocol
  .gitignore
  src/main/scala/ch/epfl/pop/DBActor.scala
  src/main/scala/ch/epfl/pop/Server.scala
  src/main/scala/ch/epfl/pop/json/JsonCommunicationProtocol.scala
  src/main/scala/ch/epfl/pop/json/JsonMessageParser.scala
  src/main/scala/ch/epfl/pop/json/JsonMessageTypes.scala
  src/main/scala/ch/epfl/pop/json/JsonMessages.scala
  src/main/scala/ch/epfl/pop/json/JsonUtils.scala
  src/main/scala/ch/epfl/pop/json/json.scala
  src/main/scala/ch/epfl/pop/pubsub/ChannelActor.scala
  src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  src/main/scala/ch/epfl/pop/pubsub/Unsub.scala
  src/test/scala/json/JsonMessageParserTest.scala
  src/test/scala/json/JsonParserTestsUtils.scala
  src/test/scala/pubsub/PubSubTest.scala
Labels: be2-scala

#99 Fixes to the protocol
  README.md
  query/method/message/data/dataCreateLao.json
  query/method/message/data/dataCreateMeeting.json
  query/method/message/data/dataStateLao.json
  query/method/message/data/dataStateMeeting.json
  query/method/message/data/dataUpdateLao.json
  query/method/message/messageGeneral.json
  query/method/message/messageWitnessMessage.json
Labels: proto-spec

#95 Organization UI
  PopApp/.expo-shared/assets.json
  PopApp/App.js
  PopApp/Components/Attendee.js
  PopApp/Components/CameraButton.js
  PopApp/Components/ConnectConfirm.js
  PopApp/Components/ConnectConnecting.js
  PopApp/Components/ConnectScanning.js
  PopApp/Components/ConnectUnapprove.js
  PopApp/Components/CreateDiscussion.js
  PopApp/Components/CreateEvent.js
  PopApp/Components/CreateMeeting.js
  PopApp/Components/CreatePoll.js
  PopApp/Components/CreateRollCall.js
  PopApp/Components/DiscussionEvent.js
  PopApp/Components/EventItem.js
  PopApp/Components/EventsCollapsableList.js
  PopApp/Components/Home.js
  PopApp/Components/Identity.js
  PopApp/Components/LAOItem.js
  PopApp/Components/Launch.js
  PopApp/Components/MeetingEvent.js
  PopApp/Components/Organization.js
  PopApp/Components/OrganizationNameProperty.js
  PopApp/Components/Organizer.js
  PopApp/Components/OrganizerCollapsableList.js
  PopApp/Components/OrganizerMaterialTab.js
  PopApp/Components/PollEvent.js
  PopApp/Components/ProgressBar.js
  PopApp/Components/RecorderButton.js
  PopApp/Components/RollCallEvent.js
  PopApp/Components/RollCallEventOrganizer.js
  PopApp/Components/RollCallScanning.js
  PopApp/Components/Witness.js
  PopApp/Components/WitnessProperty.js
  PopApp/Components/WitnessScanning.js
  PopApp/Components/WitnessVideo.js
  PopApp/Navigation/AppNavigation.js
  PopApp/Navigation/ConnectNavigation.js
  PopApp/Navigation/Navigation.js
  PopApp/Navigation/OrganizationNavigation.js
  PopApp/Navigation/OrganizerNavigation.js
  PopApp/Navigation/WitnessNavigation.js
  PopApp/Store/Reducers/appToggleReducer.js
  PopApp/Store/configureStore.js
  PopApp/Styles/buttons.js
  PopApp/Styles/colors.js
  PopApp/package-lock.json
  PopApp/package.json
  PopApp/res/EventData.js
  PopApp/res/Props.js
  PopApp/res/laoData.js
  PopApp/res/propretiesData.js
  PopApp/res/strings.js
Labels: discussion, enhancement

#102 Work be2 sebastien validity
  src/main/scala/ch/epfl/pop/DBActor.scala
  src/main/scala/ch/epfl/pop/Validate.scala
  src/main/scala/ch/epfl/pop/crypto/Hash.scala
  src/main/scala/ch/epfl/pop/crypto/Signature.scala
  src/main/scala/ch/epfl/pop/json/JsonCommunicationProtocol.scala
  src/main/scala/ch/epfl/pop/json/JsonUtils.scala
  src/main/scala/ch/epfl/pop/json/json.scala
  src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  src/test/scala/ch/epfl/pop/tests/MessageCreationUtils.scala
  src/test/scala/ch/epfl/pop/tests/ValidateTest.scala
  src/test/scala/ch/epfl/pop/tests/crypto/HashTest.scala
  src/test/scala/ch/epfl/pop/tests/crypto/SignatureTest.scala
  src/test/scala/ch/epfl/pop/tests/json/JsonMessageParserTest.scala
  src/test/scala/ch/epfl/pop/tests/json/JsonParserTestsUtils.scala
  src/test/scala/ch/epfl/pop/tests/pubsub/PubSubTest.scala
  src/test/scala/crypto/HashTest.scala
Labels: be2-scala

#122 Store witness signatures in the db
  src/main/scala/ch/epfl/pop/DBActor.scala
  src/main/scala/ch/epfl/pop/Server.scala
  src/main/scala/ch/epfl/pop/json/json.scala
  src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  src/test/scala/ch/epfl/pop/tests/MessageCreationUtils.scala
  src/test/scala/ch/epfl/pop/tests/pubsub/PubSubTest.scala
Labels: be2-scala, enhancement

#121 Websocket communication with server
  PopApp/App.js
  PopApp/Components/LAOItem.js
  PopApp/Components/Launch.js
  PopApp/Components/OrganizerMaterialTab.js
  PopApp/Navigation/AppNavigation.js
  PopApp/Navigation/OrganizationNavigation.js
  PopApp/Store/Reducers/appToggleReducer.js
  PopApp/Store/Reducers/currentLaoReducer.js
  PopApp/Store/Reducers/keypairReducer.js
  PopApp/Store/configureStore.js
  PopApp/package-lock.json
  PopApp/package.json
  PopApp/websockets/LocalMockServer.js
  PopApp/websockets/WebsocketAnswer.js
  PopApp/websockets/WebsocketApi.js
  PopApp/websockets/WebsocketLink.js
  PopApp/websockets/WebsocketUtils.js
Labels: fe1-web

#132 Implementing add witness functionality
  app/src/androidTest/java/com/github/dedis/student20_pop/PoPApplicationTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/OrganizerFragmentTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/QRCodeScanningFragmentTest.java
  app/src/main/java/com/github/dedis/student20_pop/AttendeeActivity.java
  app/src/main/java/com/github/dedis/student20_pop/OrganizerActivity.java
  app/src/main/java/com/github/dedis/student20_pop/PoPApplication.java
  app/src/main/java/com/github/dedis/student20_pop/model/Person.java
  app/src/main/java/com/github/dedis/student20_pop/ui/AttendeeFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/IdentityFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/OrganizerFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/QRCodeScanningFragment.java
  app/src/main/java/com/github/dedis/student20_pop/utility/qrcode/QRFocusingProcessor.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/WitnessListAdapter.java
  app/src/main/res/layout/fragment_qrcode.xml
  app/src/main/res/values/strings.xml
Labels: fe-2 android

#150 Fix Meeting Event Creation
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/MeetingEventFragmentTest.java
  app/src/main/java/com/github/dedis/student20_pop/PoPApplication.java
  app/src/main/java/com/github/dedis/student20_pop/model/Event.java
  app/src/main/java/com/github/dedis/student20_pop/model/MeetingEvent.java
  app/src/main/java/com/github/dedis/student20_pop/ui/AttendeeFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/OrganizerFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/event/MeetingEventCreationFragment.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/AttendeeExpandableListViewEventAdapter.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/EventAdapter/AttendeeExpandableListViewEventAdapter.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/EventAdapter/ExpandableListViewEventAdapter.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/EventAdapter/OrganizerExpandableListViewEventAdapter.java
Labels: fe-2 android

#148 Refactor ExpandableListViewEventAdapters
  app/src/main/java/com/github/dedis/student20_pop/PoPApplication.java
  app/src/main/java/com/github/dedis/student20_pop/model/Event.java
  app/src/main/java/com/github/dedis/student20_pop/model/MeetingEvent.java
  app/src/main/java/com/github/dedis/student20_pop/ui/AttendeeFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/OrganizerFragment.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/AttendeeExpandableListViewEventAdapter.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/EventAdapter/AttendeeExpandableListViewEventAdapter.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/EventAdapter/ExpandableListViewEventAdapter.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/EventAdapter/OrganizerExpandableListViewEventAdapter.java
Labels: fe-2 android

#146 Resolve dead end Home UI when coming back from Attendee or Organizer Activity and remove useless code that was making gradle check fail
  app/src/main/java/com/github/dedis/student20_pop/AttendeeActivity.java
  app/src/main/java/com/github/dedis/student20_pop/OrganizerActivity.java
  app/src/main/res/layout/activity_fragment_util.xml
  app/src/main/res/layout/fragment_meeting_event.xml
Labels: fe-2 android

#134 Transform method 'message' to 'broadcast'
  query/method/broadcast.json
Labels: proto-spec

#153 RollCall + bug fixes
  src/main/scala/ch/epfl/pop/DBActor.scala
  src/main/scala/ch/epfl/pop/Validate.scala
  src/main/scala/ch/epfl/pop/json/JsonCommunicationProtocol.scala
  src/main/scala/ch/epfl/pop/json/JsonMessageParser.scala
  src/main/scala/ch/epfl/pop/json/JsonMessages.scala
  src/main/scala/ch/epfl/pop/json/JsonUtils.scala
  src/main/scala/ch/epfl/pop/json/json.scala
  src/main/scala/ch/epfl/pop/pubsub/ChannelActor.scala
  src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  src/test/scala/ch/epfl/pop/tests/MessageCreationUtils.scala
  src/test/scala/ch/epfl/pop/tests/json/JsonMessageParserTest.scala
  src/test/scala/ch/epfl/pop/tests/json/JsonParserTestsUtils.scala
  src/test/scala/ch/epfl/pop/tests/pubsub/PubSubTest.scala
Labels: be2-scala

#118 Person creation and App restart
  app/build.gradle
  app/src/androidTest/java/com/github/dedis/student20_pop/PoPApplicationTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/LaunchFragmentTest.java
  app/src/main/java/com/github/dedis/student20_pop/MainActivity.java
  app/src/main/java/com/github/dedis/student20_pop/PoPApplication.java
  app/src/main/java/com/github/dedis/student20_pop/model/Lao.java
  app/src/main/java/com/github/dedis/student20_pop/model/Person.java
  app/src/test/java/com/github/dedis/student20_pop/model/LaoTest.java
  app/src/test/java/com/github/dedis/student20_pop/model/PersonTest.java
Labels: fe2-android

#152 Move connexion and reconnexion process into the proxy
  app/src/androidTest/java/com/github/dedis/student20_pop/utility/network/SimpleSocketTest.java
  app/src/main/java/com/github/dedis/student20_pop/MainActivity.java
  app/src/main/java/com/github/dedis/student20_pop/PoPApplication.java
  app/src/main/java/com/github/dedis/student20_pop/utility/network/HighLevelClientProxy.java
  app/src/main/java/com/github/dedis/student20_pop/utility/network/LowLevelClientProxy.java
  app/src/main/java/com/github/dedis/student20_pop/utility/network/PoPClientEndpoint.java
  app/src/test/java/com/github/dedis/student20_pop/utility/network/SimpleSocketTest.java
Labels: fe2-android

#157 Update the protocol implementation to fit with the latest specifications
  app/src/androidTest/java/com/github/dedis/student20_pop/utility/network/ProtocolTest.java
  app/src/main/java/com/github/dedis/student20_pop/model/Election.java
  app/src/main/java/com/github/dedis/student20_pop/model/Event.java
  app/src/main/java/com/github/dedis/student20_pop/model/Lao.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/high/Action.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/high/Data.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/high/Objects.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/high/lao/CreateLao.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/high/lao/StateLao.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/high/lao/UpdateLao.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/high/meeting/CreateMeeting.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/high/meeting/StateMeeting.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/high/message/WitnessMessage.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/high/rollcall/CloseRollCall.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/high/rollcall/CreateRollCall.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/high/rollcall/OpenRollCall.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/high/rollcall/ReopenRollCall.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/low/Broadcast.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/low/Catchup.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/low/Message.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/low/Method.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/low/Publish.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/low/Query.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/low/Subscribe.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/low/Unsubscribe.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/low/answer/Answer.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/low/answer/Error.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/low/answer/ErrorCode.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/low/answer/Result.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/level/mid/MessageGeneral.java
  app/src/main/java/com/github/dedis/student20_pop/utility/json/JsonCreateRollCallSerializer.java
  app/src/main/java/com/github/dedis/student20_pop/utility/json/JsonLowMessageSerializer.java
  app/src/main/java/com/github/dedis/student20_pop/utility/json/JsonMessageSerializer.java
  app/src/main/java/com/github/dedis/student20_pop/utility/json/JsonResultSerializer.java
  app/src/main/java/com/github/dedis/student20_pop/utility/json/JsonUtils.java
  app/src/main/java/com/github/dedis/student20_pop/utility/network/HighLevelClientProxy.java
  app/src/main/java/com/github/dedis/student20_pop/utility/network/LowLevelClientProxy.java
  app/src/main/java/com/github/dedis/student20_pop/utility/security/Hash.java
  app/src/test/java/com/github/dedis/student20_pop/model/ElectionTest.java
  app/src/test/java/com/github/dedis/student20_pop/model/EventsTest.java
  app/src/test/java/com/github/dedis/student20_pop/model/LaoTest.java
  app/src/test/java/com/github/dedis/student20_pop/utility/json/TestJson.java
  app/src/test/java/com/github/dedis/student20_pop/utility/security/HashTest.java
Labels: fe2-android

#163 Implement Poll Event Creation UI
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/OrganizerFragmentTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/PollEventCreationFragmentTest.java
  app/src/main/java/com/github/dedis/student20_pop/OrganizerActivity.java
  app/src/main/java/com/github/dedis/student20_pop/model/PollEvent.java
  app/src/main/java/com/github/dedis/student20_pop/ui/event/PollEventCreationFragment.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/organizer/ChoicesListViewAdapter.java
  app/src/main/res/layout/fragment_create_poll_event.xml
  app/src/main/res/layout/layout_poll_choices.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Labels: fe2-android

#125 Roll-call specs
  query/method/message/data/dataCloseRollCall.json
  query/method/message/data/dataCreateMeeting.json
  query/method/message/data/dataCreateRollCall.json
  query/method/message/data/dataOpenRollCall.json
  query/method/message/data/dataStateMeeting.json
Labels: proto-spec

#133 Specify how concatenation works
  README.md
Labels: proto-spec
