Repository dedis/popstellar, pull requests merged in 2021-05, with the labels that each got.

#306 Wallet store and reducer and beginning of wallet UI
  fe1-web/__tests__/model/objects/WalletCryptographyHandler.test.ts
  fe1-web/model/objects/HDWallet.ts
  fe1-web/model/objects/WalletCryptographyHandler.ts
  fe1-web/model/objects/index.ts
  fe1-web/navigation/bars/MainNavigation.tsx
  fe1-web/navigation/bars/WalletNavigation.tsx
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/parts/wallet/WalletHome.tsx
  fe1-web/parts/wallet/WalletSetSeed.tsx
  fe1-web/parts/wallet/WalletShowSeed.tsx
  fe1-web/parts/wallet/WalletSyncedSeed.tsx
  fe1-web/res/strings.ts
  fe1-web/store/reducers/RootReducer.ts
  fe1-web/store/reducers/WalletReducer.ts
  fe1-web/store/reducers/index.ts
  fe1-web/store/stores/WalletStore.ts
  fe1-web/utils/Crypto.ts
  fe1-web/utils/__mocks__/Crypto.ts
Labels: fe1-web

#307 Implementation of the HD Wallet and start of integration into the application
  fe2-android/app/build.gradle
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/home/fragments/ContentWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/home/fragments/SeedWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/home/fragments/WalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/Wallet.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/stellar/SLIP10.java
  fe2-android/app/src/main/res/layout/activity_home.xml
  fe2-android/app/src/main/res/layout/fragment_content_wallet.xml
  fe2-android/app/src/main/res/layout/fragment_seed_wallet.xml
  fe2-android/app/src/main/res/layout/fragment_wallet.xml
  fe2-android/app/src/main/res/layout/tab_connect_launch.xml
  fe2-android/app/src/main/res/layout/tab_wallet.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/WalletTest.java
Labels: fe2-android

#292 Added election setup fragment, organizer can now create an election
  fe2-android/app/build.gradle
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/EventExpandableListViewAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/event/creation/AbstractEventCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/event/creation/ElectionSetupFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/event/creation/MeetingEventCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/event/creation/PollEventCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/event/creation/RollCallEventCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/home/adapters/LAOListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/Election.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/data/LAORemoteDataSource.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/data/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/event/EventType.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/ElectionQuestion.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/MessageGeneral.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/Objects.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionSetup.java
  fe2-android/app/src/main/res/drawable/border.xml
  fe2-android/app/src/main/res/layout/activity_lao_detail.xml
  fe2-android/app/src/main/res/layout/fragment_home.xml
  fe2-android/app/src/main/res/layout/fragment_setup_election_event.xml
  fe2-android/app/src/main/res/layout/layout_ballot_option.xml
  fe2-android/app/src/main/res/layout/layout_enter_time.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/prod/java/com/github/dedis/student20_pop/Injection.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/ElectionTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/ElectionQuestionTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionSetupTest.java
Labels: fe2-android

#323 Implemented DSL graph answerer + clientActor
  be2-scala/build.sbt
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/ClientActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PubSubMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribeNew.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Answerer.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/MessageDecoder.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsWithMessageHandler.scala
Labels: be2-scala

#305 Work be2 cleanup nicolas parser
  be2-scala/src/main/scala/ch/epfl/pop/jsonNew/HighLevelProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/jsonNew/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/jsonNew/ObjectProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/JsonRpcRequest.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/Broadcast.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/Catchup.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/Publish.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/Subscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/Unsubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/Message.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/lao/CreateLao.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/lao/StateLao.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/lao/UpdateLao.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/meeting/CreateMeeting.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/meeting/StateMeeting.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/CloseRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/CreateRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/OpenRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/ReopenRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/witness/WitnessMessage.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/MessageDecoder.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/MessageEncoder.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/PipelineError.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Validator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MeetingHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/WitnessHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MeetingValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageDataContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MethodContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ParamsValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RpcValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/WitnessValidator.scala
Labels: be2-scala

#279 Add Json verification for messages
  be1-go/cli/organizer/organizer.go
  be1-go/go.mod
  be1-go/go.sum
  be1-go/hub/base_channel.go
  be1-go/hub/organizer.go
  be1-go/hub/socket.go
  be1-go/message/answer.go
  be1-go/message/generic_message.go
  protocol/query/method/message/data/data.json
Labels: be1-go

#294 Roll call logic
  be1-go/hub/base_channel.go
  be1-go/hub/organizer.go
  be1-go/hub/organizer_test.go
  be1-go/message/answer.go
  be1-go/message/data.go
Labels: be1-go

#328 Add license (SLIP10)
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/stellar/SLIP10.java
Labels: documentation

#341 Attempt to fix rollcall issues on fe2
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/qrcode/QRCodeScanningFragment.java
  fe2-android/app/src/main/res/layout/fragment_lao_detail.xml
Labels: bug, fe2-android

#308 Fix error messages
  be1-go/hub/base_channel.go
  be1-go/hub/organizer.go
  be1-go/hub/socket.go
Labels: be1-go

#303 Election Setup, Cast Vote messages handled by organizer
  be1-go/hub/election.go
  be1-go/hub/organizer.go
  be1-go/hub/rollCall.go
  be1-go/message/data.go
  be1-go/message/message.go
Labels: be1-go

#326 Changed all usage of Base64 to Base64Url on fe1-web
  fe1-web/__tests__/model/network/FromJsonData.test.ts
  fe1-web/__tests__/model/network/FromJsonRpcRequest.test.ts
  fe1-web/__tests__/model/objects/Objects.test.ts
  fe1-web/__tests__/network/MessageApi.test.ts
  fe1-web/__tests__/utils/matchers.ts
  fe1-web/model/network/method/message/ExtendedMessage.ts
  fe1-web/model/network/method/message/Message.ts
  fe1-web/model/network/method/message/data/Builder.ts
  fe1-web/model/network/method/message/data/Checker.ts
  fe1-web/model/objects/Base64.ts
  fe1-web/model/objects/Base64Url.ts
  fe1-web/model/objects/Hash.ts
  fe1-web/model/objects/PrivateKey.ts
  fe1-web/model/objects/PublicKey.ts
  fe1-web/model/objects/Signature.ts
  fe1-web/model/objects/index.ts
  fe1-web/package.json
  fe1-web/store/stores/KeyPairStore.ts
Labels: fe1-web

#351 Updated election data for base64url
  be1-go/message/data.go
Labels: be1-go

#346 fe2-android: Subscribe to LAOs on Websocket connect event
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/data/LAODataSource.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/data/LAORemoteDataSource.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/data/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/data/LAOService.java
  fe2-android/app/src/prod/java/com/github/dedis/student20_pop/Injection.java
Labels: fe2-android
