Repository dedis/popstellar, pull requests merged in 2021-11, with the labels that each got.

#554 Add exclusion to the test files for the sonar analysis
  .github/workflows/ci.yaml
  be1-go/sonar-project.properties
  be2-scala/build.sbt
  fe1-web/sonar-project.properties
  fe2-android/app/build.gradle
Labels: prod-ready

#553 Fix two bug that crash the app on some view
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/CameraPreview.java
  fe2-android/app/src/main/res/layout/tab_properties.xml
Labels: bug, fe2-android

#558 Disable swipes in a non-deprecated way
  fe1-web/navigation/bars/LaoNavigation.tsx
  fe1-web/navigation/bars/MainNavigation.tsx
Labels: fe1-web

#550 Fixes the bug of open roll call
  be2-scala/src/main/scala/ch/epfl/pop/config/application.conf
  be2-scala/src/main/scala/ch/epfl/pop/json/HighLevelProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/JsonRpcRequest.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/MethodType.scala
Labels: bug, be2-scala

#537 Add value to json-rpc and id field of error
  be1-go/hub/organizer/mod.go
  be1-go/hub/organizer/mod_test.go
  be1-go/hub/witness/mod.go
  be1-go/network/socket/socket.go
Labels: be1-go

#560 add test for AddChirp
  fe1-web/model/network/method/message/data/__tests__/FromJsonData.test.ts
  fe1-web/model/network/method/message/data/chirp/index.ts
  fe1-web/model/network/method/message/data/index.ts
Labels: fe1-web

#526 Wrong/bad LAO data examples
  be1-go/message/query/method/message/message_test.go
  be1-go/message/test/messagedata/lao_create_test.go
  be1-go/message/test/messagedata/lao_state_test.go
  be1-go/message/test/messagedata/lao_update_test.go
  be2-scala/src/test/scala/ch/epfl/pop/json/MessageDataProtocolSuite.scala
  protocol/examples/messageData/lao_create/bad_lao_create_empty_name.json
  protocol/examples/messageData/lao_create/bad_lao_create_id_invalid_hash.json
  protocol/examples/messageData/lao_create/bad_lao_create_organizer_not_base64.json
  protocol/examples/messageData/lao_create/bad_lao_create_witness_not_base64.json
  protocol/examples/messageData/lao_create/lao_create.json
  protocol/examples/messageData/lao_create/wrong_lao_create_additional_params.json
  protocol/examples/messageData/lao_create/wrong_lao_create_missing_params.json
  protocol/examples/messageData/lao_state/bad_lao_state_creation_after_last_modified.json
  protocol/examples/messageData/lao_state/bad_lao_state_empty_name.json
  protocol/examples/messageData/lao_state/bad_lao_state_id_invalid_hash.json
  protocol/examples/messageData/lao_state/bad_lao_state_id_not_base64.json
  protocol/examples/messageData/lao_state/bad_lao_state_modification_id_invalid_hash.json
  protocol/examples/messageData/lao_state/bad_lao_state_organizer_not_base64.json
  protocol/examples/messageData/lao_state/bad_lao_state_witness_not_base64.json
  protocol/examples/messageData/lao_state/lao_state.json
  protocol/examples/messageData/lao_state/wrong_lao_state_additional_params.json
  protocol/examples/messageData/lao_state/wrong_lao_state_missing_params.json
  protocol/examples/messageData/lao_update/bad_lao_update_empty_name.json
  protocol/examples/messageData/lao_update/bad_lao_update_id_invalid_hash.json
  protocol/examples/messageData/lao_update/bad_lao_update_id_not_base64.json
  protocol/examples/messageData/lao_update/bad_lao_update_witness_not_base64.json
  protocol/examples/messageData/lao_update/lao_update.json
  protocol/examples/messageData/lao_update/wrong_lao_update_additional_params.json
  protocol/examples/messageData/lao_update/wrong_lao_update_missing_params.json
  protocol/test/main.test.js
  protocol/test/package-lock.json
Labels: proto-spec

#562 Add backup rules that exclude Keyset shared preferences
  fe2-android/app/src/main/AndroidManifest.xml
  fe2-android/app/src/main/res/xml/backup_rules.xml
Labels: bug, fe2-android

#556 Update the consensus stage 1
  be1-go/channel/consensus/mod.go
  be1-go/message/messagedata/consensus_elect.go
  be1-go/message/messagedata/consensus_elect_accept.go
  be1-go/message/messagedata/consensus_learn.go
  be1-go/message/messagedata/mod.go
  be1-go/message/test/messagedata/consensus_elect_accept_test.go
  be1-go/message/test/messagedata/consensus_elect_test.go
  be1-go/message/test/messagedata/consensus_learn_test.go
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusElect.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusElectAccept.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusKey.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusLearn.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Consensus.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/ConsensusNode.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/consensus/NodesAcceptorAdapter.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusElectAcceptTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusElectTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusLearnTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ConsensusTest.java
  protocol/examples/messageData/elect.json
  protocol/examples/messageData/elect_accept.json
  protocol/examples/messageData/learn.json
  protocol/query/method/message/data/dataElect.json
  protocol/query/method/message/data/dataElectAccept.json
  protocol/query/method/message/data/dataLearn.json
Labels: proto-spec, fe2-android

#569 Upgrade android libraries versions
  fe2-android/app/build.gradle
  fe2-android/app/src/main/AndroidManifest.xml
Labels: fe2-android

#561 Add test package and some tests for TextInputChirp
  fe1-web/components/TextInputChirp.tsx
  fe1-web/components/__tests__/TextInputChirp.test.tsx
  fe1-web/components/__tests__/__snapshots__/TextInputChirp.test.tsx.snap
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/sonar-project.properties
Labels: fe1-web

#570 CameraPermissionFragment overall
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/pages/qrcode/CameraPermissionPageObject.java
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/testutils/FragmentScenarioRule.java
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/testutils/MockResultRegistry.java
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/ui/home/CameraPermissionFragmentTest.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/CameraPermissionFragment.java
  fe2-android/app/src/main/res/layout/qrcode_camera_perm_fragment.xml
Labels: fe2-android

#543 Shutdown server on SIGTERM
  be2-scala/build.sbt
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/config/application.conf
Labels: be2-scala

#568 Add tests for lao channel
  be1-go/channel/lao/mod_test.go
Labels: be1-go

#532 created SocialMediaViewModel
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaViewModel.java
Labels: fe2-android

#555 Created an option menu which contains the settings tab
  fe2-android/app/src/main/AndroidManifest.xml
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ViewModelFactory.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAORequestFactory.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/settings/SettingsActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/settings/SettingsFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/settings/SettingsViewModel.java
  fe2-android/app/src/main/res/layout/settings_activity.xml
  fe2-android/app/src/main/res/layout/settings_fragment.xml
  fe2-android/app/src/main/res/menu/options_menu.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/mock/java/com/github/dedis/popstellar/Injection.java
  fe2-android/app/src/prod/java/com/github/dedis/popstellar/Injection.java
Labels: fe2-android

#584 Fix ReopenRollCall bug with new IOpenRollCall trait
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/IOpenRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/OpenRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/ReopenRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidator.scala
Labels: be2-scala

#590 add tests for CameraButton and WideButtonView
  fe1-web/components/__tests__/CameraButton.test.tsx
  fe1-web/components/__tests__/WideButtonView.test.tsx
  fe1-web/components/__tests__/__snapshots__/CameraButton.test.tsx.snap
  fe1-web/components/__tests__/__snapshots__/WideButtonView.test.tsx.snap
Labels: fe1-web

#588 Change the channel at which the chirps are sent
  fe1-web/ingestion/handlers/Election.ts
  fe1-web/model/objects/Channel.ts
  fe1-web/model/objects/__tests__/Channel.test.ts
  fe1-web/network/MessageApi.ts
  fe1-web/network/__tests__/MessageApi.test.ts
  fe1-web/network/__tests__/MessageApiSocial.test.ts
Labels: fe1-web

#585 Add chirp object
  fe1-web/model/objects/Chirp.ts
  fe1-web/model/objects/__tests__/Chirp.test.ts
Labels: fe1-web

#576 Move ViewModelFactory instance to Injection to make testing easier
  fe2-android/app/build.gradle
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ViewModelFactory.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/settings/SettingsActivity.java
  fe2-android/app/src/mock/java/com/github/dedis/popstellar/Injection.java
  fe2-android/app/src/prod/java/com/github/dedis/popstellar/Injection.java
Labels: fe2-android

#597 update CameraButton snapshot and jest config
  fe1-web/components/__tests__/CameraButton.test.tsx
  fe1-web/components/__tests__/WideButtonView.test.tsx
  fe1-web/components/__tests__/__snapshots__/CameraButton.test.tsx.snap
  fe1-web/jest.config.js
  fe1-web/jest/setup.js
  fe1-web/package-lock.json
  fe1-web/package.json
Labels: fe1-web

#595 Add cover package flag
  be1-go/Makefile
Labels: be1-go

#582 Add consensus frontend tests
  fe2-android/app/build.gradle
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/pages/detail/event/consensus/ElectionStartPageObject.java
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragmentTest.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragment.java
  fe2-android/app/src/main/res/layout/election_start_fragment.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
Labels: fe2-android

#577 Refactor handlers
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/DataHandlingException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/InvalidDataException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/InvalidMessageIdException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/InvalidSignatureException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/UnhandledDataTypeException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/UnknownDataActionException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/UnknownDataObjectException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/package-info.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/ConsensusHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/ElectionHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/GenericHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/LaoHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/MessageHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/RollCallHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/WitnessMessageHandler.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/LaoHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.java
Labels: fe2-android

#599 display latest posted chirp UI
  fe1-web/components/ChirpCard.tsx
  fe1-web/components/__tests__/ChirpCard.test.tsx
  fe1-web/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/parts/Social.tsx
Labels: fe1-web

#601 Work fe1 jwen social home navigation copy copy
  fe1-web/navigation/bars/LaoNavigation.tsx
  fe1-web/navigation/bars/MainNavigation.tsx
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/parts/lao/socialMedia/SocialFollows.tsx
  fe1-web/parts/lao/socialMedia/SocialHome.tsx
  fe1-web/parts/lao/socialMedia/SocialMediaNavigation.tsx
  fe1-web/parts/lao/socialMedia/SocialProfile.tsx
  fe1-web/parts/lao/socialMedia/SocialSearch.tsx
  fe1-web/res/strings.ts
  fe1-web/tsconfig.json
Labels: fe1-web

#541 Add election data on protocol documentation
  docs/messageData.md
  docs/protocol.md
  protocol/query/method/message/data/dataSetupElection.json
Labels: documentation, proto-spec

#580 Consensus tests and verify functions
  be1-go/channel/consensus/mod.go
  be1-go/channel/consensus/mod_test.go
  be1-go/channel/lao/mod.go
  be1-go/message/messagedata/consensus_elect.go
  be1-go/message/messagedata/consensus_elect_accept.go
  be1-go/message/messagedata/consensus_learn.go
  be1-go/message/test/messagedata/consensus_elect_accept_test.go
  be1-go/message/test/messagedata/consensus_elect_test.go
  be1-go/message/test/messagedata/consensus_learn_test.go
  protocol/examples/messageData/consensus_elect/elect.json
  protocol/examples/messageData/consensus_elect/wrong_elect_invalid_instance.json
  protocol/examples/messageData/consensus_elect/wrong_elect_negative_created_at.json
  protocol/examples/messageData/consensus_elect/wrong_elect_not_base_64_instance.json
  protocol/examples/messageData/consensus_elect_accept/elect_accept.json
  protocol/examples/messageData/consensus_elect_accept/wrong_elect_accept_not_base_64_instance.json
  protocol/examples/messageData/consensus_elect_accept/wrong_elect_accept_not_base_64_message.json
  protocol/examples/messageData/consensus_learn/learn.json
  protocol/examples/messageData/consensus_learn/wrong_learn_not_base_64_acceptor.json
  protocol/examples/messageData/consensus_learn/wrong_learn_not_base_64_instance.json
  protocol/examples/messageData/consensus_learn/wrong_learn_not_base_64_message.json
  protocol/test/main.test.js
Labels: be1-go

#544 Work be2 taddist unit tests
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/HighLevelProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/ChannelSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/SignatureSuite.scala
Labels: be2-scala, prod-ready

#583 Deactivate the DEBUG logs and provide resources to jar
  be2-scala/.gitignore
  be2-scala/build.sbt
  be2-scala/src/main/resources/logback.xml
  be2-scala/src/main/scala/ch/epfl/pop/config/application.conf
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Validator.scala
Labels: be2-scala

#602 Resolve websocket closing issue
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Answerer.scala
Labels: be2-scala, prod-ready

#604 Fix consensus UI and subscription
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/ConsensusHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/GenericHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/LaoHandler.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/LaoHandlerTest.java
Labels: bug, fe2-android

#581 Add check for correct signature
  be1-go/channel/lao/mod_test.go
  be1-go/hub/organizer/mod.go
  be1-go/hub/organizer/mod_test.go
  be1-go/hub/witness/witness_test.go
Labels: be1-go

#594 Store and display chirps
  fe1-web/components/ChirpCard.tsx
  fe1-web/docs/images/architecture-data-flow.png
  fe1-web/ingestion/handlers/Default.ts
  fe1-web/ingestion/handlers/RollCall.ts
  fe1-web/ingestion/handlers/SocialHandler.ts
  fe1-web/ingestion/handlers/index.ts
  fe1-web/model/objects/Channel.ts
  fe1-web/model/objects/Chirp.ts
  fe1-web/model/objects/__tests__/Channel.test.ts
  fe1-web/navigation/bars/MainNavigation.tsx
  fe1-web/network/MessageApi.ts
  fe1-web/parts/lao/socialMedia/SocialHome.tsx
  fe1-web/res/img/ic_camera.png
  fe1-web/store/reducers/RootReducer.ts
  fe1-web/store/reducers/SocialReducer.ts
  fe1-web/store/reducers/index.ts
Labels: fe1-web

#606 Add format check to CI
  .github/workflows/ci.yaml
  be1-go/Makefile
  be1-go/channel/election/mod.go
  be1-go/channel/inbox/mod_test.go
  be1-go/channel/lao/mod_test.go
  be1-go/channel/lao/verification.go
  be1-go/channel/lao/verification_test.go
  be1-go/hub/organizer/mod_test.go
  be1-go/hub/witness/witness_test.go
  be1-go/message/messagedata/chirp_publish_broadcast.go
  be1-go/message/messagedata/mod.go
  be1-go/mod.go
  be1-go/network/socket/socket.go
  be1-go/validation/schema_validator.go
  be1-go/validation/schema_validator_test.go
Labels: be1-go, prod-ready

#613 Fixes wrong go formatting
  be1-go/hub/organizer/mod.go
  be1-go/hub/organizer/mod_test.go
Labels: be1-go

#565 Basic resilient communication
  be1-go/channel/consensus/mod.go
  be1-go/channel/consensus/mod_test.go
  be1-go/channel/election/mod.go
  be1-go/channel/lao/mod.go
  be1-go/channel/lao/mod_test.go
  be1-go/channel/lao/verification_test.go
  be1-go/channel/mod.go
  be1-go/cli/organizer/organizer.go
  be1-go/cli/utility/mod.go
  be1-go/cli/utility/mod_test.go
  be1-go/cli/witness/witness.go
  be1-go/hub/mod.go
  be1-go/hub/standard_hub/message_handling.go
  be1-go/hub/standard_hub/mod.go
  be1-go/hub/standard_hub/mod_test.go
  be1-go/hub/witness/mod.go
  be1-go/hub/witness/witness_test.go
  be1-go/inbox/mod.go
  be1-go/inbox/mod_test.go
  be1-go/network/server.go
  be1-go/network/server_test.go
  be1-go/network/socket/socket.go
  be1-go/validation/schema_validator.go
  protocol/answer/error.json
  protocol/query/method/catchup.json
Labels: be1-go

#571 Work be1 rjaccard post chirp
  be1-go/channel/chirp/mod.go
  be1-go/channel/chirp/mod_test.go
  be1-go/channel/consensus/mod_test.go
  be1-go/channel/election/mod.go
  be1-go/channel/generalChirping/mod.go
  be1-go/channel/generalChirping/mod_test.go
  be1-go/channel/lao/mod.go
  be1-go/channel/lao/mod_test.go
  be1-go/channel/lao/verification_test.go
  be1-go/channel/mod.go
  be1-go/hub/standard_hub/mod.go
  be1-go/message/messagedata/chirp_broadcast.go
  be1-go/message/messagedata/chirp_delete.go
  be1-go/message/messagedata/mod.go
  protocol/examples/messageData/chirp_add_broadcast.json
  protocol/examples/messageData/chirp_delete_broadcast.json
  protocol/test/main.js
Labels: be1-go

#612 Redesign social page
  fe1-web/components/ChirpCard.tsx
  fe1-web/components/TextInputChirp.tsx
  fe1-web/components/__tests__/ChirpCard.test.tsx
  fe1-web/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/components/__tests__/__snapshots__/TextInputChirp.test.tsx.snap
  fe1-web/parts/lao/socialMedia/SocialHome.tsx
  fe1-web/res/strings.ts
Labels: fe1-web

#547 Wallet bugs (logout error and showPOP token bug) are fixed
  fe1-web/navigation/bars/LaoNavigation.tsx
  fe1-web/parts/wallet/WalletShowSeed.tsx
  fe1-web/parts/wallet/WalletSyncedSeed.tsx
Labels: fe1-web

#622 Wallet tokens update only on rollcall change
  fe1-web/parts/wallet/WalletSyncedSeed.tsx
Labels: fe1-web

#618 Corrected a small error in handleAnswer
  be1-go/hub/standard_hub/message_handling.go
Labels: be1-go

#623 Added build-web command
  fe1-web/.gitignore
  fe1-web/dist/README.md
  fe1-web/docs/README.md
  fe1-web/package-lock.json
  fe1-web/package.json
Labels: fe1-web

#611 Add json validation
  .gitignore
  fe2-android/app/build.gradle
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragmentTest.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/PublicKeySignaturePair.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionEnd.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionResult.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionResultQuestion.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/QuestionResult.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/CloseRollCall.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/OpenRollCall.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonAnswerSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonDataSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonMessageGeneralSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonUtils.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/JsonTestUtils.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusElectAcceptTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusElectTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/CastVoteTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionEndTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionQuestionTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionResultTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionSetupTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/lao/CreateLaoTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/lao/StateLaoTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/lao/UpdateLaoTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/CloseRollCallTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/CreateRollCallTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/OpenRollCallTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.java
Labels: fe2-android

#629 Work fe1 jwen npm sharp doc
  fe1-web/README.md
  fe1-web/package-lock.json
Labels: fe1-web

#619 Rename wallet reducer for tests
  fe1-web/store/reducers/WalletReducer.ts
  fe1-web/store/reducers/__tests__/WalletReducer.test.ts
Labels: fe1-web

#621 Check if the start time is in the past, and add tests
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/ui/detail/event/fragments/ElectionSetupFragmentTest.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/AbstractEventCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionSetupFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallEventCreationFragment.java
Labels: bug, fe2-android

#605 Added chirp object and its tests
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/AddChirp.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/AddChirpBroadcast.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Chirp.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/AddChirpBroadcastTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/AddChirpTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ChirpTest.java
Labels: fe2-android

#624 [BUG] Correct an error crashing a server when receiving an error
  be1-go/hub/standard_hub/message_handling.go
Labels: bug, be1-go

#617 Merge the two command line interface
  be1-go/Makefile
  be1-go/cli/mod.go
  be1-go/cli/mod_test.go
  be1-go/cli/organizer/organizer.go
  be1-go/cli/pop.go
  be1-go/cli/utility/mod.go
  be1-go/cli/witness/witness.go
Labels: be1-go

#608 add a pair of key per Hub
  be1-go/channel/chirp/mod.go
  be1-go/channel/chirp/mod_test.go
  be1-go/channel/consensus/mod_test.go
  be1-go/channel/generalChirping/mod_test.go
  be1-go/channel/lao/mod_test.go
  be1-go/channel/mod.go
  be1-go/hub/standard_hub/mod.go
Labels: be1-go

#589 Work be2 tuomas p database rework
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ActionType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/DataBuilder.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ObjectType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/socialMedia/AddChirp.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/requests/socialMedia/JsonRpcRequestAddChirp.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/ChannelData.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/LaoData.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/MessageDecoder.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Validator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsWithMessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/ChannelDataSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/LaoDataSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/DbActorSuite.scala
  be2-scala/src/test/scala/util/examples/MessageExample.scala
  protocol/query/method/message/data/dataAddChirp.json
  protocol/query/method/message/data/dataCastVote.json
Labels: be2-scala

#609 Work fe1 jwen roll call scanned notification copy
  fe1-web/App.tsx
  fe1-web/__mocks__/react-qr-reader/index.tsx
  fe1-web/network/__mocks__/MessageApi.ts
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/parts/lao/organizer/RollCallOpened.tsx
  fe1-web/parts/lao/organizer/__tests__/RollCallOpened.test.tsx
  fe1-web/parts/lao/organizer/__tests__/__snapshots__/RollCallOpened.test.tsx.snap
Labels: fe1-web
