Repository dedis/popstellar, pull requests merged in 2021-06, with the labels that each got.

#345 Wallet content on fe2
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/AttendeesListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/WalletListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/AddAttendeeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/AttendeesListFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/LaoWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/home/adapters/LAOListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/home/fragments/ContentWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/home/fragments/HomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/Wallet.java
  fe2-android/app/src/main/res/layout/fragment_attendees_list.xml
  fe2-android/app/src/main/res/layout/fragment_content_wallet.xml
  fe2-android/app/src/main/res/layout/fragment_lao_wallet.xml
  fe2-android/app/src/main/res/layout/layout_attendee.xml
  fe2-android/app/src/main/res/layout/layout_roll_call_event.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
Labels: digital-wallet, fe2-android

#362 Fix election data unmashalling problem
  be1-go/hub/election.go
  be1-go/message/message.go
Labels: be1-go

#364 Fix id of CreateLao
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/lao/CreateLao.java
Labels: bug, fe2-android

#367 Fix & Improve Scala CI
  .github/workflows/be2-scala.yml
  .github/workflows/ci.yaml
  be2-scala/build.sbt
  be2-scala/project/plugins.sbt
Labels: be2-scala

#352 Cast Vote Protocol + ElectionSetup fixed
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/EventExpandableListViewAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/listeners/OnEventCreatedListener.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/listeners/OnEventTypeSelectedListener.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/ElectionVote.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/Data.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/election/CastVote.java
  fe2-android/app/src/main/res/layout/layout_event.xml
Labels: fe2-android

#378 Provisional fix for the windows path problem
  be1-go/hub/organizer.go
Labels: be1-go, bug

#366 Centralise id generation and recheck protocol specifications
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/data/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/event/EventType.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/election/CastVote.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionQuestion.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionSetup.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionVote.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/lao/CreateLao.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/lao/StateLao.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/lao/UpdateLao.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/meeting/CreateMeeting.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/meeting/StateMeeting.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/rollcall/CloseRollCall.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/rollcall/CreateRollCall.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/rollcall/OpenRollCall.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/utility/network/IdGenerator.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionQuestionTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/utility/network/IdGeneratorTest.java
Labels: fe2-android

#365 Fix error message
  fe1-web/model/network/method/message/Message.ts
Labels: fe1-web

#374 Check that proposed_start < proposed_end
  be1-go/hub/organizer_test.go
  be1-go/hub/rollCall.go
Labels: be1-go

#337 Order the message in a catchup answer
  be1-go/hub/base_channel.go
  be1-go/hub/base_channel_test.go
  be1-go/hub/election.go
  be1-go/hub/inbox.go
  be1-go/hub/inbox_test.go
  be1-go/hub/organizer.go
Labels: be1-go

#359 Add test for Wallet UI & cross-validation with Fe1-web
  fe2-android/app/src/androidTest/java/com/github/dedis/student20_pop/home/WalletFragmentTest.java
  fe2-android/app/src/androidTest/java/com/github/dedis/student20_pop/home/WalletTest.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/Wallet.java
  fe2-android/app/src/mock/java/com/github/dedis/student20_pop/Injection.java
Labels: digital-wallet, fe2-android

#327 CastVote Fragment
  fe2-android/app/build.gradle
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/EventExpandableListViewAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/QuestionViewPagerAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/CastVoteFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/ManageElectionFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/Election.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/data/LAORepository.java
  fe2-android/app/src/main/res/layout/fragment_cast_vote.xml
  fe2-android/app/src/main/res/layout/fragment_create_roll_call_event.xml
  fe2-android/app/src/main/res/layout/layout_cast_vote_listview.xml
  fe2-android/app/src/main/res/values/colors.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/ElectionTest.java
Labels: fe2-android

#379 Manage Election UI
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/ManageElectionFragment.java
  fe2-android/app/src/main/res/layout/fragment_manage_election.xml
Labels: fe2-android

#387 Fix Message Id
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/MessageGeneral.java
Labels: fe2-android

#386 add new UI test
  fe2-android/app/src/androidTest/java/com/github/dedis/student20_pop/home/WalletFragmentTest.java
Labels: fe2-android

#315 Implementation of a generic hub
  .github/workflows/ci.yaml
  .gitignore
  be1-go/Makefile
  be1-go/README.md
  be1-go/cli/witness/witness.go
  be1-go/go.mod
  be1-go/go.sum
  be1-go/hub/base_channel.go
  be1-go/hub/base_hub.go
  be1-go/hub/organizer.go
  be1-go/hub/organizer_test.go
  be1-go/hub/witness.go
  be1-go/make.bat
  be1-go/message/message.go
  be1-go/validation/schema_validator.go
  be1-go/validation/schema_validator_test.go
Labels: be1-go

#377 check only attendees can cast votes
  be1-go/hub/base_hub.go
  be1-go/hub/election.go
  be1-go/hub/organizer.go
  be1-go/hub/organizer_test.go
  be1-go/hub/rollCall.go
Labels: be1-go

#381 test witness and servers
  be1-go/README.md
  be1-go/cli/pop.go
  be1-go/cli/witness/witness.go
  be1-go/cli/witness/witness_test.go
  be1-go/hub/witness_test.go
  be1-go/network/serveWs_test.go
  be1-go/network/shutdown.go
  be1-go/network/shutdown_test.go
Labels: be1-go

#383 Tests
  fe2-android/app/src/androidTest/java/com/github/dedis/student20_pop/home/LaunchFragmentTest.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/election/CastVote.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionVote.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/lao/UpdateLao.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/LaoTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/data/election/CastVoteTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionVoteTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/data/lao/CreateLaoTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/data/lao/StateLaoTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/data/lao/UpdateLaoTest.java
Labels: fe2-android

#372 Witness UI
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/WitnessListViewAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/WitnessMessageListViewAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/IdentityFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/LaoDetailFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/WitnessMessageFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/WitnessMessage.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/data/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/MessageGeneral.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/Data.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/message/WitnessMessageSignature.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/qrcode/CameraPermissionFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/qrcode/QRCodeScanningFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/qrcode/QRCodeScanningViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/qrcode/ScanningAction.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/utility/qrcode/QRFocusingProcessor.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/utility/security/Signature.java
  fe2-android/app/src/main/res/drawable/check_mark.xml
  fe2-android/app/src/main/res/layout/activity_home.xml
  fe2-android/app/src/main/res/layout/fragment_camera_perm.xml
  fe2-android/app/src/main/res/layout/fragment_identity.xml
  fe2-android/app/src/main/res/layout/fragment_lao_detail.xml
  fe2-android/app/src/main/res/layout/fragment_manage_election.xml
  fe2-android/app/src/main/res/layout/fragment_qrcode.xml
  fe2-android/app/src/main/res/layout/fragment_witness_message.xml
  fe2-android/app/src/main/res/layout/layout_witness_message.xml
  fe2-android/app/src/main/res/layout/layout_witnesses_list_view.xml
  fe2-android/app/src/main/res/layout/tab_properties.xml
  fe2-android/app/src/main/res/layout/tab_witness.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
Labels: fe2-android

#395 set proposed_end for rollcall to proposed_start+1 hour by default
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/event/creation/RollCallEventCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/rollcall/CreateRollCall.java
Labels: fe2-android

#335 Handling of ElectionEnd/ElectionResult data
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/EventExpandableListViewAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/QuestionViewPagerAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/CastVoteFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/ManageElectionFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/Election.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/data/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/event/EventState.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/MessageGeneral.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/Data.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/ElectionQuestion.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/ElectionResultQuestion.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/ElectionVote.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/QuestionResult.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/election/CastVote.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionEnd.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionResult.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionSetup.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/utility/json/JsonDataSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/utility/json/JsonGenericMessageDeserializer.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/utility/json/JsonMessageGeneralSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/utility/json/JsonMessageSerializer.java
  fe2-android/app/src/main/res/layout/layout_election_display.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/ElectionTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/ElectionQuestionResultTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/QuestionResultTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/data/election/CastVoteTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionEndTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionQuestionTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionResultTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionSetupTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionVoteTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/utility/network/IdGeneratorTest.java
Labels: fe2-android

#394 Multiple questions in election setup
  fe2-android/app/src/main/AndroidManifest.xml
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/CastVoteViewPagerAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/ElectionSetupViewPagerAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/EventExpandableListViewAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/CastVoteFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/event/creation/ElectionSetupFragment.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/transformers/ZoomOutTransformer.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionSetup.java
  fe2-android/app/src/main/res/layout/fragment_manage_election.xml
  fe2-android/app/src/main/res/layout/fragment_setup_election_event.xml
  fe2-android/app/src/main/res/layout/layout_ballot_option.xml
  fe2-android/app/src/main/res/layout/layout_election_setup_question.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/network/method/message/data/election/ElectionSetupTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/utility/network/IdGeneratorTest.java
Labels: fe2-android

#397 Election Result UI
  fe2-android/app/build.gradle
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/ElectionResultListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/adapters/ElectionResultPagerAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/detail/fragments/ElectionResultFragment.java
  fe2-android/app/src/main/res/layout/fragment_election_result.xml
  fe2-android/app/src/main/res/layout/layout_election_result_listview.xml
  fe2-android/app/src/main/res/layout/layout_election_result_pager.xml
Labels: fe2-android
