Repository dedis/popstellar, pull requests merged in 2021-12, with the labels that each got.

#633 CI coverage issue and fmt
  .github/workflows/ci.yaml
  be1-go/Makefile
Labels: bug, be1-go

#628 Set first karate test
  .gitignore
  tests/karate/.editorconfig
  tests/karate/README.md
  tests/karate/pom.xml
  tests/karate/src/test/java/be/ServerTest.java
  tests/karate/src/test/java/be/createLAO/create.feature
  tests/karate/src/test/java/be/utils/Configurable.java
  tests/karate/src/test/java/be/utils/GoServer.java
  tests/karate/src/test/java/be/utils/Runnable.java
  tests/karate/src/test/java/be/utils/ScalaServer.java
  tests/karate/src/test/java/be/utils/Server.java
  tests/karate/src/test/java/be/utils/server.feature
  tests/karate/src/test/java/karate-config.js
  tests/karate/src/test/java/logback-test.xml
Labels: prod-ready

#626 AnswerValidatorTestSuite and JRPC broadcast parse bug fix
  be2-scala/.gitignore
  be2-scala/src/main/resources/protocol/query/query.json
  be2-scala/src/main/scala/ch/epfl/pop/json/HighLevelProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/ResultObject.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/AnswerGenerator.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/HighLevelProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/AnswerGeneratorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validator/SchemaValidatorSuite.scala
Labels: be2-scala

#637 Added Chirp handler and its tests
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/ChirpHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/MessageHandler.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ChirpHandlerTest.java
Labels: fe2-android

#644 Organizer's pop token creation
  fe1-web/network/MessageApi.ts
  fe1-web/network/__tests__/MessageApi.test.ts
Labels: fe1-web

#642 Enhance SonarCloud reports for Android
  fe2-android/app/build.gradle
  fe2-android/app/src/debug/AndroidManifest.xml
  fe2-android/build.gradle
Labels: fe2-android

#649 Work be2 taddist test validators
  be2-scala/build.sbt
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validator/Lao/CreateLaoContentSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validator/Lao/CreateLaoDecoderSuite.scala
  be2-scala/src/test/scala/util/examples/Lao/CreateLaoExamples.scala
Labels: be2-scala

#638 Work rjaccard protocol json reaction
  protocol/examples/messageData/reaction_add.json
  protocol/examples/messageData/reaction_delete.json
  protocol/query/method/message/data/data.json
  protocol/query/method/message/data/dataAddReaction.json
  protocol/query/method/message/data/dataCreateTopic.json
  protocol/query/method/message/data/dataDeleteChirpBroadcast.json
  protocol/query/method/message/data/dataDeleteReaction.json
  protocol/test/main.js
  protocol/test/main.test.js
Labels: proto-spec

#658 add Cache in DbActor
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
Labels: be2-scala

#646 Work be1 rjaccard issue#645
  be1-go/channel/chirp/mod.go
  be1-go/channel/chirp/mod_test.go
  be1-go/channel/consensus/mod.go
  be1-go/channel/consensus/mod_test.go
  be1-go/message/messagedata/mod.go
  be1-go/message/test/messagedata/consensus_elect_accept_test.go
  fe1-web/model/network/method/message/data/MessageData.ts
  fe1-web/model/network/validation/Validator.ts
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusElectAccept.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/ConsensusHandler.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
  protocol/examples/messageData/chirp_add_broadcast.json
  protocol/examples/messageData/chirp_delete_broadcast.json
  protocol/examples/messageData/consensus_elect_accept/elect_accept.json
  protocol/examples/messageData/consensus_elect_accept/wrong_elect_accept_not_base_64_instance.json
  protocol/examples/messageData/consensus_elect_accept/wrong_elect_accept_not_base_64_message.json
  protocol/query/method/message/data/dataAddChirpBroadcast.json
  protocol/query/method/message/data/dataDeleteChirpBroadcast.json
  protocol/query/method/message/data/dataElectAccept.json
Labels: proto-spec

#668 Fix issue where the built web-page is blank
  fe1-web/package.json
Labels: fe1-web

#659 Make ChirpCard tests use fake time
  fe1-web/components/__tests__/ChirpCard.test.tsx
  fe1-web/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
Labels: fe1-web

#631 QoL change : copy the seed by clicking on it
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/ui/home/WalletFragmentTest.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/SeedWalletFragment.java
  fe2-android/app/src/main/res/layout/wallet_seed_fragment.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusAcceptTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
  fe2-android/docs/README.md
Labels: fe2-android

#669 Force the encoding to UTF-8 for local files copy
  fe2-android/app/build.gradle
Labels: bug, fe2-android

#662 Add front-end testing to the Karate project
  fe2-android/app/build.gradle
  tests/karate/README.md
  tests/karate/src/test/java/be/createLAO/create.feature
  tests/karate/src/test/java/common/net/MessageBuffer.java
  tests/karate/src/test/java/common/net/MessageFilters.java
  tests/karate/src/test/java/common/net/MessageQueue.java
  tests/karate/src/test/java/common/net/MessageQueueTest.java
  tests/karate/src/test/java/common/net/MultiMsgWebSocketClient.java
  tests/karate/src/test/java/common/net/filters.feature
  tests/karate/src/test/java/fe/FrontEndTest.java
  tests/karate/src/test/java/fe/create_lao.feature
  tests/karate/src/test/java/fe/net/MockBackend.java
  tests/karate/src/test/java/fe/net/ReplyMethods.java
  tests/karate/src/test/java/fe/net/mockbackend.feature
  tests/karate/src/test/java/fe/utils/android.feature
  tests/karate/src/test/java/fe/utils/web.feature
  tests/karate/src/test/java/karate-config.js
  tests/karate/src/test/java/logback-test.xml
Labels: prod-ready

#654 Follow attendees of a Roll Call
  fe1-web/components/UserListItem.tsx
  fe1-web/components/__tests__/UserListItem.test.tsx
  fe1-web/components/__tests__/__snapshots__/UserListItem.test.tsx.snap
  fe1-web/ingestion/handlers/RollCall.ts
  fe1-web/model/objects/Channel.ts
  fe1-web/model/objects/__tests__/Channel.test.ts
  fe1-web/network/MessageApi.ts
  fe1-web/parts/lao/organizer/RollCallOpened.tsx
  fe1-web/parts/lao/organizer/__tests__/RollCallOpened.test.tsx
  fe1-web/parts/lao/socialMedia/SocialSearch.tsx
  fe1-web/res/strings.ts
  fe1-web/store/reducers/EventsReducer.ts
Labels: fe1-web

#678 Adds a common interface for message data
  be1-go/channel/consensus/mod.go
  be1-go/channel/registry/mod.go
  be1-go/message/messagedata/consensus_accept.go
  be1-go/message/messagedata/consensus_elect.go
  be1-go/message/messagedata/consensus_elect_accept.go
  be1-go/message/messagedata/consensus_learn.go
  be1-go/message/messagedata/consensus_prepare.go
  be1-go/message/messagedata/consensus_promise.go
  be1-go/message/messagedata/consensus_propose.go
  be1-go/message/messagedata/mod.go
Labels: be1-go

#679 fix for issue 663
  be1-go/hub/standard_hub/mod_test.go
Labels: be1-go

#652 Go add registry
  be1-go/channel/consensus/mod.go
  be1-go/channel/registry/mod.go
  be1-go/message/messagedata/consensus_accept.go
  be1-go/message/messagedata/consensus_elect.go
  be1-go/message/messagedata/consensus_elect_accept.go
  be1-go/message/messagedata/consensus_learn.go
  be1-go/message/messagedata/consensus_prepare.go
  be1-go/message/messagedata/consensus_promise.go
  be1-go/message/messagedata/consensus_propose.go
  be1-go/message/messagedata/mod.go
Labels: be1-go

#661 Adds tips about making a PR
  be1-go/README.md
  be1-go/docs/images/vscode-format.png
  be1-go/docs/images/vscode-lint.png
Labels: be1-go

#640 Send election result
  .github/workflows/ci.yaml
  be1-go/Makefile
  be1-go/channel/election/mod.go
  be1-go/channel/election/mod_test.go
  be1-go/channel/election/verification.go
  be1-go/channel/election/verification_test.go
  be1-go/channel/lao/mod.go
  be1-go/channel/lao/mod_test.go
  be1-go/channel/lao/verification.go
  be1-go/channel/lao/verification_test.go
  be1-go/message/test/messagedata/election_end_test.go
  be1-go/message/test/messagedata/election_setup_test.go
  be1-go/message/test/messagedata/vote_cast_vote_test.go
  be2-scala/src/test/scala/ch/epfl/pop/json/MessageDataProtocolSuite.scala
  protocol/examples/messageData/election_end/bad_election_end_created_at_before_end.json
  protocol/examples/messageData/election_end/bad_election_end_created_at_negative.json
  protocol/examples/messageData/election_end/bad_election_end_election_invalid_hash.json
  protocol/examples/messageData/election_end/bad_election_end_election_not_base64.json
  protocol/examples/messageData/election_end/bad_election_end_lao_invalid_hash.json
  protocol/examples/messageData/election_end/bad_election_end_lao_not_base64.json
  protocol/examples/messageData/election_end/bad_election_end_registered_votes_not_base64.json
  protocol/examples/messageData/election_end/election_end.json
  protocol/examples/messageData/election_setup/bad_election_setup_created_at_negative.json
  protocol/examples/messageData/election_setup/bad_election_setup_end_time_before_created_at.json
  protocol/examples/messageData/election_setup/bad_election_setup_end_time_negative.json
  protocol/examples/messageData/election_setup/bad_election_setup_id_invalid_hash.json
  protocol/examples/messageData/election_setup/bad_election_setup_id_not_base64.json
  protocol/examples/messageData/election_setup/bad_election_setup_lao_id_invalid_hash.json
  protocol/examples/messageData/election_setup/bad_election_setup_lao_id_not_base64.json
  protocol/examples/messageData/election_setup/bad_election_setup_name_empty.json
  protocol/examples/messageData/election_setup/bad_election_setup_question_empty.json
  protocol/examples/messageData/election_setup/bad_election_setup_question_id_invalid_hash.json
  protocol/examples/messageData/election_setup/bad_election_setup_question_id_not_base64.json
  protocol/examples/messageData/election_setup/bad_election_setup_question_voting_method_invalid.json
  protocol/examples/messageData/election_setup/bad_election_setup_start_time_before_created_at.json
  protocol/examples/messageData/election_setup/bad_election_setup_start_time_negative.json
  protocol/examples/messageData/election_setup/election_setup.json
  protocol/examples/messageData/vote_cast_vote/bad_vote_cast_vote_created_at_after_end.json
  protocol/examples/messageData/vote_cast_vote/bad_vote_cast_vote_created_at_before_start.json
  protocol/examples/messageData/vote_cast_vote/bad_vote_cast_vote_created_at_negative.json
  protocol/examples/messageData/vote_cast_vote/bad_vote_cast_vote_election_invalid_hash.json
  protocol/examples/messageData/vote_cast_vote/bad_vote_cast_vote_election_not_base64.json
  protocol/examples/messageData/vote_cast_vote/bad_vote_cast_vote_lao_invalid_hash.json
  protocol/examples/messageData/vote_cast_vote/bad_vote_cast_vote_lao_not_base64.json
  protocol/examples/messageData/vote_cast_vote/vote_cast_vote.json
  protocol/test/main.test.js
Labels: be1-go

#672 Update README.md
  be2-scala/docs/README.md
Labels: be2-scala

#665 Add a message data for when the consensus failed
  protocol/examples/messageData/consensus_failure/failure.json
  protocol/examples/messageData/consensus_failure/wrong_failure_negative_created_at.json
  protocol/query/method/message/data/data.json
  protocol/query/method/message/data/dataFailure.json
  protocol/test/main.js
  protocol/test/main.test.js
Labels: proto-spec

#691 Fix election id generation on the web front-end
  fe1-web/model/network/method/message/data/election/SetupElection.ts
  fe1-web/network/MessageApi.ts
Labels: fe1-web

#676 Add a registry of data handlers
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragmentTest.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/DataRegistryModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/JsonModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Data.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/DataRegistry.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonDataSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonUtils.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/ChirpHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/GenericHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/MessageHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ChirpHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ConsensusHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/DataHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ElectionHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/HandlerContext.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/RollCallHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/WitnessMessageHandler.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/JsonTestUtils.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/repository/LAORepositoryTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ChirpHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/LaoHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.java
Labels: fe2-android

#694 Fix the inbox of the consensus
  be1-go/channel/consensus/mod.go
Labels: be1-go

#688 Update readme with run config
  be2-scala/README.md
  be2-scala/docs/images/intellij-vm.png
  be2-scala/src/main/scala/ch/epfl/pop/config/ServerConf.scala
  be2-scala/src/main/scala/ch/epfl/pop/config/application.conf
Labels: documentation, be2-scala

#696 Create new immutable JsonRpcRequest with decoded data
  be2-scala/build.sbt
  be2-scala/src/main/scala/ch/epfl/pop/model/network/JsonRpcRequest.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/Message.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/MessageDecoder.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/JsonRpcRequestSuite.scala
Labels: be2-scala

#699 Fix roll call handling
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
Labels: be2-scala

#706 Update build configuration for scala
  be2-scala/build.sbt
  be2-scala/project/build.properties
  be2-scala/project/plugins.sbt
Labels: be2-scala

#705 Additional checks for base64 and refactor tests
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Base64Data.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/JsonRpcRequestSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/ChannelDataSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/ChannelSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/LaoDataSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/DbActorSuite.scala
  be2-scala/src/test/scala/util/examples/MessageExample.scala
Labels: be2-scala

#698 add more tests to election channel and chirp channel
  be1-go/channel/chirp/mod_test.go
  be1-go/channel/election/mod.go
  be1-go/channel/election/mod_test.go
  be1-go/channel/election/verification_test.go
Labels: be1-go

#680 Add consensus frontend stage 3
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragmentTest.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/DataRegistryModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusFailure.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ConsensusHandler.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusFailureTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
Labels: fe2-android

#673 Change message signatures
  fe1-web/model/network/method/message/Message.ts
  fe1-web/model/network/method/message/__tests__/Message.test.ts
  fe1-web/model/network/method/message/data/MessageProperties.ts
  fe1-web/model/objects/wallet/Token.ts
  fe1-web/model/objects/wallet/__tests__/Token.test.ts
  fe1-web/model/objects/wallet/index.ts
  fe1-web/network/JsonRpcApi.ts
  fe1-web/parts/lao/organizer/RollCallOpened.tsx
  fe1-web/store/stores/index.ts
  tests/data/keypair.json
Labels: fe1-web

#713 [BUG] Fix for issue #709
  be1-go/cli/mod_test.go
  be1-go/network/socket/socket.go
Labels: bug, be1-go

#697 Modified viewmodels and objects for social media
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaViewModel.java
  fe2-android/app/src/main/res/values/strings.xml
Labels: fe2-android

#715 Follow ourselves automatically
  fe1-web/ingestion/handlers/RollCall.ts
Labels: fe1-web

#683 Enable attendees to send chirps
  fe1-web/components/TextInputChirp.tsx
  fe1-web/ingestion/Handler.ts
  fe1-web/ingestion/handlers/RollCall.ts
  fe1-web/model/network/method/message/Message.ts
  fe1-web/model/objects/Channel.ts
  fe1-web/model/objects/RollCall.ts
  fe1-web/model/objects/__tests__/Channel.test.ts
  fe1-web/model/objects/wallet/Token.ts
  fe1-web/model/objects/wallet/__tests__/Token.test.ts
  fe1-web/network/MessageApi.ts
  fe1-web/network/__tests__/MessageApiSocial.test.ts
  fe1-web/parts/lao/socialMedia/SocialHome.tsx
Labels: fe1-web
