Repository dedis/popstellar, pull requests merged in 2021-01, with the labels that each got.

#160 PoP CI be2-scala
  .github/workflows/be2-scala.yml
  project/plugins.sbt
  src/test/scala/ch/epfl/pop/tests/pubsub/PubSubTest.scala
Labels: be2-scala

#147 fe-1 milestone advancements issue 98
  PopApp/package-lock.json
  PopApp/package.json
  PopApp/test/mochaTest.js
  PopApp/test/websockets/mochaRecursiveTest.js
  PopApp/websockets/JsonSchemaValidation.js
  PopApp/websockets/WebsocketAnswer.js
  PopApp/websockets/WebsocketApi.js
  PopApp/websockets/WebsocketLink.js
  PopApp/websockets/WebsocketUtils.js
  README.md
Labels: fe1-web

#161 PoP CI fe1-web
  .github/workflows/fe1-web.yaml
  PopApp/Components/CreatePoll.js
  PopApp/Components/DiscussionEvent.js
  PopApp/Components/EventItem.js
  PopApp/Components/Launch.js
  PopApp/Components/MeetingEvent.js
  PopApp/Components/PollEvent.js
  PopApp/Components/RollCallEvent.js
  PopApp/Components/RollCallEventOrganizer.js
  PopApp/Store/configureStore.js
  PopApp/babel.config.js
  PopApp/package.json
  PopApp/websockets/LocalMockServer.js
  PopApp/websockets/WebsocketAnswer.js
  PopApp/websockets/WebsocketLink.js
Labels: fe1-web

#156 Change concatenation as described in #133
  src/main/scala/ch/epfl/pop/crypto/Hash.scala
  src/test/scala/ch/epfl/pop/tests/MessageCreationUtils.scala
  src/test/scala/ch/epfl/pop/tests/ValidateTest.scala
  src/test/scala/ch/epfl/pop/tests/crypto/HashTest.scala
  src/test/scala/ch/epfl/pop/tests/pubsub/PubSubTest.scala
Labels: be2-scala

#175 fe2-android CI
  .github/workflows/fe2-android.yml
  .gitmodules
Labels: fe2-android

#166 Display dates/times as human readable dates/times instead of long numbers
  app/src/main/java/com/github/dedis/student20_pop/ui/HomeFragment.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/eventadapter/AttendeeExpandableListViewEventAdapter.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/eventadapter/ExpandableListViewEventAdapter.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/eventadapter/OrganizerExpandableListViewEventAdapter.java
Labels: enhancement, fe2-android

#177 Display Participant # for Roll-Call Event
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/eventadapter/AttendeeExpandableListViewEventAdapter.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/eventadapter/ExpandableListViewEventAdapter.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/eventadapter/OrganizerExpandableListViewEventAdapter.java
Labels: fe2-android

#180 Fix addTwiceSameAttendeeShowsToast and addTwiceSameWitnessShowsToast tests
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/AddAttendeeFragmentTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/OrganizerFragmentTest.java
Labels: fe2-android

#181 Fix Unix Timestamp
  app/src/androidTest/java/com/github/dedis/student20_pop/PoPApplicationTest.java
  app/src/main/java/com/github/dedis/student20_pop/MainActivity.java
  app/src/main/java/com/github/dedis/student20_pop/PoPApplication.java
  app/src/main/java/com/github/dedis/student20_pop/model/Election.java
  app/src/main/java/com/github/dedis/student20_pop/model/Lao.java
  app/src/main/java/com/github/dedis/student20_pop/model/Vote.java
  app/src/main/java/com/github/dedis/student20_pop/model/event/Event.java
  app/src/main/java/com/github/dedis/student20_pop/utility/security/Hash.java
  app/src/main/java/com/github/dedis/student20_pop/utility/security/Signature.java
  app/src/test/java/com/github/dedis/student20_pop/model/ElectionTest.java
  app/src/test/java/com/github/dedis/student20_pop/model/EventsTest.java
  app/src/test/java/com/github/dedis/student20_pop/model/LaoTest.java
  app/src/test/java/com/github/dedis/student20_pop/model/VoteTest.java
  app/src/test/java/com/github/dedis/student20_pop/utility/security/HashTest.java
  app/src/test/java/com/github/dedis/student20_pop/utility/security/SignatureTest.java
Labels: fe2-android

#184 Fix Unix Timestamp for Events
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/AddAttendeeFragmentTest.java
  app/src/main/java/com/github/dedis/student20_pop/PoPApplication.java
  app/src/main/java/com/github/dedis/student20_pop/model/event/Event.java
  app/src/main/java/com/github/dedis/student20_pop/model/event/MeetingEvent.java
  app/src/main/java/com/github/dedis/student20_pop/model/event/PollEvent.java
  app/src/main/java/com/github/dedis/student20_pop/model/event/RollCallEvent.java
  app/src/main/java/com/github/dedis/student20_pop/ui/event/creation/AbstractEventCreationFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/event/creation/MeetingEventCreationFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/event/creation/PollEventCreationFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/event/creation/RollCallEventCreationFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/event/creation/pickers/DatePickerFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/event/creation/pickers/TimePickerFragment.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/eventadapter/ExpandableListViewEventAdapter.java
  app/src/test/java/com/github/dedis/student20_pop/model/EventsTest.java
Labels: fe2-android

#168 Work be2 sebastien rollcall validation
  src/main/scala/ch/epfl/pop/Validate.scala
  src/main/scala/ch/epfl/pop/crypto/Hash.scala
  src/main/scala/ch/epfl/pop/json/JsonMessageParser.scala
  src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  src/test/scala/ch/epfl/pop/tests/ValidateTest.scala
  src/test/scala/ch/epfl/pop/tests/pubsub/PubSubTest.scala
Labels: be2-scala

#190 Add Swipe-to-Refresh
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/AddAttendeeFragmentTest.java
  app/src/main/java/com/github/dedis/student20_pop/PoPApplication.java
  app/src/main/java/com/github/dedis/student20_pop/ui/AttendeeFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/HomeFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/OrganizerFragment.java
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/adapter/EventExpandableListViewAdapter.java
  app/src/main/res/layout/fragment_attendee.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_organizer.xml
  app/src/main/res/values/strings.xml
Labels: fe2-android

#192 Add a todo for delete witness functionality
  app/src/main/java/com/github/dedis/student20_pop/utility/ui/adapter/WitnessListViewAdapter.java
  app/src/main/res/values/strings.xml
Labels: fe2-android

#191 Fix warnings
  .github/workflows/fe2-android.yml
  README.md
  app/src/androidTest/java/com/github/dedis/student20_pop/MainActivityTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/OrganizerFragmentTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/event/creation/MeetingEventCreationFragmentTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/event/creation/PollEventCreationFragmentTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/event/creation/RollCallEventCreationFragmentTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/event/creation/pickers/DatePickerFragmentTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/event/creation/pickers/TimePickerFragmentTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/qrcode/AddAttendeeFragmentTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/qrcode/CameraPermissionFragmentTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/ui/qrcode/QRCodeScanningFragmentTest.java
  app/src/androidTest/java/com/github/dedis/student20_pop/utility/network/ProtocolTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/github/dedis/student20_pop/OrganizerActivity.java
  app/src/main/java/com/github/dedis/student20_pop/PoPApplication.java
  app/src/main/java/com/github/dedis/student20_pop/ui/OrganizerFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/event/creation/AbstractEventCreationFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/event/creation/PollEventCreationFragment.java
  app/src/main/java/com/github/dedis/student20_pop/ui/event/creation/pickers/DatePickerFragment.java
  app/src/main/res/drawable/access_time_24px.xml
  app/src/main/res/drawable/date_range_24px.xml
  app/src/main/res/layout/event_category_layout.xml
  app/src/main/res/layout/fragment_connecting.xml
  app/src/main/res/layout/fragment_create_meeting_event.xml
  app/src/main/res/layout/fragment_create_poll_event.xml
  app/src/main/res/layout/fragment_create_roll_call_event.xml
  app/src/main/res/layout/fragment_identity.xml
  app/src/main/res/layout/fragment_launch.xml
  app/src/main/res/layout/fragment_organizer.xml
  app/src/main/res/layout/fragment_qrcode.xml
  app/src/main/res/layout/layout_enter_date.xml
  app/src/main/res/layout/layout_enter_time.xml
  app/src/main/res/layout/layout_poll_choices.xml
  app/src/main/res/layout/layout_properties.xml
  app/src/main/res/layout/layout_properties_edit.xml
  app/src/main/res/layout/tab_connect_launch.xml
  app/src/main/res/layout/tab_home.xml
  app/src/main/res/layout/tab_identity_properties.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Labels: fe2-android

#186 Tests and comments
  src/main/scala/ch/epfl/pop/DBActor.scala
  src/main/scala/ch/epfl/pop/Server.scala
  src/main/scala/ch/epfl/pop/pubsub/ChannelActor.scala
  src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  src/main/scala/ch/epfl/pop/pubsub/Unsub.scala
  src/test/scala/ch/epfl/pop/tests/pubsub/PubSubTest.scala
Labels: be2-scala

#167 fe-1 connection of UI to the network part
  PopApp/Components/Attendee.js
  PopApp/Components/CreateMeeting.js
  PopApp/Components/CreateRollCall.js
  PopApp/Components/DiscussionEvent.js
  PopApp/Components/EventItem.js
  PopApp/Components/EventsCollapsableList.js
  PopApp/Components/Home.js
  PopApp/Components/LAOItem.js
  PopApp/Components/MeetingEvent.js
  PopApp/Components/OrganizationNameProperty.js
  PopApp/Components/Organizer.js
  PopApp/Components/OrganizerCollapsableList.js
  PopApp/Components/OrganizerMaterialTab.js
  PopApp/Components/PollEvent.js
  PopApp/Components/RollCallEvent.js
  PopApp/Components/RollCallEventOrganizer.js
  PopApp/Components/RollCallScanning.js
  PopApp/Components/WitnessProperty.js
  PopApp/Navigation/AppNavigation.js
  PopApp/Navigation/OrganizationNavigation.js
  PopApp/Store/Reducers/appToggleReducer.js
  PopApp/Store/Reducers/connectLAOsReducer.js
  PopApp/Store/Reducers/currentEventsReducer.js
  PopApp/Store/Reducers/openRollCallIDReducer.js
  PopApp/Store/configureStore.js
  PopApp/__tests__/currentEventsReducerTest.js
  PopApp/package-lock.json
  PopApp/package.json
  PopApp/res/EventData.js
  PopApp/res/Props.js
  PopApp/res/laoData.js
  PopApp/res/propretiesData.js
  PopApp/res/strings.js
  README.md
Labels: fe1-web

#198 Be2 final bug fix
  src/main/scala/ch/epfl/pop/Server.scala
  src/main/scala/ch/epfl/pop/Validate.scala
  src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  src/test/scala/ch/epfl/pop/tests/ValidateTest.scala
Labels: be2-scala

#193 Bug fixes + unit tests
  PopApp/__tests__/websockets/JsonProtocolChecker.js
  PopApp/__tests__/websockets/WebsocketApi.js
  PopApp/__tests__/websockets/WebsocketUtils.js
  PopApp/package-lock.json
  PopApp/package.json
  PopApp/websockets/WebsocketAnswer.js
  PopApp/websockets/WebsocketApi.js
  PopApp/websockets/WebsocketLink.js
  PopApp/websockets/WebsocketUtils.js
Labels: fe1-web

#200 Adjustment for presentation
  PopApp/websockets/WebsocketLink.js
Labels: fe1-web

#203 Add the host of a LAO as attribute and make necessary changes
  MockServer/src/main/java/com/github/dedis/student20_pop/mockserver/WebSocketServer.java
  app/src/androidTest/java/com/github/dedis/student20_pop/utility/network/ProtocolTest.java
  app/src/main/java/com/github/dedis/student20_pop/MainActivity.java
  app/src/main/java/com/github/dedis/student20_pop/PoPApplication.java
  app/src/main/java/com/github/dedis/student20_pop/model/Lao.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/method/Message.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/Data.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/lao/CreateLao.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/lao/StateLao.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/lao/UpdateLao.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/meeting/CreateMeeting.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/meeting/StateMeeting.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/message/WitnessMessage.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/rollcall/CloseRollCall.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/rollcall/CreateRollCall.java
  app/src/main/java/com/github/dedis/student20_pop/model/network/method/message/data/rollcall/OpenRollCall.java
  app/src/main/java/com/github/dedis/student20_pop/ui/ConnectingFragment.java
  app/src/main/java/com/github/dedis/student20_pop/utility/network/WebSocketLowLevelProxy.java
  app/src/main/java/com/github/dedis/student20_pop/utility/protocol/DataHandler.java
  app/src/test/java/com/github/dedis/student20_pop/model/LaoTest.java
Labels: fe2-android

#206 Open organization UI when a LAO is create
  PopApp/App.js
  PopApp/Navigation/RootNavigation.js
  PopApp/__tests__/websockets/JsonProtocolChecker.js
  PopApp/res/Props.js
  PopApp/websockets/WebsocketAnswer.js
  PopApp/websockets/WebsocketApi.js
Labels: fe1-web

#207 Fix signatures
  README.md
  build.sbt
  src/main/scala/ch/epfl/pop/Server.scala
  src/main/scala/ch/epfl/pop/crypto/Signature.scala
  src/main/scala/ch/epfl/pop/json/JsonCommunicationProtocol.scala
  src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  src/test/scala/ch/epfl/pop/tests/MessageCreationUtils.scala
  src/test/scala/ch/epfl/pop/tests/ValidateTest.scala
  src/test/scala/ch/epfl/pop/tests/crypto/HashTest.scala
  src/test/scala/ch/epfl/pop/tests/crypto/SignatureTest.scala
  src/test/scala/ch/epfl/pop/tests/pubsub/PubSubTest.scala
Labels: be2-scala
