Repository dedis/popstellar, pull requests merged in 2021-04, with the labels that each got.

#287 Roll Call: Update protocol specification
  protocol/query/method/message/data/dataCloseRollCall.json
  protocol/query/method/message/data/dataCreateRollCall.json
  protocol/query/method/message/data/dataOpenRollCall.json
Labels: proto-spec

#289 Fix queries marshalling
  be1-go/message/query.go
  be1-go/message/query_test.go
Labels: be1-go

#299 Updated the tests in accordance to the protocol change from PR #287
  fe1-web/__tests__/model/network/FromJsonData.test.ts
  fe1-web/__tests__/network/MessageApi.test.ts
  fe1-web/ingestion/handlers/RollCall.ts
  fe1-web/model/network/method/message/data/rollCall/CloseRollCall.ts
  fe1-web/model/network/method/message/data/rollCall/CreateRollCall.ts
  fe1-web/model/network/method/message/data/rollCall/OpenRollCall.ts
  fe1-web/model/network/method/message/data/rollCall/ReopenRollCall.ts
  fe1-web/model/objects/RollCall.ts
  fe1-web/network/MessageApi.ts
  fe1-web/parts/lao/organizer/eventCreation/events/CreateRollCall.tsx
  fe1-web/res/strings.ts
Labels: fe1-web

#280 Implementation of wallet communication with IndexedDB
  fe1-web/__tests__/model/objects/WalletCryptographyHandler.test.ts
  fe1-web/model/objects/WalletCryptographyHandler.ts
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/res/strings.ts
Labels: fe1-web
