Repository dedis/popstellar, pull requests merged in 2021-08, with the labels that each got.

#396 Update dataElectionResult.json
  be1-go/network/serveWs_test.go
  be1-go/network/shutdown_test.go
  protocol/query/method/message/data/dataElectionResult.json
Labels: proto-spec

#373 HD Wallet implementation
  fe1-web/__tests__/model/objects/Wallet.test.ts
  fe1-web/__tests__/model/objects/WalletCryptographyHandler.test.ts
  fe1-web/__tests__/utils/LocalMockServer.js
  fe1-web/components/CopiableTextBlock.tsx
  fe1-web/components/CopyButton.tsx
  fe1-web/components/QRCode.tsx
  fe1-web/model/network/method/message/Message.ts
  fe1-web/model/objects/HDWallet.ts
  fe1-web/model/objects/WalletCryptographyHandler.ts
  fe1-web/navigation/bars/ConnectNavigation.tsx
  fe1-web/navigation/bars/LaoNavigation.tsx
  fe1-web/navigation/bars/MainNavigation.tsx
  fe1-web/navigation/bars/wallet/WalletNavigation.tsx
  fe1-web/network/CommunicationApi.ts
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/parts/Launch.tsx
  fe1-web/parts/connect/ConnectConfirm.tsx
  fe1-web/parts/connect/ConnectConnecting.tsx
  fe1-web/parts/connect/ConnectEnableCamera.tsx
  fe1-web/parts/connect/ConnectOpenScan.tsx
  fe1-web/parts/lao/Identity.tsx
  fe1-web/parts/wallet/WalletError.tsx
  fe1-web/parts/wallet/WalletHome.tsx
  fe1-web/parts/wallet/WalletSetSeed.tsx
  fe1-web/parts/wallet/WalletSyncedSeed.tsx
  fe1-web/res/img/copy.svg
  fe1-web/res/strings.ts
  fe1-web/store/reducers/LastPopTokenReducer.ts
  fe1-web/store/reducers/RootReducer.ts
  fe1-web/store/reducers/WalletReducer.ts
  fe1-web/store/reducers/index.ts
  fe1-web/store/stores/LastPoPTokenStore.ts
  fe1-web/store/stores/WalletStore.ts
  fe1-web/store/stores/index.ts
  fe1-web/utils/Navigator.ts
Labels: fe1-web, digital-wallet

#402 Refactor Hub and Socket
  be1-go/cli/organizer/organizer.go
  be1-go/cli/pop.go
  be1-go/cli/witness/witness.go
  be1-go/cli/witness/witness_test.go
  be1-go/docs/README.md
  be1-go/go.mod
  be1-go/go.sum
  be1-go/hub/base_channel.go
  be1-go/hub/base_hub.go
  be1-go/hub/hub.go
  be1-go/hub/mod.go
  be1-go/hub/organizer.go
  be1-go/hub/socket.go
  be1-go/hub/socket_types.go
  be1-go/hub/witness.go
  be1-go/hub/witness_test.go
  be1-go/network/serveWs.go
  be1-go/network/serveWs_test.go
  be1-go/network/server.go
  be1-go/network/server_test.go
  be1-go/network/shutdown.go
  be1-go/network/shutdown_test.go
  be1-go/network/socket/mod.go
  be1-go/network/socket/socket.go
Labels: be1-go

#405 Ignore directory in fs.WalkDir
  be1-go/validation/schema_validator.go
Labels: be1-go

#409 Updates and formats the doc.
  be1-go/README.md
  be1-go/docs/README.md
Labels: documentation, be1-go

#392 checks if organizer sends the election creation message
  be1-go/hub/organizer.go
Labels: be1-go
