Repository dedis/popstellar, pull requests merged in 2021-03, with the labels that each got.

#259 fe1-web: QR code showing public key of user in Identity window
  fe1-web/components/QRCode.tsx
  fe1-web/components/TextBlock.tsx
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/parts/lao/Identity.tsx
  fe1-web/res/strings.ts
Labels: fe1-web

#263 Implemented a base channel
  be1-go/hub/base_channel.go
  be1-go/hub/organizer.go
Labels: be1-go

#265 Add json schemas for elections
  protocol/query/method/message/data/dataCastVote.json
  protocol/query/method/message/data/dataElectionEnd.json
  protocol/query/method/message/data/dataElectionResult.json
  protocol/query/method/message/data/dataElectionSetup.json
Labels: e-voting

#277 Fix Android CI
  .github/workflows/ci.yaml
  fe2-android/app/src/androidTest/java/com/github/dedis/student20_pop/ui/HomeFragmentTest.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/exceptions/PoPException.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/utility/security/Hash.java
  fe2-android/app/src/main/res/layout/fragment_camera_perm.xml
  fe2-android/app/src/main/res/layout/fragment_launch.xml
  fe2-android/app/src/main/res/layout/tab_connect_launch.xml
  fe2-android/app/src/main/res/layout/tab_home.xml
  fe2-android/app/src/main/res/layout/tab_identity.xml
  fe2-android/app/src/main/res/layout/tab_properties.xml
  fe2-android/app/src/mock/java/com/github/dedis/student20_pop/Injection.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/RxTest.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/utility/security/HashTest.java
Labels: fe2-android

#258 Setup data ingestion pipeline - network is functional
  fe1-web/App.tsx
  fe1-web/__tests__/model/network/FromJsonRpcRequest.test.ts
  fe1-web/__tests__/network/MessageApi.test.ts
  fe1-web/__tests__/utils/LocalMockServer.js
  fe1-web/ingestion/Configure.ts
  fe1-web/ingestion/Handler.ts
  fe1-web/ingestion/README.md
  fe1-web/ingestion/Watcher.ts
  fe1-web/ingestion/handlers/Default.ts
  fe1-web/ingestion/handlers/Lao.ts
  fe1-web/ingestion/handlers/Meeting.ts
  fe1-web/ingestion/handlers/RollCall.ts
  fe1-web/ingestion/handlers/Utils.ts
  fe1-web/ingestion/handlers/Witness.ts
  fe1-web/ingestion/handlers/index.ts
  fe1-web/ingestion/index.ts
  fe1-web/model/network/method/message/ExtendedMessage.ts
  fe1-web/model/network/method/message/Message.ts
  fe1-web/model/network/method/message/data/Checker.ts
  fe1-web/model/network/method/message/data/lao/StateLao.ts
  fe1-web/model/network/method/message/data/meeting/StateMeeting.ts
  fe1-web/model/network/method/message/data/rollCall/CreateRollCall.ts
  fe1-web/model/network/method/message/data/rollCall/OpenRollCall.ts
  fe1-web/model/network/method/message/index.ts
  fe1-web/model/objects/LaoEvent.ts
  fe1-web/model/objects/Meeting.ts
  fe1-web/model/objects/RollCall.ts
  fe1-web/model/objects/WitnessSignature.ts
  fe1-web/model/objects/index.ts
  fe1-web/navigation/bars/LaoNavigation.tsx
  fe1-web/network/CommunicationApi.ts
  fe1-web/network/JsonRpcApi.ts
  fe1-web/network/MessageApi.ts
  fe1-web/network/NetworkConnection.ts
  fe1-web/network/NetworkManager.ts
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/parts/Launch.tsx
  fe1-web/parts/connect/ConnectConfirm.tsx
  fe1-web/parts/lao/attendee/Attendee.tsx
  fe1-web/parts/lao/organizer/eventCreation/events/CreateMeeting.tsx
  fe1-web/parts/lao/organizer/eventCreation/events/CreateRollCall.tsx
  fe1-web/res/EventData.ts
  fe1-web/res/strings.ts
  fe1-web/store/Storage.ts
  fe1-web/store/reducers/EventsReducer.ts
  fe1-web/store/reducers/LaoReducer.ts
  fe1-web/store/reducers/MessageReducer.ts
  fe1-web/store/reducers/OpenRollCallIDReducer.ts
  fe1-web/store/reducers/index.ts
  protocol/answer/positiveAnswer/positiveAnswerCatchup.json
Labels: fe1-web
