Repository dedis/popstellar, pull requests merged in 2021-09, with the labels that each got.

#415 Fixes a crash due to uninitialized map
  be1-go/README.md
  be1-go/hub/base_channel.go
Labels: be1-go

#416 Fixes wrong validation of CastVoteData
  be1-go/message/data.go
Labels: be1-go

#414 Update dependencies & fix catch-up
  fe1-web/.eslintrc
  fe1-web/__mocks__/@react-native-async-storage/async-storage.ts
  fe1-web/__tests__/model/objects/WalletCryptographyHandler.test.ts
  fe1-web/__tests__/network/MessageApi.test.ts
  fe1-web/model/objects/WalletCryptographyHandler.ts
  fe1-web/network/CommunicationApi.ts
  fe1-web/network/JsonRpcApi.ts
  fe1-web/network/MessageApi.ts
  fe1-web/network/NetworkManager.ts
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/parts/Launch.tsx
  fe1-web/parts/connect/ConnectConfirm.tsx
  fe1-web/store/reducers/RootReducer.ts
  fe1-web/tsconfig.json
  fe1-web/utils/PlatformStorage.ts
  fe1-web/utils/__mocks__/Crypto.ts
  fe1-web/utils/__mocks__/PlatformStorage.ts
Labels: fe1-web

#417 Adds new protocol documentation
  docs/README.md
  docs/assets/close_roll_call.png
  docs/assets/pub_sub_principle.png
  docs/assets/reopen_roll_call.png
  docs/doctoc.sh
  docs/protocol.md
  protocol/README.md
  protocol/answer/answer.json
  protocol/genericMessage.json
  protocol/query/method/README.md
  protocol/query/method/broadcast.json
  protocol/query/method/catchup.json
  protocol/query/method/channel/rootChannel.json
  protocol/query/method/channel/subChannel.json
  protocol/query/method/message/README.md
  protocol/query/method/message/data/data.json
  protocol/query/method/message/data/dataCastVote.json
  protocol/query/method/message/data/dataCloseRollCall.json
  protocol/query/method/message/data/dataCreateLao.json
  protocol/query/method/message/data/dataCreateMeeting.json
  protocol/query/method/message/data/dataCreateRollCall.json
  protocol/query/method/message/data/dataElectionEnd.json
  protocol/query/method/message/data/dataElectionResult.json
  protocol/query/method/message/data/dataElectionSetup.json
  protocol/query/method/message/data/dataOpenRollCall.json
  protocol/query/method/message/data/dataStateLao.json
  protocol/query/method/message/data/dataStateMeeting.json
  protocol/query/method/message/data/dataUpdateLao.json
  protocol/query/method/message/data/dataWitnessMessage.json
  protocol/query/method/message/messageGeneral.json
  protocol/query/method/message/messageWitnessMessage.json
  protocol/query/method/publish.json
  protocol/query/method/subscribe.json
  protocol/query/method/unsubscribe.json
  protocol/query/query.json
Labels: documentation, proto-spec

#408 Added fe1-web documentation
  fe1-web/__mocks__/@react-native-async-storage/async-storage-mock.d.ts
  fe1-web/__mocks__/@react-native-async-storage/async-storage.ts
  fe1-web/archive-vault/old-components/OrganizationNameProperty.tsx
  fe1-web/archive-vault/old-components/WitnessProperty.tsx
  fe1-web/archive-vault/old-components/eventCreation/CreateDiscussion.tsx
  fe1-web/archive-vault/old-components/eventCreation/CreatePoll.tsx
  fe1-web/archive-vault/old-components/eventList/DiscussionEvent.tsx
  fe1-web/archive-vault/old-components/eventList/PollEvent.tsx
  fe1-web/archive-vault/old-components/eventList/ProgressBar.tsx
  fe1-web/archive-vault/old-components/unused/RollCallEventOrganizer.tsx
  fe1-web/archive-vault/old-components/unused/RollCallScanning.tsx
  fe1-web/components/QRCode.tsx
  fe1-web/components/eventList/events/EventElection.tsx
  fe1-web/components/eventList/events/EventMeeting.tsx
  fe1-web/components/index.ts
  fe1-web/docs/README.md
  fe1-web/docs/images/architecture-data-flow.drawio
  fe1-web/docs/images/architecture-data-flow.png
  fe1-web/docs/images/architecture-data-flow.svg
  fe1-web/model/index.ts
  fe1-web/navigation/bars/organizer/OrganizerNavigation.tsx
  fe1-web/navigation/index.ts
  fe1-web/network/NetworkConnection.ts
  fe1-web/network/index.ts
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/parts/index.ts
  fe1-web/res/EventData.ts
  fe1-web/store/index.ts
  fe1-web/store/reducers/index.ts
  fe1-web/store/stores/index.ts
  fe1-web/tsconfig.json
Labels: fe1-web

#411 be2 scala description
  be2-scala/.gitignore
  be2-scala/docs/README.md
  be2-scala/docs/images/be2-cleanup.drawio
  be2-scala/docs/images/be2-graph.png
  be2-scala/docs/images/be2-s.png
  be2-scala/docs/images/be2-simplified.png
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/package.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/package.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Base64Data.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Hash.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/package.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MeetingHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/WitnessHandler.scala
Labels: be2-scala

#430 Fixed Sonar project name for Android
  fe2-android/build.gradle
Labels: fe2-android

#432 DbActor Catchup mechanism
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/Message.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Base64Data.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/ClientActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/AnswerGenerator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Answerer.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageDataContentValidator.scala
Labels: be2-scala

#436 Corrected potential future encoding problems
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
Labels: be2-scala

#433 Updates comment for roll_call#close messageData
  protocol/query/method/message/data/dataCloseRollCall.json
Labels: documentation, proto-spec

#431 Includes PR#399 (election#end, election#result)
  be1-go/hub/base_channel.go
  be1-go/hub/base_channel_test.go
  be1-go/hub/base_hub.go
  be1-go/hub/election.go
Labels: be1-go

#413 Test LAORepository
  fe2-android/app/build.gradle
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/PendingUpdate.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/data/LAORemoteDataSource.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/data/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/model/network/answer/Result.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/utility/scheduler/ProdSchedulerProvider.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/utility/scheduler/SchedulerProvider.java
  fe2-android/app/src/main/java/com/github/dedis/student20_pop/utility/scheduler/TestSchedulerProvider.java
  fe2-android/app/src/mock/java/com/github/dedis/student20_pop/Injection.java
  fe2-android/app/src/prod/java/com/github/dedis/student20_pop/Injection.java
  fe2-android/app/src/test/java/com/github/dedis/student20_pop/model/data/LAORepositoryTest.java
  fe2-android/app/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  fe2-android/build.gradle
  fe2-android/gradle/wrapper/gradle-wrapper.properties
Labels: fe2-android

#435 Resolved be2 Hash issues
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Base64Data.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Hash.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Timestamp.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/MessageDecoder.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RpcValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/HashSuite.scala
Labels: be2-scala

#439 PipelineErrors generate the correct reply rpc id
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/AnswerGenerator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Answerer.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/MessageDecoder.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/PipelineError.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Validator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MeetingHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/WitnessHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MeetingValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageDataContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MethodContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ParamsValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RpcValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/WitnessValidator.scala
Labels: be2-scala

#445 Fix hash to take byte length
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/security/Hash.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/security/HashTest.java
Labels: bug, fe2-android

#437 DbActor is now persistent
  be2-scala/docs/README.md
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/AnswerGenerator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Answerer.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/MessageDecoder.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/PipelineError.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Validator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MeetingHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/WitnessHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MeetingValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageDataContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MethodContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ParamsValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RpcValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/WitnessValidator.scala
Labels: be2-scala

#441 Publish-Subscribe bug fix
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/AskPatternConstants.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/ClientActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PubSubMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/AnswerGenerator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MeetingHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageDataContentValidator.scala
Labels: be2-scala

#448 Updated roll calls to newer specs
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/CloseRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/CreateRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/OpenRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/ReopenRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/EventValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MeetingValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/MessageDataProtocolSuite.scala
Labels: be2-scala

#450 💫 Uses the popstellar package name
  be1-go/README.md
  be1-go/channel/election/mod.go
  be1-go/channel/inbox/mod.go
  be1-go/channel/inbox/mod_test.go
  be1-go/channel/lao/mod.go
  be1-go/channel/lao/mod_test.go
  be1-go/channel/mod.go
  be1-go/cli/organizer/organizer.go
  be1-go/cli/pop.go
  be1-go/cli/witness/witness.go
  be1-go/cli/witness/witness_test.go
  be1-go/docs/images/popstellar-be1-go.png
  be1-go/go.mod
  be1-go/hub/mod.go
  be1-go/hub/organizer/mod.go
  be1-go/hub/organizer/mod_test.go
  be1-go/hub/witness/mod.go
  be1-go/hub/witness/witness_test.go
  be1-go/message/answer/answer.go
  be1-go/message/query/method/broadcast.go
  be1-go/message/query/method/catchup.go
  be1-go/message/query/method/message/message_test.go
  be1-go/message/query/method/publish.go
  be1-go/message/query/method/subscribe.go
  be1-go/message/query/method/unsubscribe.go
  be1-go/message/query/query.go
  be1-go/message/test/answer/answer_test.go
  be1-go/message/test/messagedata/election_end_test.go
  be1-go/message/test/messagedata/election_result_test.go
  be1-go/message/test/messagedata/election_setup_test.go
  be1-go/message/test/messagedata/lao_create_test.go
  be1-go/message/test/messagedata/lao_state_test.go
  be1-go/message/test/messagedata/lao_update_test.go
  be1-go/message/test/messagedata/meeting_create_test.go
  be1-go/message/test/messagedata/meeting_state_test.go
  be1-go/message/test/messagedata/message_witness_test.go
  be1-go/message/test/messagedata/roll_call_close_test.go
  be1-go/message/test/messagedata/roll_call_create_test.go
  be1-go/message/test/messagedata/roll_call_open_test.go
  be1-go/message/test/messagedata/roll_call_reopen_test.go
  be1-go/message/test/messagedata/vote_cast_vote_test.go
  be1-go/message/test/messagedata/vote_cast_write_in_test.go
  be1-go/message/test/query/method/broadcast_test.go
  be1-go/message/test/query/method/catchup_test.go
  be1-go/message/test/query/method/publish_test.go
  be1-go/message/test/query/method/subscribe_test.go
  be1-go/message/test/query/method/unsubscribe_test.go
  be1-go/network/server.go
  be1-go/network/server_test.go
  be1-go/network/socket/mod.go
  be1-go/network/socket/socket.go
  be1-go/validation/schema_validator.go
Labels: be1-go

#449 Cleaned up some TODOs and FIXMEs
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/HighLevelProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/JsonRpcRequest.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/PublicKey.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Signature.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/ClientActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PubSubMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/EventValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MeetingValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/HighLevelProtocolSuite.scala
Labels: be2-scala

#443 Scala election implementation
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/HighLevelProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/JsonRpcRequest.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ActionType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/DataBuilder.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ObjectType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/CastVoteElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/ElectionBallotVotes.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/ElectionQuestion.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/ElectionQuestionResult.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/EndElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/ResultElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/SetupElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/VoteElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/CloseRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/CreateRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/OpenRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/ReopenRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/requests/election/JsonRpcRequestEndElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/requests/election/JsonRpcRequestResultElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/requests/election/JsonRpcRequestSetupElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/PublicKey.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Signature.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/ClientActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PubSubMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/MessageDecoder.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Validator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsWithMessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/EventValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MeetingValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/HighLevelProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/MessageDataProtocolSuite.scala
Labels: be2-scala

#451 Makes a global pass to format and add comments
  be1-go/channel/lao/mod.go
  be1-go/channel/mod.go
  be1-go/cli/organizer/organizer.go
  be1-go/cli/witness/witness.go
  be1-go/crypto/suite.go
  be1-go/hub/mod.go
  be1-go/hub/organizer/mod.go
  be1-go/message/answer/error.go
  be1-go/message/messagedata/election_end.go
  be1-go/message/messagedata/election_result.go
  be1-go/message/messagedata/election_setup.go
  be1-go/message/messagedata/lao_create.go
  be1-go/message/messagedata/lao_state.go
  be1-go/message/messagedata/lao_update.go
  be1-go/message/messagedata/meeting_create.go
  be1-go/message/messagedata/meeting_state.go
  be1-go/message/messagedata/message_witness.go
  be1-go/message/messagedata/mod.go
  be1-go/message/messagedata/roll_call_close.go
  be1-go/message/messagedata/roll_call_create.go
  be1-go/message/messagedata/roll_call_open.go
  be1-go/message/messagedata/roll_call_reopen.go
  be1-go/message/messagedata/vote_cast_vote.go
  be1-go/message/messagedata/vote_cast_write_in.go
  be1-go/message/query/method/broadcast.go
  be1-go/message/query/method/catchup.go
  be1-go/message/query/method/message/message.go
  be1-go/message/query/method/publish.go
  be1-go/message/query/method/subscribe.go
  be1-go/message/query/method/unsubscribe.go
  be1-go/network/mod.go
  be1-go/network/server.go
  be1-go/network/shutdown.go
  be1-go/network/socket/socket.go
  be1-go/validation/mod.go
  be1-go/validation/schema_validator.go
Labels: be1-go

#452 Code reformatting
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/HighLevelProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/ObjectProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/package.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/JsonRpcRequest.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/JsonRpcResponse.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/MethodType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/ResultObject.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ActionType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/DataBuilder.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ObjectType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/CastVoteElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/EndElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/ResultElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/SetupElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/VoteElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/CloseRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/rollCall/CreateRollCall.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/requests/election/JsonRpcRequestEndElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/requests/election/JsonRpcRequestResultElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/requests/election/JsonRpcRequestSetupElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/requests/lao/JsonRpcRequestStateLao.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Timestamp.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/ClientActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PubSubMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/AnswerGenerator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/MessageDecoder.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/PipelineError.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Validator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MeetingHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/WitnessHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageDataContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MethodContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ParamsValidator.scala
Labels: be2-scala

#454 Fixes error message
  be1-go/hub/organizer/mod.go
  be1-go/message/answer/answer.go
  be1-go/network/socket/socket.go
Labels: be1-go

#403 Add documentation
  fe2-android/README.md
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Wallet.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/event/package-info.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/package-info.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/local/dao/LAODao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/local/entities/package-info.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/package-info.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/pickers/package-info.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/package-info.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/package-info.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/package-info.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/package-info.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/stellar/SLIP10.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/package-info.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/security/package-info.java
  fe2-android/app/src/prod/java/com/github/dedis/popstellar/Injection.java
  fe2-android/docs/README.md
  fe2-android/docs/images/mvvm.png
Labels: fe2-android
