Repository dedis/popstellar, pull requests merged in 2022-08, with the labels that each got.

#1159 Fix Snapshot Issues
  fe1-web/jest.config.js
  fe1-web/jest/setup.js
  fe1-web/jest/setupFakeTimers.js
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/sonar-project.properties
  fe1-web/src/__mocks__/@expo/vector-icons/index.ts
  fe1-web/src/core/objects/__tests__/Timestamp.test.ts
  fe1-web/src/features/digital-cash/components/__tests__/DigitalCashWalletItems.test.tsx
  fe1-web/src/features/digital-cash/components/__tests__/__snapshots__/DigitalCashWalletItems.test.tsx.snap
  fe1-web/src/features/events/components/__tests__/EventList.test.tsx
  fe1-web/src/features/events/components/__tests__/__snapshots__/EventList.test.tsx.snap
  fe1-web/src/features/evoting/objects/__tests__/Election.test.ts
  fe1-web/src/features/evoting/screens/__tests__/ViewSingleElection.test.tsx
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/ViewSingleElection.test.tsx.snap
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/LaoNavigation.test.tsx.snap
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/LaoHomeScreen.test.tsx.snap
  fe1-web/src/features/meeting/screens/__tests__/ViewSingleMeeting.test.tsx
  fe1-web/src/features/notification/screens/__tests__/NotificationScreen.test.tsx
  fe1-web/src/features/notification/screens/__tests__/__snapshots__/NotificationScreen.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/ViewSingleRollCall.test.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/ChirpCard.test.tsx
  fe1-web/src/features/wallet/screens/__tests__/WalletHome.test.tsx
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletHome.test.tsx.snap
Labels: fe1-web, bug-fix

#1179 Fix an issue with LAONetworkManager
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/repository/remote/GlobalNetworkManagerTest.java
Labels: fe2-android, bug-fix

#1185 Improve Tab system of the Home Activity
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeTab.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LaunchFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaActivity.java
Labels: fe2-android

#1183 Refactor LaoDetailViewModel to remove the usage of livedata for events
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/EventListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/CastVoteFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionSetupFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/AttendeesListFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallTokenFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/witness/WitnessesFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/QRCodeScanningFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/LaoWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/WalletListAdapter.java
  fe2-android/app/src/main/res/layout/lao_detail_fragment.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/event/election/ElectionSetupFragmentTest.java
Labels: fe2-android

#1187 Home UI Cleanup
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LAOItemUserActionsListener.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LAOListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LaunchFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/ContentWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/LaoWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/WalletFragment.java
  fe2-android/app/src/main/res/drawable/ic_common_social_media_disabled.xml
  fe2-android/app/src/main/res/drawable/ic_common_social_media_enabled.xml
  fe2-android/app/src/main/res/drawable/ic_home_connect_disabled.xml
  fe2-android/app/src/main/res/drawable/ic_home_connect_enabled.xml
  fe2-android/app/src/main/res/drawable/ic_home_launch_disabled.xml
  fe2-android/app/src/main/res/drawable/ic_home_launch_enabled.xml
  fe2-android/app/src/main/res/layout/home_lao_layout.xml
  fe2-android/app/src/main/res/layout/launch_fragment.xml
  fe2-android/app/src/main/res/menu/home_menu.xml
  fe2-android/app/src/main/res/menu/lao_detail_menu.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/home/LaunchPageObject.java
Labels: fe2-android

#1188 Improve Tab system of the lao Activity
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoTab.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionSetupFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallCreationFragment.java
Labels: fe2-android

#1192 Updates and fixes Go CI
  .github/workflows/ci.yaml
  be1-go/channel/lao/mod.go
  be1-go/channel/lao/verification.go
  be1-go/channel/registry/mod.go
  be1-go/cli/mod.go
  be1-go/cli/pop.go
  be1-go/go.mod
  be1-go/go.sum
  be1-go/internal/depgraph/mod.go
  be1-go/mod.go
  be1-go/validation/schema_validator.go
Labels: be1-go, ci/cd

#1191 Add the Copyable interface and use it to simplify copies
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/Copyable.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/Immutable.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusElect.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusKey.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionEncryptedVote.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionQuestion.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionVote.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/QuestionResult.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/package-info.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Channel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Chirp.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/ConsensusNode.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/ElectInstance.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Election.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/InputObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/OutputObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/PeerAddress.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/PendingUpdate.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/RollCall.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Server.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/WitnessMessage.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/digitalcash/ScriptInputObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/digitalcash/ScriptOutputObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/digitalcash/TransactionObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/Base64URLData.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/KeyPair.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/MessageID.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/PoPToken.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/PublicKey.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/Signature.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/view/LaoView.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.java
Labels: fe2-android

#1195 Re-add the add witness feature
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/witness/WitnessesFragment.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/witness/WitnessingFragmentNoPermissionTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/witness/WitnessingFragmentWithPermissionTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/detail/LaoDetailActivityPageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/detail/witness/WitnessFragmentPageObject.java
Labels: fe2-android

#1186 Inject dependencies in social media feature
  fe1-web/.depcruise.js
  fe1-web/src/core/navigation/typing/SocialSearchParamList.ts
  fe1-web/src/features/digital-cash/interface/Configuration.ts
  fe1-web/src/features/index.ts
  fe1-web/src/features/rollCall/hooks/RollCallHooks.ts
  fe1-web/src/features/rollCall/index.ts
  fe1-web/src/features/rollCall/interface/Configuration.ts
  fe1-web/src/features/rollCall/reducer/__tests__/RollCallReducer.test.ts
  fe1-web/src/features/social/components/ChirpCard.tsx
  fe1-web/src/features/social/components/TextInputChirp.tsx
  fe1-web/src/features/social/components/UserListItem.tsx
  fe1-web/src/features/social/components/__tests__/ChirpCard.test.tsx
  fe1-web/src/features/social/components/__tests__/TextInputChirp.test.tsx
  fe1-web/src/features/social/components/__tests__/UserListItem.test.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/TextInputChirp.test.tsx.snap
  fe1-web/src/features/social/context/SocialMediaContext.ts
  fe1-web/src/features/social/context/index.ts
  fe1-web/src/features/social/hooks/SocialHooks.ts
  fe1-web/src/features/social/hooks/index.ts
  fe1-web/src/features/social/index.ts
  fe1-web/src/features/social/interface/Configuration.ts
  fe1-web/src/features/social/interface/Feature.ts
  fe1-web/src/features/social/interface/index.ts
  fe1-web/src/features/social/navigation/SocialMediaNavigation.tsx
  fe1-web/src/features/social/navigation/SocialSearchNavigation.tsx
  fe1-web/src/features/social/network/ChirpHandler.ts
  fe1-web/src/features/social/network/ReactionHandler.ts
  fe1-web/src/features/social/network/SocialMessageApi.ts
  fe1-web/src/features/social/network/__tests__/SocialMessageApi.test.ts
  fe1-web/src/features/social/network/index.ts
  fe1-web/src/features/social/reducer/SocialReducer.ts
  fe1-web/src/features/social/reducer/__tests__/SocialReducer.test.ts
  fe1-web/src/features/social/screens/SocialFollows.tsx
  fe1-web/src/features/social/screens/SocialHome.tsx
  fe1-web/src/features/social/screens/SocialProfile.tsx
  fe1-web/src/features/social/screens/SocialSearch.tsx
  fe1-web/src/features/social/screens/SocialUserProfile.tsx
  fe1-web/src/features/social/screens/__tests__/SocialHome.test.tsx
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialHome.test.tsx.snap
  fe1-web/src/features/social/screens/index.ts
Labels: fe1-web

#1201 Upgrade expo to version 46
  fe1-web/package-lock.json
  fe1-web/package.json
Labels: fe1-web

#1198 Migrate the messge sending system to a callback system
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/EventListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/consensus/NodesAcceptorAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/CastVoteFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionSetupFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/witness/WitnessMessageListViewAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashIssueFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LaunchFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/QRCodeScanningFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/ChirpListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/UnknownElectionException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/UnknownLaoException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ElectionHandler.java
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/testutils/MessageSenderHelper.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/testutils/fragment/FragmentScenario.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/event/election/CastVoteFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/event/election/ElectionFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/home/HomeActivityTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/home/LaunchFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/detail/event/election/CastVoteFragmentPageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/home/HomePageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/socialmedia/ChirpListAdapterTest.java
Labels: fe2-android
