Repository dedis/popstellar, pull requests merged in 2022-04, with the labels that each got.

#868 SchemaVerifies: invalid JSON requests
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/SchemaVerifier.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/SchemaVerifierSuite.scala
Labels: be2-scala, bug-fix

#895 Fix fe-1 bugs
  fe1-web/src/App.tsx
  fe1-web/src/__mocks__/@expo/vector-icons/index.ts
  fe1-web/src/__mocks__/useNavigationMock.tsx
  fe1-web/src/__tests__/utils/TestUtils.ts
  fe1-web/src/core/components/__tests__/__snapshots__/BackButton.test.tsx.snap
  fe1-web/src/core/keypair/index.ts
  fe1-web/src/core/network/CommunicationApi.ts
  fe1-web/src/core/network/JsonRpcApi.ts
  fe1-web/src/core/network/NetworkConnection.ts
  fe1-web/src/core/network/NetworkManager.ts
  fe1-web/src/core/network/RpcHandler.ts
  fe1-web/src/core/network/__tests__/JsonRpcApi.test.ts
  fe1-web/src/core/network/ingestion/Configure.ts
  fe1-web/src/core/network/ingestion/ExtendedMessage.ts
  fe1-web/src/core/network/ingestion/Handler.ts
  fe1-web/src/core/network/ingestion/__tests__/IngestionHandler.test.ts
  fe1-web/src/core/network/ingestion/__tests__/MessageReducer.test.ts
  fe1-web/src/core/network/jsonrpc/ExtendedJsonRpcRequest.ts
  fe1-web/src/core/network/jsonrpc/ExtendedJsonRpcResponse.ts
  fe1-web/src/core/network/jsonrpc/__tests__/ExtendedJsonRpcRequest.test.ts
  fe1-web/src/core/network/jsonrpc/__tests__/ExtendedJsonRpcResponse.test.ts
  fe1-web/src/core/network/jsonrpc/index.ts
  fe1-web/src/core/network/jsonrpc/messages/Message.ts
  fe1-web/src/core/network/jsonrpc/messages/ProcessableMessage.ts
  fe1-web/src/core/network/jsonrpc/messages/__tests__/Message.test.ts
  fe1-web/src/core/network/jsonrpc/messages/__tests__/MessageRegistry.test.ts
  fe1-web/src/core/network/strategies/ClientMultipleServerStrategy.ts
  fe1-web/src/core/network/strategies/SendToFirstAcceptingServerStrategy.ts
  fe1-web/src/core/redux/GlobalStore.ts
  fe1-web/src/core/redux/Manage.ts
  fe1-web/src/features/connect/screens/ConnectConfirm.tsx
  fe1-web/src/features/evoting/components/__tests__/EventElection.test.tsx
  fe1-web/src/features/evoting/hooks/__tests__/EvotingHooks.test.tsx
  fe1-web/src/features/evoting/network/__tests__/ElectionHandler.test.ts
  fe1-web/src/features/evoting/screens/__tests__/CreateElection.test.tsx
  fe1-web/src/features/home/screens/Launch.tsx
  fe1-web/src/features/lao/network/LaoHandler.ts
  fe1-web/src/features/lao/reducer/LaoReducer.ts
  fe1-web/src/features/lao/reducer/__tests__/LaoReducer.test.ts
  fe1-web/src/features/rollCall/components/EventRollCall.tsx
  fe1-web/src/features/rollCall/components/__tests__/EventRollCall.test.tsx
  fe1-web/src/features/rollCall/components/__tests__/__snapshots__/EventRollCall.test.tsx.snap
  fe1-web/src/features/rollCall/network/__tests__/RollCallHandler.test.ts
  fe1-web/src/features/social/components/__tests__/ChirpCard.test.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/TextInputChirp.test.tsx.snap
Labels: fe1-web, bug-fix

#919 Fixed the writing of the public keys of attendees in LAO
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
Labels: be2-scala, bug-fix

#927 Try CI fix
  .github/workflows/ci.yaml
  be1-go/Makefile
Labels: ci/cd

#930 Removed election end time check
  be1-go/channel/election/verification.go
  be1-go/channel/election/verification_test.go
Labels: be1-go

#886 Open election support for backend 1
  be1-go/channel/election/mod.go
  be1-go/channel/election/mod_test.go
  be1-go/channel/election/verification.go
  be1-go/channel/election/verification_test.go
  be1-go/channel/lao/mod.go
  be1-go/message/messagedata/election_open.go
  be1-go/message/messagedata/mod.go
  be1-go/message/test/messagedata/election_open_test.go
  protocol/examples/messageData/election_open/bad_election_open_election_invalid_hash.json
  protocol/examples/messageData/election_open/bad_election_open_election_not_base64.json
  protocol/examples/messageData/election_open/bad_election_open_lao_invalid_hash.json
  protocol/examples/messageData/election_open/bad_election_open_lao_not_base64.json
  protocol/examples/messageData/election_open/bad_election_open_opened_at_negative.json
  protocol/examples/messageData/election_open/election_open.json
  protocol/test/main.test.js
Labels: be1-go

#943 Fix roll call issue
  fe1-web/src/features/rollCall/components/EventRollCall.tsx
Labels: fe1-web, bug-fix

#897 Work fe2 jpluss tentative UI
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LAOListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/ContentWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/SeedWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/GenericException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/NoLAOException.java
  fe2-android/app/src/main/res/drawable/ic_common_home_opaque_foreground.xml
  fe2-android/app/src/main/res/drawable/ic_common_social_media_opaque_foreground.xml
  fe2-android/app/src/main/res/drawable/ic_common_social_media_transparent_foreground.xml
  fe2-android/app/src/main/res/drawable/ic_copy_content.xml
  fe2-android/app/src/main/res/drawable/ic_home_connect_opaque_foreground.xml
  fe2-android/app/src/main/res/drawable/ic_home_connect_transparent_foreground.xml
  fe2-android/app/src/main/res/drawable/ic_home_launch_opaque_foreground.xml
  fe2-android/app/src/main/res/drawable/ic_home_launch_transparent_foreground.xml
  fe2-android/app/src/main/res/drawable/ic_home_wallet_foreground.xml
  fe2-android/app/src/main/res/layout/connecting_fragment.xml
  fe2-android/app/src/main/res/layout/home_activity.xml
  fe2-android/app/src/main/res/layout/home_fragment.xml
  fe2-android/app/src/main/res/layout/lao_card.xml
  fe2-android/app/src/main/res/layout/lao_detail_activity.xml
  fe2-android/app/src/main/res/layout/launch_fragment.xml
  fe2-android/app/src/main/res/layout/qrcode_camera_perm_fragment.xml
  fe2-android/app/src/main/res/layout/wallet_content_fragment.xml
  fe2-android/app/src/main/res/layout/wallet_fragment.xml
  fe2-android/app/src/main/res/layout/wallet_seed_fragment.xml
  fe2-android/app/src/main/res/menu/home_menu.xml
  fe2-android/app/src/main/res/menu/social_media_menu.xml
  fe2-android/app/src/main/res/values/colors.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/main/res/values/styles.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/home/HomeActivityTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/home/WalletContentFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/home/WalletFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/home/WalletSeedFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/home/HomePageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/home/WalletPageObject.java
Labels: fe2-android, ux

#932 Work fe2 marin digital cash UI button lao
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/res/layout/lao_detail_activity.xml
Labels: fe2-android, digital-wallet

#934 Work fe2 marin digital cash UI menu transaction
  fe2-android/app/src/main/AndroidManifest.xml
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashMain.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/res/drawable/ic_digitalcash_history.xml
  fe2-android/app/src/main/res/drawable/ic_digitalcash_home.xml
  fe2-android/app/src/main/res/drawable/ic_digitalcash_issue.xml
  fe2-android/app/src/main/res/drawable/ic_digitalcash_receive.xml
  fe2-android/app/src/main/res/drawable/ic_digitalcash_send.xml
  fe2-android/app/src/main/res/layout/digital_cash_main_activity.xml
  fe2-android/app/src/main/res/layout/tab_witness.xml
  fe2-android/app/src/main/res/menu/digital_cash_menu.xml
  fe2-android/app/src/main/res/values/colors.xml
  fe2-android/app/src/main/res/values/strings.xml
Labels: fe2-android, digital-wallet

#899 add Open Election data to JSON protocol + handler
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/DataRegistryModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/OpenElection.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/EventExpandableListViewAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ElectionHandler.java
  fe2-android/app/src/main/res/layout/election_display_layout.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/OpenElectionTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
  protocol/examples/messageData/election_open/election_open.json
  protocol/query/method/message/data/dataCastVote.json
Labels: fe2-android, e-voting

#949 Fix roll call closing bug
  fe1-web/src/features/rollCall/components/EventRollCall.tsx
  fe1-web/src/features/rollCall/screens/RollCallOpened.tsx
  fe1-web/src/features/rollCall/screens/__tests__/RollCallOpened.test.tsx
Labels: fe1-web, bug-fix

#941 Improve the fe-1 documentation
  fe1-web/README.md
  fe1-web/docs/README.md
Labels: documentation, fe1-web

#901 Create json messages from data
  tests/karate/pom.xml
  tests/karate/src/test/java/be/createLAO/create.feature
  tests/karate/src/test/java/be/createRollCall/closeRollCall.feature
  tests/karate/src/test/java/be/createRollCall/createRollCall.feature
  tests/karate/src/test/java/be/createRollCall/openRollCall.feature
  tests/karate/src/test/java/be/utils/JsonConverter.java
  tests/karate/src/test/java/be/utils/JsonConverterTest.java
  tests/karate/src/test/java/be/utils/server.feature
  tests/karate/src/test/java/be/utils/simpleScenarios.feature
  tests/karate/src/test/java/data/lao/data/bad_lao_create_empty_name_data.json
  tests/karate/src/test/java/data/lao/data/bad_lao_create_id_invalid_hash_data.json
  tests/karate/src/test/java/data/lao/data/bad_lao_create_negative_data.json
  tests/karate/src/test/java/data/lao/data/valid_lao_create_data.json
  tests/karate/src/test/java/data/lao/data/valid_lao_create_fe2_data.json
  tests/karate/src/test/java/data/lao/valid_lao_create_fe2.json
  tests/karate/src/test/java/data/rollCall/data/rollCallClose/bad_roll_call_close_invalid_update_id_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallClose/valid_roll_call_close_2_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallClose/valid_roll_call_close_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallCreate/bad_roll_call_create_creation_time_less_than_start_time_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallCreate/bad_roll_call_create_creation_time_negative_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallCreate/bad_roll_call_create_invalid_roll_call_id_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallCreate/bad_roll_call_create_start_time_bigger_than_end_time_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallCreate/valid_roll_call_create_2_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallCreate/valid_roll_call_create_3_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallCreate/valid_roll_call_create_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallOpen/bad_roll_call_open_invalid_update_id_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallOpen/valid_roll_call_open_2_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallOpen/valid_roll_call_open_3_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallOpen/valid_roll_call_open_data.json
Labels: prod-ready

#922 Add support for the greeting message to fe-1
  fe1-web/src/core/network/ingestion/Handler.ts
  fe1-web/src/core/network/jsonrpc/Greeting.ts
  fe1-web/src/core/network/jsonrpc/JsonRpcMethods.ts
  fe1-web/src/core/network/jsonrpc/JsonRpcRequest.ts
  fe1-web/src/core/network/jsonrpc/__tests__/Greeting.test.ts
  fe1-web/src/core/network/validation/schemas/querySchemas.ts
  fe1-web/src/core/objects/Server.ts
  fe1-web/src/core/objects/__tests__/Server.test.ts
  fe1-web/src/core/objects/index.ts
  fe1-web/src/core/redux/ServerReducer.ts
  fe1-web/src/core/redux/__tests__/ServerReducer.test.ts
Labels: enhancement, proto-spec, fe1-web

#951 Fix wallet navigation
  fe1-web/src/features/wallet/navigation/WalletNavigation.tsx
  fe1-web/src/features/wallet/screens/WalletError.tsx
  fe1-web/src/features/wallet/screens/WalletSetSeed.tsx
  fe1-web/src/features/wallet/screens/WalletShowSeed.tsx
  fe1-web/src/features/wallet/screens/WalletSyncedSeed.tsx
  fe1-web/src/features/wallet/screens/__tests__/WalletError.test.tsx
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletError.test.tsx.snap
  fe1-web/src/resources/Props.ts
Labels: fe1-web, bug-fix

#924 Implement passive witnessing functionality
  fe1-web/src/__mocks__/websocket/index.ts
  fe1-web/src/__tests__/utils/TestUtils.ts
  fe1-web/src/core/keypair/__mocks__/KeyPairStore.ts
  fe1-web/src/core/network/__tests__/JsonRpcApi.test.ts
  fe1-web/src/core/network/__tests__/MockNetworkConnection.ts
  fe1-web/src/core/network/ingestion/__tests__/IngestionHandler.test.ts
  fe1-web/src/core/network/jsonrpc/messages/MessageRegistry.ts
  fe1-web/src/core/network/jsonrpc/messages/__tests__/MessageRegistry.test.ts
  fe1-web/src/features/evoting/network/__tests__/ElectionHandler.test.ts
  fe1-web/src/features/evoting/network/__tests__/ElectionMessageApi.test.ts
  fe1-web/src/features/index.ts
  fe1-web/src/features/lao/functions/lao.ts
  fe1-web/src/features/lao/hooks/LaoHooks.ts
  fe1-web/src/features/lao/index.ts
  fe1-web/src/features/lao/interface/Configuration.ts
  fe1-web/src/features/lao/reducer/LaoReducer.ts
  fe1-web/src/features/social/components/__tests__/ChirpCard.test.tsx
  fe1-web/src/features/witness/index.ts
  fe1-web/src/features/witness/interface/Configuration.ts
  fe1-web/src/features/witness/interface/Feature.ts
  fe1-web/src/features/witness/interface/index.ts
  fe1-web/src/features/witness/network/WitnessHandler.ts
  fe1-web/src/features/witness/network/WitnessStoreWatcher.ts
  fe1-web/src/features/witness/network/__tests__/WitnessHandler.test.ts
  fe1-web/src/features/witness/network/__tests__/WitnessMessageApi.test.ts
  fe1-web/src/features/witness/network/__tests__/WitnessMessageApi.ts
  fe1-web/src/features/witness/network/__tests__/WitnessStoreWatcher.test.ts
  fe1-web/src/features/witness/network/index.ts
  fe1-web/src/features/witness/network/messages/WitnessRegistry.ts
  fe1-web/src/features/witness/network/messages/__tests__/WitnessMessage.test.ts
  fe1-web/src/features/witness/network/messages/__tests__/WitnessRegistry.test.ts
Labels: enhancement, fe1-web

#966 be2: ensure LAO name is not empty
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidatorSuite.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
  be2-scala/src/test/scala/util/examples/MessageExample.scala
Labels: be2-scala, bug-fix

#961 Fix roll call reopening attendees bug
  fe1-web/src/features/rollCall/components/EventRollCall.tsx
  fe1-web/src/features/rollCall/screens/RollCallOpened.tsx
  fe1-web/src/features/rollCall/screens/__tests__/RollCallOpened.test.tsx
Labels: fe1-web, bug-fix

#973 Fix LAO launch bug with scala server
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.java
Labels: fe2-android, bug-fix

#955 Fix Lao Connection Bug
  fe2-android/app/build.gradle
  fe2-android/app/src/main/AndroidManifest.xml
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonGenericMessageDeserializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/MessageSender.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/connecting/ConnectingActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/connecting/ConnectingFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/connecting/ConnectingViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/Constants.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/MessageHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.java
  fe2-android/app/src/main/res/layout/connecting_activity.xml
  fe2-android/app/src/main/res/layout/connecting_fragment.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/home/ConnectingFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/home/WalletFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/detail/LaoDetailPageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/home/ConnectingPageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/home/HomePageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ChirpHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
Labels: fe2-android, bug-fix
