Repository dedis/popstellar, pull requests merged in 2022-09, with the labels that each got.

#1208 Fix non updating rc state displayed
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/view/LaoView.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
Labels: fe2-android

#1207 Create the Social media repository
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Chirp.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/SocialMediaRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/ChirpListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/UnknownChirpException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ChirpHandler.java
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/socialmedia/ChirpListAdapterTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/ChirpTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/LaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/SocialMediaRepositoryTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ChirpHandlerTest.java
Labels: fe2-android

#1203 Upgrade dependencies
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/src/features/social/components/BackButton.tsx
  fe1-web/src/features/social/components/__tests__/BackButton.test.tsx
  fe1-web/src/features/social/screens/SocialUserProfile.tsx
Labels: fe1-web

#1206 Remove deprecated functions
  fe1-web/src/core/redux/GlobalStore.ts
  fe1-web/src/core/redux/__mocks__/GlobalStore.ts
  fe1-web/src/features/digital-cash/screens/SendReceive/__tests__/SendReceive.test.tsx
  fe1-web/src/features/digital-cash/screens/__tests__/DigitalCashWallet.test.tsx
  fe1-web/src/features/events/components/__tests__/CreateEventButton.test.tsx
  fe1-web/src/features/events/components/__tests__/EventList.test.tsx
  fe1-web/src/features/evoting/network/__tests__/ElectionMessageApi.test.ts
  fe1-web/src/features/evoting/screens/__tests__/ViewSingleElection.test.tsx
  fe1-web/src/features/home/hooks/__tests__/HomeHooks.test.tsx
  fe1-web/src/features/home/navigation/__tests__/ConnectNavigation.test.tsx
  fe1-web/src/features/home/screens/__tests__/ConnectConfirm.test.tsx
  fe1-web/src/features/home/screens/__tests__/ConnectOpenScan.test.tsx
  fe1-web/src/features/home/screens/__tests__/Home.test.tsx
  fe1-web/src/features/home/screens/__tests__/Launch.test.tsx
  fe1-web/src/features/lao/components/__tests__/Identity.test.tsx
  fe1-web/src/features/lao/components/__tests__/LaoItem.test.tsx
  fe1-web/src/features/lao/components/__tests__/LaoList.test.tsx
  fe1-web/src/features/lao/components/__tests__/LaoProperties.test.tsx
  fe1-web/src/features/lao/hooks/__tests__/LaoHooks.test.tsx
  fe1-web/src/features/lao/navigation/__tests__/EventsNavigation.test.tsx
  fe1-web/src/features/lao/navigation/__tests__/LaoNavigation.test.tsx
  fe1-web/src/features/lao/network/__tests__/LaoGreetWatcher.test.ts
  fe1-web/src/features/lao/reducer/__tests__/ServerReducer.test.ts
  fe1-web/src/features/lao/screens/__tests__/EventsScreen.test.tsx
  fe1-web/src/features/lao/screens/__tests__/LaoHomeScreen.test.tsx
  fe1-web/src/features/meeting/screens/__tests__/ViewSingleMeeting.test.tsx
  fe1-web/src/features/notification/components/__tests__/NotificationBadge.test.tsx
  fe1-web/src/features/notification/hooks/__tests__/NotificationHooks.test.tsx
  fe1-web/src/features/notification/screens/__tests__/NotificationScreen.test.tsx
  fe1-web/src/features/notification/screens/__tests__/SingleNotificationScreen.test.tsx
  fe1-web/src/features/rollCall/hooks/__tests__/RollCallHooks.test.tsx
  fe1-web/src/features/rollCall/screens/__tests__/RollCallOpened.test.tsx
  fe1-web/src/features/rollCall/screens/__tests__/ViewSingleRollCall.test.tsx
  fe1-web/src/features/social/components/__tests__/UserListItem.test.tsx
  fe1-web/src/features/social/screens/__tests__/SocialHome.test.tsx
  fe1-web/src/features/wallet/screens/__tests__/WalletHome.test.tsx
  fe1-web/src/features/witness/components/__tests__/WitnessNotification.test.tsx
  fe1-web/src/features/witness/network/__tests__/WitnessStoreWatcher.test.ts
Labels: fe1-web

#1231 Make sure the scanning fragment is opened when the permission is granted
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/witness/WitnessesFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/CameraPermissionFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/QRCodeScanningFragment.java
  fe2-android/app/src/main/res/layout/qrcode_camera_perm_fragment.xml
  fe2-android/app/src/main/res/layout/qrcode_fragment.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/detail/LaoDetailActivityPageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/qrcode/CameraPermissionPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/LaoDetailFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/witness/WitnessingFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/witness/WitnessingFragmentWithPermissionTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/CameraPermissionFragmentTest.java
Labels: fe2-android, bug-fix

#1234 Fix navigation bug
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionSetupFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallCreationFragment.java
  fe2-android/app/src/main/res/layout/election_setup_fragment.xml
  fe2-android/app/src/main/res/layout/roll_call_create_fragment.xml
Labels: fe2-android, bug-fix

#1235 Fix disappearing qr code icon if lao title is too long
  fe2-android/app/src/main/res/layout/lao_detail_fragment.xml
  fe2-android/app/src/main/res/values/dimens.xml
Labels: fe2-android, bug-fix

#1211 Apply decoupling of social media to the rest of the app
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/view/LaoView.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/SocialMediaRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/ChirpListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ChirpHandler.java
  fe2-android/app/src/main/res/layout/social_media_home_fragment.xml
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/di/DataRegistryModuleHelper.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/socialmedia/ChirpListAdapterTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/LaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ChirpHandlerTest.java
Labels: fe2-android

#1239 Fix crash on sending coins
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashSendFragment.java
Labels: fe2-android, bug-fix

#1196 Minimal persistent storage
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/Copyable.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Channel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Wallet.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/digitalcash/TransactionObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/view/LaoView.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/local/PersistentData.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/GlobalNetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/MessageSender.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/HistoryListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/ConnectingActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/settings/SettingsActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/SeedWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/WalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/ActivityUtils.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/Constants.java
  fe2-android/app/src/main/res/layout/connecting_activity.xml
  fe2-android/app/src/main/res/layout/settings_activity.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/EventListAdapterTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/LaoDetailActivityTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/ConnectingFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/WalletTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/TransactionObjectTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/local/PersistentDataTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/remote/LAONetworkManagerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/TransactionCoinHandlerTest.java
Labels: fe2-android

#1238 [Bug Fix] Fix multiple issues in the social media feature
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/ChirpListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/RollCallHandler.java
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/di/DataRegistryModuleHelper.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.java
Labels: fe2-android, bug-fix

#1240 Add json schemas for pop token and identity qr codes
  protocol/qrcode/main_public_key.json
  protocol/qrcode/pop_token.json
Labels: proto-spec

#1205 Put QR code reader back
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/src/__mocks__/expo-camera/index.tsx
  fe1-web/src/__mocks__/react-qr-reader/index.tsx
  fe1-web/src/core/components/QrCodeScanner.tsx
  fe1-web/src/core/components/__tests__/QrCodeScanner.test.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/QrCodeScanner.test.tsx.snap
  fe1-web/src/core/platform/web-styles/qr-code-scanner.css
  fe1-web/src/features/digital-cash/screens/__tests__/__snapshots__/PoPTokenScanner.test.tsx.snap
  fe1-web/src/features/home/navigation/__tests__/__snapshots__/ConnectNavigation.test.tsx.snap
  fe1-web/src/features/home/screens/ConnectOpenScan.tsx
  fe1-web/src/features/home/screens/__tests__/ConnectOpenScan.test.tsx
  fe1-web/src/features/home/screens/__tests__/__snapshots__/ConnectOpenScan.test.tsx.snap
  fe1-web/src/features/rollCall/screens/RollCallOpened.tsx
  fe1-web/src/features/rollCall/screens/__tests__/RollCallOpened.test.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/RollCallOpened.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web

#1246 Update build-web command
  fe1-web/package.json
Labels: fe1-web

#1237 Remove redux devtools store enhancer, fix #1225
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/src/core/redux/GlobalStore.ts
Labels: fe1-web, bug-fix

#1232 Update dependencies
  .github/workflows/ci.yaml
  fe1-web/babel.config.js
  fe1-web/docs/images/architecture-data-flow.png
  fe1-web/jest.config.js
  fe1-web/jest/setup.js
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/src/App.tsx
  fe1-web/src/core/components/CheckboxList.tsx
  fe1-web/src/core/components/CollapsibleContainer.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/CheckBoxList.test.tsx.snap
  fe1-web/src/core/components/__tests__/__snapshots__/CollapsibleContainer.test.tsx.snap
  fe1-web/src/features/digital-cash/components/DigitalCashWalletItems.tsx
  fe1-web/src/features/digital-cash/components/TransactionHistory.tsx
  fe1-web/src/features/digital-cash/components/__tests__/__snapshots__/DigitalCashWalletItems.test.tsx.snap
  fe1-web/src/features/digital-cash/components/__tests__/__snapshots__/TransactionHistory.test.tsx.snap
  fe1-web/src/features/digital-cash/screens/DigitalCashWallet.tsx
  fe1-web/src/features/digital-cash/screens/__tests__/__snapshots__/DigitalCashWallet.test.tsx.snap
  fe1-web/src/features/events/components/EventList.tsx
  fe1-web/src/features/events/components/EventListItem.tsx
  fe1-web/src/features/events/components/__tests__/__snapshots__/EventList.test.tsx.snap
  fe1-web/src/features/evoting/components/ElectionListItem.tsx
  fe1-web/src/features/evoting/components/ElectionOpened.tsx
  fe1-web/src/features/evoting/components/ElectionQuestions.tsx
  fe1-web/src/features/evoting/hooks/__tests__/EvotingHooks.test.tsx
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/ViewSingleElection.test.tsx.snap
  fe1-web/src/features/home/hooks/__tests__/HomeHooks.test.tsx
  fe1-web/src/features/home/screens/Home.tsx
  fe1-web/src/features/home/screens/__tests__/ConnectOpenScan.test.tsx
  fe1-web/src/features/lao/components/Identity.tsx
  fe1-web/src/features/lao/components/LaoItem.tsx
  fe1-web/src/features/lao/components/__tests__/__snapshots__/Identity.test.tsx.snap
  fe1-web/src/features/lao/components/__tests__/__snapshots__/LaoItem.test.tsx.snap
  fe1-web/src/features/lao/components/__tests__/__snapshots__/LaoList.test.tsx.snap
  fe1-web/src/features/lao/hooks/__tests__/LaoHooks.test.tsx
  fe1-web/src/features/lao/navigation/LaoNavigation.tsx
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/LaoNavigation.test.tsx.snap
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/LaoHomeScreen.test.tsx.snap
  fe1-web/src/features/meeting/components/MeetingListItem.tsx
  fe1-web/src/features/meeting/hooks/__tests__/MeetingHooks.test.tsx
  fe1-web/src/features/notification/components/NotificationList.tsx
  fe1-web/src/features/notification/hooks/__tests__/NotificationHooks.test.tsx
  fe1-web/src/features/notification/screens/__tests__/__snapshots__/NotificationScreen.test.tsx.snap
  fe1-web/src/features/rollCall/components/RollCallListItem.tsx
  fe1-web/src/features/rollCall/hooks/__tests__/RollCallHooks.test.tsx
  fe1-web/src/features/rollCall/screens/ViewSingleRollCall.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/features/social/navigation/SocialMediaNavigation.tsx
  fe1-web/src/features/wallet/components/RollCallWalletItem.tsx
  fe1-web/src/features/wallet/components/RollCallWalletItems.tsx
  fe1-web/src/features/wallet/components/__tests__/__snapshots__/RollCallWalletItems.test.tsx.snap
  fe1-web/src/features/wallet/hooks/__tests__/WalletHooks.test.tsx
  fe1-web/src/features/wallet/screens/WalletHome.tsx
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletHome.test.tsx.snap
  fe1-web/src/features/witness/hooks/__tests__/WitnessHooks.test.tsx
  fe1-web/webpack.config.js
Labels: fe1-web, dependencies
