Repository dedis/popstellar, pull requests merged in 2022-07, with the labels that each got.

#1145 Prevent text overflow in transaction history
  fe1-web/src/features/digital-cash/components/TransactionHistory.tsx
  fe1-web/src/features/digital-cash/components/__tests__/__snapshots__/TransactionHistory.test.tsx.snap
Labels: fe1-web, ux, bug-fix

#1130 Roll-call open front end integration test
  fe1-web/src/features/rollCall/screens/ViewSingleRollCall.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  tests/karate/src/test/java/common/utils/Constants.java
  tests/karate/src/test/java/fe/FrontEndTest.java
  tests/karate/src/test/java/fe/RollCall/rollCallCreation.feature
  tests/karate/src/test/java/fe/RollCall/rollCallOpen.feature
  tests/karate/src/test/java/fe/net/MockBackend.java
  tests/karate/src/test/java/fe/utils/android.feature
  tests/karate/src/test/java/fe/utils/simpleScenarios.feature
  tests/karate/src/test/java/fe/utils/verification/RollCallVerification.java
  tests/karate/src/test/java/fe/utils/web.feature
Labels: prod-ready

#1154 Settings tests
  fe1-web/src/features/events/components/__tests__/__snapshots__/EventList.test.tsx.snap
  fe2-android/app/src/main/res/layout/settings_fragment.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/settings/SettingsPageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/settings/SettingsTest.java
Labels: fe2-android

#1152 Updating Simple scenarios to respect self containment and deleting all json files
  tests/README.md
  tests/karate/src/test/java/be/constants.feature
  tests/karate/src/test/java/be/utils/JsonConverter.java
  tests/karate/src/test/java/be/utils/simpleScenarios.feature
  tests/karate/src/test/java/data/election/data/castVote/bad_cast_vote_invalid_election_id_data.json
  tests/karate/src/test/java/data/election/data/castVote/bad_cast_vote_invalid_vote_id_data.json
  tests/karate/src/test/java/data/election/data/castVote/bad_cast_vote_late_vote_data.json
  tests/karate/src/test/java/data/election/data/castVote/valid_cast_vote_2_data.json
  tests/karate/src/test/java/data/election/data/castVote/valid_cast_vote_data.json
  tests/karate/src/test/java/data/election/data/electionEnd/bad_election_end_invalid_election_id_data.json
  tests/karate/src/test/java/data/election/data/electionEnd/bad_election_end_invalid_registered_votes_data.json
  tests/karate/src/test/java/data/election/data/electionEnd/valid_election_end_data.json
  tests/karate/src/test/java/data/election/data/electionSetup/bad_election_setup_empty_ballot_options_data.json
  tests/karate/src/test/java/data/election/data/electionSetup/bad_election_setup_invalid_election_id_data.json
  tests/karate/src/test/java/data/election/data/electionSetup/bad_election_setup_invalid_question_id_data.json
  tests/karate/src/test/java/data/election/data/electionSetup/bad_election_setup_unsupported_voting_method_data.json
  tests/karate/src/test/java/data/election/data/electionSetup/valid_election_setup_2_data.json
  tests/karate/src/test/java/data/election/data/electionSetup/valid_election_setup_data.json
  tests/karate/src/test/java/data/election/data/valid_election_setup.json
  tests/karate/src/test/java/data/lao/bad_lao_create_empty_name.json
  tests/karate/src/test/java/data/lao/bad_lao_create_id_invalid_hash.json
  tests/karate/src/test/java/data/lao/bad_lao_create_negative.json
  tests/karate/src/test/java/data/lao/data/bad_lao_create_empty_name_data.json
  tests/karate/src/test/java/data/lao/data/bad_lao_create_id_invalid_hash_data.json
  tests/karate/src/test/java/data/lao/data/bad_lao_create_negative_data.json
  tests/karate/src/test/java/data/rollCall/bad_create_roll_call_not_organizer_sender.json
  tests/karate/src/test/java/data/rollCall/bad_roll_call_create_creation_time_less_than_start_time.json
  tests/karate/src/test/java/data/rollCall/bad_roll_call_create_creation_time_negative.json
  tests/karate/src/test/java/data/rollCall/bad_roll_call_create_empty_data_but_same_messageId_as_valid_roll_call.json
  tests/karate/src/test/java/data/rollCall/bad_roll_call_create_invalid_roll_call_id.json
  tests/karate/src/test/java/data/rollCall/bad_roll_call_create_start_time_bigger_than_end_time.json
  tests/karate/src/test/java/data/rollCall/bad_roll_call_create_wrong_channel.json
  tests/karate/src/test/java/data/rollCall/close/bad_roll_call_close_invalid_update_id.json
  tests/karate/src/test/java/data/rollCall/close/valid_roll_call_close.json
  tests/karate/src/test/java/data/rollCall/close/valid_roll_call_close_2.json
  tests/karate/src/test/java/data/rollCall/data/rollCallClose/bad_roll_call_close_invalid_update_id_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallClose/valid_roll_call_close_2_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallClose/valid_roll_call_close_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallCreate/bad_roll_call_create_creation_time_less_than_start_time_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallCreate/bad_roll_call_create_creation_time_negative_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallCreate/bad_roll_call_create_invalid_roll_call_id_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallCreate/bad_roll_call_create_start_time_bigger_than_end_time_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallCreate/valid_roll_call_create_2_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallCreate/valid_roll_call_create_3_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallCreate/valid_roll_call_create_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallOpen/bad_roll_call_open_invalid_update_id_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallOpen/valid_roll_call_open_2_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallOpen/valid_roll_call_open_3_data.json
  tests/karate/src/test/java/data/rollCall/data/rollCallOpen/valid_roll_call_open_data.json
  tests/karate/src/test/java/data/rollCall/open/bad_roll_call_open_invalid_update_id.json
  tests/karate/src/test/java/data/rollCall/open/valid_roll_call_open.json
  tests/karate/src/test/java/data/rollCall/open/valid_roll_call_open_2.json
  tests/karate/src/test/java/data/rollCall/open/valid_roll_call_open_3.json
  tests/karate/src/test/java/data/rollCall/valid_roll_call_create.json
  tests/karate/src/test/java/data/rollCall/valid_roll_call_create_2.json
  tests/karate/src/test/java/data/rollCall/valid_roll_call_create_3.json
  tests/karate/src/test/java/fe/utils/verification/MessageVerification.java
  tests/karate/src/test/java/fe/utils/verification/RollCallVerification.java
Labels: prod-ready

#1156 Fix fe1 CI fail
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/ViewSingleElection.test.tsx.snap
Labels: fe1-web, ci/cd

#1122 [BE1] validate sum of transaction outputs
  be1-go/channel/coin/uint53/mod.go
  be1-go/channel/coin/uint53/mod_test.go
  be1-go/message/messagedata/coin_post_transaction.go
  be1-go/message/test/messagedata/coin_post_transaction_test.go
Labels: be1-go, digital-wallet

#1162 A couple LaoDetailViewModel tests
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionSetupFragment.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/testutils/UITestUtils.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/LaoDetailFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/detail/LaoDetailActivityPageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/detail/event/election/ElectionSetupPageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/detail/event/rollcall/RollCallCreatePageObject.java
Labels: fe2-android

#1163 Election setup & open karate tests
  fe1-web/src/core/components/RemovableTextInput.tsx
  fe1-web/src/core/components/TextInputList.tsx
  fe1-web/src/features/evoting/components/ElectionNotStarted.tsx
  fe1-web/src/features/evoting/screens/CreateElection.tsx
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/CreateElection.test.tsx.snap
  tests/karate/src/test/java/common/utils/Constants.java
  tests/karate/src/test/java/fe/FrontEndTest.java
  tests/karate/src/test/java/fe/RollCall/rollCallCreation.feature
  tests/karate/src/test/java/fe/elections/electionOpen.feature
  tests/karate/src/test/java/fe/elections/electionSetup.feature
  tests/karate/src/test/java/fe/net/mockBackend.feature
  tests/karate/src/test/java/fe/utils/android.feature
  tests/karate/src/test/java/fe/utils/simpleScenarios.feature
  tests/karate/src/test/java/fe/utils/verification/ElectionVerification.java
  tests/karate/src/test/java/fe/utils/verification/RollCallVerification.java
  tests/karate/src/test/java/fe/utils/verification/VerificationUtils.java
  tests/karate/src/test/java/fe/utils/web.feature
Labels: prod-ready

#1167 Fix digital cash float input
  fe2-android/app/src/main/res/layout/digital_cash_issue_fragment.xml
  fe2-android/app/src/main/res/layout/digital_cash_send_fragment.xml
Labels: fe2-android

#1171 Cast Vote & Election Open karate tests
  fe1-web/src/features/evoting/components/ElectionOpened.tsx
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/ViewSingleElection.test.tsx.snap
  tests/karate/src/test/java/common/utils/Constants.java
  tests/karate/src/test/java/fe/FrontEndTest.java
  tests/karate/src/test/java/fe/election/castVote.feature
  tests/karate/src/test/java/fe/election/electionEnd.feature
  tests/karate/src/test/java/fe/election/electionOpen.feature
  tests/karate/src/test/java/fe/election/electionSetup.feature
  tests/karate/src/test/java/fe/utils/android.feature
  tests/karate/src/test/java/fe/utils/simpleScenarios.feature
  tests/karate/src/test/java/fe/utils/verification/ElectionVerification.java
  tests/karate/src/test/java/fe/utils/web.feature
Labels: prod-ready

#1108 Automatically append git commit hash
  fe1-web/build/web-postbuild.js
  fe1-web/docs/images/architecture-data-flow.png
  fe1-web/package.json
Labels: enhancement, fe1-web

#1151 Add feature READMEs
  fe1-web/src/features/digital-cash/README.md
  fe1-web/src/features/events/README.md
  fe1-web/src/features/evoting/README.md
  fe1-web/src/features/home/README.md
  fe1-web/src/features/lao/README.md
  fe1-web/src/features/meeting/README.md
  fe1-web/src/features/notification/README.md
  fe1-web/src/features/rollCall/README.md
  fe1-web/src/features/social/README.md
  fe1-web/src/features/wallet/README.md
  fe1-web/src/features/witness/README.md
Labels: documentation, fe1-web

#1172 Model tests
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/Query.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/MessageGeneral.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/BroadcastTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/MessageTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/PublishTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/QueryTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/SubscribeTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/UnsubscribeTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/MessageGeneralTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/meeting/CreateMeetingTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/meeting/StateMeetingTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/CloseRollCallTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/CreateRollCallTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/OpenRollCallTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ElectionTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/LaoTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/TransactionObjectBuilderTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/WitnessMessageTest.java
Labels: fe2-android

#1161 Reset chirp text after publishing
  fe1-web/jest/setup.js
  fe1-web/src/features/social/components/TextInputChirp.tsx
  fe1-web/src/features/social/components/__tests__/TextInputChirp.test.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/TextInputChirp.test.tsx.snap
  fe1-web/src/features/social/screens/SocialHome.tsx
  fe1-web/src/features/social/screens/__tests__/SocialHome.test.tsx
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialHome.test.tsx.snap
Labels: fe1-web, ux, bug-fix

#990 Added collaboration instructions on github guide
  docs/README.md
Labels: documentation

#1181 Refactor Connecting process
  fe2-android/app/src/main/AndroidManifest.xml
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/ConnectingActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/connecting/ConnectingActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/connecting/ConnectingFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/connecting/ConnectingViewModel.java
  fe2-android/app/src/main/res/layout/connecting_activity.xml
  fe2-android/app/src/main/res/layout/connecting_fragment.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/home/ConnectingFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/home/ConnectingPageObject.java
Labels: fe2-android

#1180 Create factory functions for the activities and fragments
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/AbstractEventCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/pickers/DatePickerFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/pickers/TimePickerFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LaunchFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/ActivityUtils.java
Labels: fe2-android

#1177 Remove Livedata usage for events in the home activity
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LAOListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LaunchFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/CameraPermissionViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/ContentWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/SeedWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/WalletFragment.java
Labels: fe2-android
