Repository dedis/popstellar, pull requests merged in 2022-02, with the labels that each got.

#775 Fix organizer in cross server elections
  be1-go/channel/election/mod.go
  be1-go/channel/election/mod_test.go
  be1-go/channel/lao/mod.go
Labels: bug, be1-go

#778 Improve chirp deletion
  fe1-web/components/ChirpCard.tsx
  fe1-web/components/__tests__/ChirpCard.test.tsx
  fe1-web/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/parts/wallet/WalletHome.tsx
  fe1-web/res/strings.ts
Labels: fe1-web

#779 Add tests for EventMeeting, BarChartDisplay and CheckBoxList
  fe1-web/components/BarChartDisplay.tsx
  fe1-web/components/CheckboxList.tsx
  fe1-web/components/__tests__/BarChartDisplay.test.tsx
  fe1-web/components/__tests__/CheckBoxList.test.tsx
  fe1-web/components/__tests__/__snapshots__/BarChartDisplay.test.tsx.snap
  fe1-web/components/__tests__/__snapshots__/CheckBoxList.test.tsx.snap
  fe1-web/components/eventList/events/__tests__/EventMeeting.test.tsx
  fe1-web/components/eventList/events/__tests__/__snapshots__/EventMeeting.test.tsx.snap
Labels: fe1-web

#780 Remove warning when QRcode shows on screen
  fe1-web/components/QRCode.tsx
  fe1-web/navigation/bars/LaoNavigation.tsx
  fe1-web/navigation/bars/MainNavigation.tsx
  fe1-web/package-lock.json
  fe1-web/package.json
Labels: fe1-web

#722 add channel type validation and add extra checks inside validators
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MeetingValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/JsonRpcRequestSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/LaoDataSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/DbActorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidatorSuite.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
  be2-scala/src/test/scala/util/examples/MessageExample.scala
  be2-scala/src/test/scala/util/examples/socialMedia/AddChirpExamples.scala
  be2-scala/src/test/scala/util/examples/socialMedia/AddReactionExamples.scala
  be2-scala/src/test/scala/util/examples/socialMedia/DeleteChirpExamples.scala
  be2-scala/src/test/scala/util/examples/socialMedia/DeleteReactionExamples.scala
Labels: be2-scala

#784 Add the url of the server in the scanned QR code
  fe1-web/components/eventList/LaoProperties.tsx
  fe1-web/model/network/validation/Validator.ts
  fe1-web/model/network/validation/index.ts
  fe1-web/model/objects/ConnectToLao.ts
  fe1-web/model/objects/__tests__/ConnectToLao.test.ts
  fe1-web/model/objects/index.ts
  fe1-web/package-lock.json
  fe1-web/parts/Launch.tsx
  fe1-web/parts/connect/ConnectConfirm.tsx
  fe1-web/parts/connect/ConnectOpenScan.tsx
  fe1-web/parts/lao/attendee/Attendee.tsx
  fe1-web/res/strings.ts
  fe2-android/app/build.gradle
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonUtils.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/qrcode/ConnectToLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  protocol/qrcode/connect_to_lao.json
Labels: fe1-web, fe2-android

#782 Add tests for objects
  fe1-web/model/objects/__tests__/Election.test.ts
  fe1-web/model/objects/__tests__/LaoEventBuilder.test.ts
  fe1-web/model/objects/__tests__/Meeting.test.ts
  fe1-web/model/objects/__tests__/RollCall.test.ts
  fe1-web/model/objects/__tests__/Timestamp.test.ts
Labels: fe1-web

#783 Work fe1 jwen test reducers
  fe1-web/__tests__/utils/TestUtils.ts
  fe1-web/model/network/method/message/__tests__/Message.test.ts
  fe1-web/store/reducers/EventsReducer.ts
  fe1-web/store/reducers/KeyPairReducer.ts
  fe1-web/store/reducers/LaoReducer.ts
  fe1-web/store/reducers/MessageReducer.ts
  fe1-web/store/reducers/__tests__/EventsReducer.test.ts
  fe1-web/store/reducers/__tests__/KeyPairReducer.test.ts
  fe1-web/store/reducers/__tests__/LaoReducer.test.ts
  fe1-web/store/reducers/__tests__/MessageReducer.test.ts
  fe1-web/store/reducers/__tests__/SocialReducer.test.ts
  fe1-web/store/reducers/__tests__/WalletReducer.test.ts
Labels: fe1-web

#786 Add Tests to key manager
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/utility/security/KeyManagerTest.java
Labels: fe2-android

#788 Add tests for the LaoDetail Activity
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/pages/detail/LaoDetailPageObject.java
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/testutils/BundleBuilder.java
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/testutils/IntentUtils.java
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivityTest.java
Labels: fe2-android

#789 Resolved 2 bugs in the codebase
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/BarcodeTracker.java
Labels: fe2-android

#791 Remove test exclusion
  fe1-web/sonar-project.properties
Labels: fe1-web

#794 Update build file to make it faster and cleaner
  .github/workflows/ci.yaml
  fe2-android/app/build.gradle
  fe2-android/build.gradle
  fe2-android/gradle/wrapper/gradle-wrapper.properties
  fe2-android/settings.gradle
Labels: fe2-android

#781 Add documentation about event creation
  docs/assets/modal_event_end_time.png
  docs/assets/modal_event_start_time.png
  docs/eventCreation.md
Labels: documentation

#795 Message registry for handlers
  fe1-web/App.tsx
  fe1-web/components/eventList/events/EventElection.tsx
  fe1-web/ingestion/Configure.ts
  fe1-web/ingestion/Handler.ts
  fe1-web/ingestion/Watcher.ts
  fe1-web/ingestion/handlers/ChirpHandler.ts
  fe1-web/ingestion/handlers/Default.ts
  fe1-web/ingestion/handlers/ElectionHandler.ts
  fe1-web/ingestion/handlers/LaoHandler.ts
  fe1-web/ingestion/handlers/MeetingHandler.ts
  fe1-web/ingestion/handlers/ReactionHandler.ts
  fe1-web/ingestion/handlers/RollCallHandler.ts
  fe1-web/ingestion/handlers/WitnessHandler.ts
  fe1-web/ingestion/handlers/index.ts
  fe1-web/model/network/method/message/data/MessageRegistry.ts
  fe1-web/model/network/method/message/data/index.ts
Labels: fe1-web

#800 Extend message registry
  fe1-web/.eslintrc
  fe1-web/App.tsx
  fe1-web/ingestion/handlers/ChirpHandler.ts
  fe1-web/model/network/__tests__/FromJsonRpcRequest.test.ts
  fe1-web/model/network/method/message/Message.ts
  fe1-web/model/network/method/message/__tests__/Message.test.ts
  fe1-web/model/network/method/message/data/Builder.ts
  fe1-web/model/network/method/message/data/MessageData.ts
  fe1-web/model/network/method/message/data/MessageProperties.ts
  fe1-web/model/network/method/message/data/MessageRegistry.ts
  fe1-web/model/network/method/message/data/__tests__/MessageRegistry.test.ts
  fe1-web/model/network/method/message/data/index.ts
  fe1-web/store/reducers/__tests__/MessageReducer.test.ts
Labels: fe1-web

#805 Refactor tests
  fe1-web/__mocks__/useNavigationMock.tsx
  fe1-web/__tests__/utils/TestUtils.ts
  fe1-web/components/__tests__/BackButton.test.tsx
  fe1-web/components/__tests__/ChirpCard.test.tsx
  fe1-web/components/__tests__/UserListItem.test.tsx
  fe1-web/model/network/method/message/__tests__/Message.test.ts
  fe1-web/model/network/method/message/data/chirp/__tests__/DeleteChirp.test.ts
  fe1-web/model/network/method/message/data/chirp/__tests__/NotifyAddChirp.test.ts
  fe1-web/model/network/method/message/data/chirp/__tests__/NotifyDeleteChirp.test.ts
  fe1-web/model/network/method/message/data/reaction/__tests__/AddReaction.test.ts
  fe1-web/model/objects/__tests__/Channel.test.ts
  fe1-web/model/objects/__tests__/ConnectToLao.test.ts
  fe1-web/model/objects/__tests__/Election.test.ts
  fe1-web/model/objects/__tests__/Lao.test.ts
  fe1-web/parts/lao/organizer/__tests__/RollCallOpened.test.tsx
  fe1-web/sonar-project.properties
  fe1-web/store/reducers/__tests__/EventsReducer.test.ts
  fe1-web/store/reducers/__tests__/LaoReducer.test.ts
  fe1-web/store/reducers/__tests__/MessageReducer.test.ts
  fe1-web/store/reducers/__tests__/SocialReducer.test.ts
Labels: fe1-web

#815 Remove ESLint issue in reducer
  fe1-web/store/reducers/.eslintrc
  fe1-web/store/reducers/EventsReducer.ts
  fe1-web/store/reducers/KeyPairReducer.ts
  fe1-web/store/reducers/LaoReducer.ts
  fe1-web/store/reducers/MessageReducer.ts
  fe1-web/store/reducers/SocialReducer.ts
  fe1-web/store/reducers/WalletReducer.ts
Labels: fe1-web

#809 Implementation of DbActor WRITE interface
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/DbActorNAckException.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActorNew.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DiskStorage.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/Storage.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorNewSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DiskStorageSuite.scala
Labels: enhancement, be2-scala

#829 Create a basis for a error display system
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/DataHandlingException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/ErrorUtils.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/GenericException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/JsonRPCErrorException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/InvalidPoPTokenException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/KeyException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/KeyGenerationException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/NoRollCallException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/SeedValidationException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/UninitializedWalletException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ChirpHandler.java
  fe2-android/app/src/main/res/values/strings.xml
Labels: fe2-android

#830 Reverse dependency between Wallet and Message
  fe1-web/app.json
  fe1-web/jest.config.js
  fe1-web/jest/styleMock.js
  fe1-web/src/App.tsx
  fe1-web/src/__tests__/utils/TestFeatures.ts
  fe1-web/src/__tests__/utils/index.ts
  fe1-web/src/core/keypair/KeyPairRegistry.ts
  fe1-web/src/core/keypair/index.ts
  fe1-web/src/core/network/Configure.ts
  fe1-web/src/core/network/JsonRpcApi.ts
  fe1-web/src/core/network/NetworkConnection.ts
  fe1-web/src/core/network/index.ts
  fe1-web/src/core/network/ingestion/Configure.ts
  fe1-web/src/core/network/ingestion/__tests__/Reducer.test.ts
  fe1-web/src/core/network/ingestion/index.ts
  fe1-web/src/core/network/jsonrpc/__tests__/FromJsonRpcRequest.test.ts
  fe1-web/src/core/network/jsonrpc/messages/Message.ts
  fe1-web/src/core/network/jsonrpc/messages/MessageRegistry.ts
  fe1-web/src/core/network/jsonrpc/messages/__tests__/Message.test.ts
  fe1-web/src/core/network/jsonrpc/messages/__tests__/MessageRegistry.test.ts
  fe1-web/src/features/connect/screens/ConnectConfirm.tsx
  fe1-web/src/features/evoting/components/EventElection.tsx
  fe1-web/src/features/evoting/network/messages/__tests__/SetupElection.test.ts
  fe1-web/src/features/index.ts
  fe1-web/src/features/lao/components/LaoItem.tsx
  fe1-web/src/features/lao/components/index.ts
  fe1-web/src/features/lao/index.ts
  fe1-web/src/features/lao/network/__tests__/LaoMessageApi.ts
  fe1-web/src/features/lao/network/messages/__tests__/CreateLao.test.ts
  fe1-web/src/features/lao/network/messages/__tests__/StateLao.test.ts
  fe1-web/src/features/lao/network/messages/__tests__/UpdateLao.test.ts
  fe1-web/src/features/lao/screens/AttendeeScreen.tsx
  fe1-web/src/features/meeting/network/__tests__/MeetingMessageApi.test.ts
  fe1-web/src/features/meeting/network/messages/__tests__/CreateMeeting.test.ts
  fe1-web/src/features/meeting/network/messages/__tests__/StateMeeting.test.ts
  fe1-web/src/features/rollCall/components/EventRollCall.tsx
  fe1-web/src/features/rollCall/network/__tests__/RollCallMessageApi.test.ts
  fe1-web/src/features/rollCall/network/messages/__tests__/CloseRollCall.test.ts
  fe1-web/src/features/rollCall/network/messages/__tests__/CreateRollCall.test.ts
  fe1-web/src/features/rollCall/network/messages/__tests__/OpenRollCall.test.ts
  fe1-web/src/features/rollCall/network/messages/__tests__/ReopenRollCall.test.ts
  fe1-web/src/features/rollCall/screens/RollCallOpened.tsx
  fe1-web/src/features/social/components/__tests__/ChirpCard.test.tsx
  fe1-web/src/features/social/navigation/SocialMediaNavigation.tsx
  fe1-web/src/features/social/network/__tests__/SocialMessageApi.test.ts
  fe1-web/src/features/social/network/messages/chirp/__tests__/AddChirp.test.ts
  fe1-web/src/features/social/network/messages/chirp/__tests__/DeleteChirp.test.ts
  fe1-web/src/features/wallet/index.ts
  fe1-web/src/features/wallet/objects/Token.ts
  fe1-web/src/features/wallet/objects/Wallet.ts
  fe1-web/src/features/wallet/objects/__tests__/Seed.test.ts
  fe1-web/src/features/wallet/objects/__tests__/Token.test.ts
  fe1-web/src/features/wallet/store/WalletStore.ts
  fe1-web/src/features/wallet/store/__tests__/WalletStore.test.ts
  fe1-web/src/features/witness/network/messages/__tests__/WitnessMessage.test.ts
  fe1-web/src/resources/Props.ts
Labels: fe1-web

#833 Applied review comments #820
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/LaoData.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActorNew.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/LaoDataSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorNewSuite.scala
Labels: be2-scala

#820 Add DbActor Read functionalities as well as WriteLaoData and unit tests
  be2-scala/docs/README.md
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/LaoData.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActorNew.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/ChannelSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/LaoDataSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorNewSuite.scala
Labels: be2-scala

#838 Integrated new db actor
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PubSubMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/AnswerGenerator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageDataContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DiskStorage.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/AnswerGeneratorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/DbActorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandlerTest.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/InMemoryStorage.scala
Labels: be2-scala

#808 Implementation of the – brand new – DbActor
  be2-scala/docs/README.md
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/DbActorNAckException.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/LaoData.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PubSubMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/AnswerGenerator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageDataContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DiskStorage.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/Storage.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/ChannelSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/LaoDataSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/AnswerGeneratorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/DbActorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandlerTest.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DiskStorageSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/InMemoryStorage.scala
Labels: enhancement, be2-scala

#806 Extract websocket connection and message handling out of LAORepository
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/NetworkModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/RepositoryModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/Connection.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/ConnectionFactory.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/GlobalNetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAORemoteDataSource.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAORequestFactory.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/MessageSender.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/settings/SettingsFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/DataHandlingException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/ErrorUtils.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/GenericException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/JsonRPCErrorException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/InvalidPoPTokenException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/KeyException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/KeyGenerationException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/NoRollCallException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/SeedValidationException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/UninitializedWalletException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/MessageHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ChirpHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ElectionHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/HandlerContext.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/RollCallHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/WitnessMessageHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/scheduler/ProdSchedulerProvider.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/scheduler/SchedulerProvider.java
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/repository/LAORepositoryTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/repository/remote/ConnectionTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/repository/remote/GlobalNetworkManagerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/repository/remote/LAONetworkManagerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivityTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/event/fragments/ElectionSetupFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ChirpHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/LaoHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/scheduler/TestSchedulerProvider.java
  fe2-android/docs/README.md
  fe2-android/docs/images/architecture_diagram.drawio
  fe2-android/docs/images/architecture_diagram.png
  fe2-android/docs/images/architecture_diagram.svg
  fe2-android/docs/images/mvvm.png
Labels: fe2-android

#844 Create a dedicated type for the channel in the protocol
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/JsonModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/Broadcast.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/Catchup.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/Message.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/Publish.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/Query.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/Subscribe.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/Unsubscribe.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/NotifyAddChirp.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonChannelSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Channel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Chirp.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/ElectInstance.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Election.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/MessageSender.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallTokenFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LAOListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/MessageHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ChirpHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ConsensusHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ElectionHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/HandlerContext.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/RollCallHandler.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/NotifyAddChirpTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ChirpTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ConsensusNodeTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ConsensusTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ElectInstanceTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ElectionTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/LaoTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/repository/remote/ConnectionTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/repository/remote/GlobalNetworkManagerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/repository/remote/LAONetworkManagerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/socialmedia/ChirpListAdapterTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ChirpHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/LaoHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.java
Labels: fe2-android
