Repository dedis/popstellar, pull requests merged in 2022-06, with the labels that each got.

#1064 [BE2] de-duplicate hash implementation
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/PublicKey.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/PublicKeySuite.scala
Labels: be2-scala, digital-wallet

#1040 Fe 2 - Digital Cash - Creation objects Referred to the json schema
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/Input.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/Output.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/ScriptInput.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/InputObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/OutputObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/ScriptInputObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/ScriptOutputObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/TransactionObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/InputObjectTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/OutputObjectTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ScriptInputObjectTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ScriptOutputObjectTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/TransactionObjectTest.java
Labels: fe2-android, digital-wallet

#1063 Fix issue in witnessing feature
  fe1-web/src/features/witness/network/WitnessStoreWatcher.ts
Labels: fe1-web, bug-fix

#1073 Fix crash on closing a reopenend roll-call with be2
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/RollCallHandler.java
Labels: fe2-android, bug-fix

#1026 Fix roll call drop down and UI enhancement
  fe1-web/src/core/components/RoundIconButton.tsx
  fe1-web/src/core/components/__tests__/RoundIconButton.test.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/CameraButton.test.tsx.snap
  fe1-web/src/core/components/__tests__/__snapshots__/RoundIconButton.test.tsx.snap
  fe1-web/src/core/components/index.ts
  fe1-web/src/core/styles/buttons.js
  fe1-web/src/core/styles/stylesheets/circularButtonStyles.ts
  fe1-web/src/features/wallet/components/RollCallTokensDropDown.tsx
  fe1-web/src/features/wallet/components/__tests__/RollCallTokensDropDown.test.tsx
  fe1-web/src/features/wallet/components/__tests__/__snapshots__/RollCallTokensDropDown.test.tsx.snap
  fe1-web/src/features/wallet/objects/DummyWallet.ts
  fe1-web/src/features/wallet/screens/WalletCreateSeed.tsx
  fe1-web/src/features/wallet/screens/WalletHome.tsx
  fe1-web/src/features/wallet/screens/WalletSetSeed.tsx
  fe1-web/src/features/wallet/screens/__tests__/WalletHome.test.tsx
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletCreateSeed.test.tsx.snap
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletHome.test.tsx.snap
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletSetSeed.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, digital-wallet

#1071 Fixing error propagation
  be1-go/hub/standard_hub/message_handling.go
  be1-go/hub/standard_hub/mod.go
  be1-go/hub/standard_hub/mod_test.go
Labels: be1-go

#1076 Checking if election open is not before election setup create time
  be1-go/channel/election/mod.go
  be1-go/channel/election/verification.go
  be1-go/channel/election/verification_test.go
  be1-go/channel/lao/mod.go
Labels: be1-go, bug-fix

#1081 Change computation of the election end hash
  docs/messageData.md
  fe1-web/src/features/evoting/network/messages/EndElection.ts
  fe1-web/src/features/evoting/network/messages/__tests__/EndElection.test.ts
  protocol/query/method/message/data/dataEndElection.json
Labels: fe1-web

#1084 Adds tests for the CLI
  be1-go/cli/mod.go
  be1-go/cli/pop.go
  be1-go/cli/pop_test.go
  be1-go/go.mod
  be1-go/go.sum
  be1-go/network/shutdown.go
Labels: be1-go

#1052 JAVA Frontend support for encryption
  fe2-android/app/build.gradle
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/CastVote.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionEncryptedVote.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionVote.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonDataSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Election.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/elGamal/ElectionKeyPair.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/elGamal/ElectionPrivateKey.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/elGamal/ElectionPublicKey.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/adapters/CastVoteViewPagerAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/CastVoteFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ElectionHandler.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/CastVoteTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionEncryptedVoteTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionVoteTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ElectionTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/security/ed25519/ElectionKeyPairTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/security/ed25519/ElectionPrivateKeyTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/security/ed25519/ElectionPublicKeyTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/event/election/ElectionFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
Labels: fe2-android, e-voting

#1085 [BE2] explicitly create coin channel
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
Labels: be2-scala, digital-wallet, bug-fix

#1094 [BE2] exclude signatures from assembly
  be2-scala/build.sbt
Labels: be2-scala, bug-fix

#1099 [BE2] fix coin field names
  be2-scala/src/main/scala/ch/epfl/pop/json/ObjectProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Transaction.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/MessageDataProtocolSuite.scala
Labels: be2-scala, digital-wallet

#1059 Basic karate test for post transaction
  tests/karate/src/test/java/be/ServerTest.java
  tests/karate/src/test/java/be/constants.feature
  tests/karate/src/test/java/be/digitalCash/transaction.feature
  tests/karate/src/test/java/be/utils/simpleScenarios.feature
Labels: prod-ready

#1062 BUG FIX: RollCall validator & handler
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/LaoData.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/RollCallData.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/LaoDataSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandlerTest.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
  be2-scala/src/test/scala/util/examples/RollCall/CloseRollCallExamples.scala
  be2-scala/src/test/scala/util/examples/RollCall/CreateRollCallExamples.scala
  be2-scala/src/test/scala/util/examples/RollCall/OpenRollCallExamples.scala
Labels: be2-scala, bug-fix

#1095 Fe2 Digital Cash XML update
  fe2-android/app/src/main/res/layout/digital_cash_home_fragment.xml
  fe2-android/app/src/main/res/layout/digital_cash_receive_fragment.xml
  fe2-android/app/src/main/res/layout/digital_cash_send_fragment.xml
  fe2-android/app/src/main/res/values/strings.xml
Labels: fe2-android, digital-wallet

#1105 Refactor CastVote deserializer
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/JsonModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/CastVote.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonCastVoteDeserializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonDataSerializer.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/CastVoteTest.java
Labels: fe2-android, e-voting, bug-fix

#1120 Fix end time displayed on roll call screen
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/RollCallHandler.java
Labels: fe2-android

#1112 Remove copy button for seed
  fe1-web/src/core/components/ConfirmModal.tsx
  fe1-web/src/core/components/Input.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/ConfirmModal.test.tsx.snap
  fe1-web/src/core/styles/typography.ts
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/CreateElection.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/ConnectConfirm.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/Launch.test.tsx.snap
  fe1-web/src/features/lao/components/__tests__/__snapshots__/Identity.test.tsx.snap
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/LaoNavigation.test.tsx.snap
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/LaoHomeScreen.test.tsx.snap
  fe1-web/src/features/meeting/screens/__tests__/__snapshots__/CreateMeeting.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/CreateRollCall.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/RollCallOpened.test.tsx.snap
  fe1-web/src/features/wallet/screens/WalletCreateSeed.tsx
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletCreateSeed.test.tsx.snap
Labels: enhancement, fe1-web

#1110 Fix styling issues
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/src/core/styles/list.ts
  fe1-web/src/features/events/components/__tests__/__snapshots__/EventList.test.tsx.snap
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/ViewSingleElection.test.tsx.snap
  fe1-web/src/features/notification/screens/__tests__/__snapshots__/NotificationScreen.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
Labels: enhancement, fe1-web

#1109 Show feedback to the user after casting a vote
  fe1-web/src/features/evoting/components/ElectionOpened.tsx
  fe1-web/src/resources/strings.ts
Labels: enhancement, fe1-web

#1123 data: fix out-of-spec signatures
  be1-go/message/test/messagedata/coin_post_transaction_test.go
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Transaction.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/MessageDataProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/TransactionSuite.scala
  protocol/examples/messageData/coin/post_transaction.json
  protocol/examples/messageData/coin/post_transaction_bad_signature.json
  protocol/examples/messageData/coin/post_transaction_coinbase.json
  protocol/examples/messageData/coin/post_transaction_max_amount.json
  protocol/examples/messageData/coin/post_transaction_zero_amount.json
Labels: digital-wallet, bug-fix

#1126 [BE1] add signature check for digital cash
  be1-go/channel/coin/mod_test.go
  be1-go/message/messagedata/coin_post_transaction.go
Labels: enhancement, be1-go, digital-wallet

#1117 Meeting tests
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MeetingValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/MeetingValidatorSuite.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
  be2-scala/src/test/scala/util/examples/MessageExample.scala
Labels: be2-scala

#1141 Temporary fix for fe1 CI
  .github/workflows/ci.yaml
Labels: bug-fix, ci/cd

#1136 Make toast color consistent with the rest of the application
  fe1-web/src/App.tsx
Labels: enhancement, fe1-web, ux

#1138 Remove unused icon
  fe1-web/src/core/components/PoPIcon.tsx
Labels: enhancement, fe1-web

#1139 Fix pop button styling
  fe1-web/src/core/components/PoPButton.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/ConfirmModal.test.tsx.snap
  fe1-web/src/core/components/__tests__/__snapshots__/DismissModal.test.tsx.snap
  fe1-web/src/core/components/__tests__/__snapshots__/PoPButton.test.tsx.snap
  fe1-web/src/core/components/__tests__/__snapshots__/PoPTextButton.test.tsx.snap
  fe1-web/src/features/digital-cash/screens/SendReceive/__tests__/__snapshots__/SendReceive.test.tsx.snap
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/CreateElection.test.tsx.snap
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/ViewSingleElection.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/ConnectConfirm.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/Launch.test.tsx.snap
  fe1-web/src/features/lao/components/__tests__/__snapshots__/LaoProperties.test.tsx.snap
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/LaoNavigation.test.tsx.snap
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/LaoHomeScreen.test.tsx.snap
  fe1-web/src/features/meeting/screens/__tests__/__snapshots__/CreateMeeting.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/CreateRollCall.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/RollCallOpened.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/UserListItem.test.tsx.snap
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletCreateSeed.test.tsx.snap
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletSetSeed.test.tsx.snap
  fe1-web/src/features/witness/components/__tests__/__snapshots__/WitnessNotification.test.tsx.snap
Labels: enhancement, fe1-web, ux

#1140 Fix seed display issue
  fe1-web/src/features/wallet/screens/WalletCreateSeed.tsx
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletCreateSeed.test.tsx.snap
Labels: enhancement, fe1-web, ux

#1146 Digital Cash History screen
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Channel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/InputObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/OutputObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/digitalcash/ScriptInputObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/digitalcash/ScriptOutputObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/digitalcash/TransactionObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/digitalcash/TransactionObjectBuilder.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/EventListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashHistoryFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashIssueFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashReceiveFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/HistoryListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/MessageHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/TransactionCoinHandler.java
  fe2-android/app/src/main/res/layout/digital_cash_history_fragment.xml
  fe2-android/app/src/main/res/layout/event_header_layout.xml
  fe2-android/app/src/main/res/layout/history_transaction_layout.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/main/res/values/styles.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/InputObjectTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/OutputObjectTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ScriptInputObjectTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ScriptOutputObjectTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/TransactionObjectTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashActivityTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/TransactionCoinHandlerTest.java
Labels: fe2-android, digital-wallet

#1148 Remove copy button and copy functionality of wallet seed
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/SeedWalletFragment.java
  fe2-android/app/src/main/res/layout/wallet_seed_fragment.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/home/WalletSeedFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/home/WalletPageObject.java
Labels: fe2-android, ux

#1147 Add event count on header
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/EventListAdapter.java
  fe2-android/app/src/main/res/layout/event_header_layout.xml
  fe2-android/app/src/main/res/values/dimens.xml
Labels: fe2-android

#1149 DigitalCash - bugfix for multiple input&output signature
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashViewModel.java
Labels: fe2-android, bug-fix

#1128 Dashboard + some more karate tests
  tests/README.md
  tests/karate/src/test/java/be/election/castVote.feature
  tests/karate/src/test/java/be/election/electionEnd.feature
  tests/karate/src/test/java/be/election/electionSetup.feature
  tests/karate/src/test/java/be/rollCall/closeRollCall.feature
  tests/karate/src/test/java/be/rollCall/openRollCall.feature
  tests/karate/src/test/java/be/utils/simpleScenarios.feature
Labels: prod-ready

#1150 Fixing some scala tests(checking for now)
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidatorSuite.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
  be2-scala/src/test/scala/util/examples/Lao/GreetLaoExamples.scala
  be2-scala/src/test/scala/util/examples/MessageExample.scala
Labels: enhancement, be2-scala

#1077 [BE2] validate sum of transaction outputs
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Transaction.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Uint53.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/package.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/CoinValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/Uint53Suite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/CoinValidatorSuite.scala
  be2-scala/src/test/scala/util/examples/data/CoinMessages.scala
  protocol/examples/messageData/coin/post_transaction_overflow_sum.json
Labels: be2-scala, digital-wallet
