Repository dedis/popstellar, pull requests merged in 2022-05, with the labels that each got.

#976 Fix issue 964: removed castvote time checks for start and end time
  be1-go/channel/election/verification.go
  be1-go/channel/election/verification_test.go
Labels: be1-go, bug-fix

#970 Show question in election result view
  fe1-web/src/features/evoting/components/EventElection.tsx
  fe1-web/src/features/evoting/components/__tests__/EventElection.test.tsx
  fe1-web/src/features/evoting/components/__tests__/__snapshots__/EventElection.test.tsx.snap
Labels: enhancement, fe1-web, e-voting

#969 Fix bug in witnessing feature
  fe1-web/src/features/index.ts
  fe1-web/src/features/witness/interface/Configuration.ts
  fe1-web/src/features/witness/network/WitnessStoreWatcher.ts
  fe1-web/src/features/witness/network/__tests__/WitnessStoreWatcher.test.ts
  fe1-web/src/features/witness/network/index.ts
Labels: fe1-web, bug-fix

#985 Fe 2 Android Digital Cash : Interface UI
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashMain.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashViewModel.java
  fe2-android/app/src/main/res/drawable/ic_digicash_history.xml
  fe2-android/app/src/main/res/drawable/ic_digicash_home.xml
  fe2-android/app/src/main/res/drawable/ic_digicash_issue.xml
  fe2-android/app/src/main/res/drawable/ic_digicash_receive.xml
  fe2-android/app/src/main/res/drawable/ic_digicash_send.xml
  fe2-android/app/src/main/res/layout/digital_cash_main_activity.xml
  fe2-android/app/src/main/res/layout/tab_digital_cash.xml
  fe2-android/app/src/main/res/menu/digital_cash_menu.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
Labels: fe2-android, digital-wallet

#958 Add support for the election#request_key and election#key message proposals
  fe1-web/src/core/network/jsonrpc/messages/MessageData.ts
  fe1-web/src/core/network/jsonrpc/messages/MessageRegistry.ts
  fe1-web/src/core/network/validation/Validator.ts
  fe1-web/src/core/network/validation/schemas/dataSchemas.ts
  fe1-web/src/features/evoting/__tests__/utils.ts
  fe1-web/src/features/evoting/components/__tests__/EventElection.test.tsx
  fe1-web/src/features/evoting/interface/Configuration.ts
  fe1-web/src/features/evoting/network/ElectionHandler.ts
  fe1-web/src/features/evoting/network/__tests__/ElectionHandler.test.ts
  fe1-web/src/features/evoting/network/index.ts
  fe1-web/src/features/evoting/network/messages/ElectionKey.ts
  fe1-web/src/features/evoting/network/messages/__tests__/ElectionKey.test.ts
  fe1-web/src/features/evoting/network/messages/__tests__/SetupElection.test.ts
  fe1-web/src/features/evoting/objects/__tests__/Election.test.ts
  fe1-web/src/features/evoting/reducer/ElectionKeyReducer.ts
  fe1-web/src/features/evoting/reducer/__tests__/ElectionKeyReducer.test.ts
  fe1-web/src/features/evoting/reducer/index.ts
  fe1-web/src/features/evoting/screens/CreateElection.tsx
  fe1-web/src/features/index.ts
  fe1-web/src/features/lao/functions/lao.ts
  fe1-web/src/features/lao/interface/Configuration.ts
  fe1-web/src/features/lao/reducer/ServerReducer.ts
  fe1-web/src/features/lao/reducer/__tests__/ServerReducer.test.ts
  fe1-web/src/resources/strings.ts
Labels: proto-spec, fe1-web, e-voting

#968 UI for secret ballot elections
  fe1-web/src/core/components/DropdownSelector.tsx
  fe1-web/src/core/components/__tests__/DropdownSelector.test.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/DropdownSelector.test.tsx.snap
  fe1-web/src/core/network/CommunicationApi.ts
  fe1-web/src/core/network/JsonRpcApi.ts
  fe1-web/src/core/network/__tests__/CommunicationApi.test.ts
  fe1-web/src/core/network/__tests__/JsonRpcApi.test.ts
  fe1-web/src/core/types/index.ts
  fe1-web/src/features/events/objects/__tests__/LaoEventBuilder.test.ts
  fe1-web/src/features/evoting/__tests__/utils.ts
  fe1-web/src/features/evoting/components/ElectionNotStarted.tsx
  fe1-web/src/features/evoting/components/ElectionOpened.tsx
  fe1-web/src/features/evoting/components/ElectionResult.tsx
  fe1-web/src/features/evoting/components/ElectionTerminated.tsx
  fe1-web/src/features/evoting/components/EventElection.tsx
  fe1-web/src/features/evoting/components/__tests__/EventElection.test.tsx
  fe1-web/src/features/evoting/components/__tests__/__snapshots__/EventElection.test.tsx.snap
  fe1-web/src/features/evoting/hooks/EvotingHooks.ts
  fe1-web/src/features/evoting/hooks/__tests__/EvotingHooks.test.tsx
  fe1-web/src/features/evoting/index.ts
  fe1-web/src/features/evoting/interface/Configuration.ts
  fe1-web/src/features/evoting/network/ElectionHandler.ts
  fe1-web/src/features/evoting/network/ElectionMessageApi.ts
  fe1-web/src/features/evoting/network/__tests__/ElectionHandler.test.ts
  fe1-web/src/features/evoting/network/__tests__/ElectionMessageApi.test.ts
  fe1-web/src/features/evoting/network/messages/ElectionKey.ts
  fe1-web/src/features/evoting/network/messages/SetupElection.ts
  fe1-web/src/features/evoting/network/messages/__tests__/ElectionKey.test.ts
  fe1-web/src/features/evoting/network/messages/__tests__/SetupElection.test.ts
  fe1-web/src/features/evoting/objects/Election.ts
  fe1-web/src/features/evoting/objects/__tests__/Election.test.ts
  fe1-web/src/features/evoting/reducer/ElectionKeyReducer.ts
  fe1-web/src/features/evoting/reducer/__tests__/ElectionKeyReducer.test.ts
  fe1-web/src/features/evoting/screens/CreateElection.tsx
  fe1-web/src/features/evoting/screens/__tests__/CreateElection.test.tsx
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/CreateElection.test.tsx.snap
  fe1-web/src/features/index.ts
  fe1-web/src/features/lao/hooks/LaoHooks.ts
  fe1-web/src/features/lao/index.ts
  fe1-web/src/features/lao/interface/Configuration.ts
  fe1-web/src/features/lao/objects/Server.ts
  fe1-web/src/resources/strings.ts
Labels: fe1-web, e-voting

#979 lao create self contained tests
  tests/karate/src/test/java/be/LAO/create.feature
  tests/karate/src/test/java/be/constants.feature
  tests/karate/src/test/java/common/net/MultiMsgWebSocketClient.java
Labels: prod-ready

#978 Update the protocol for election#end messages
  docs/messageData.md
Labels: proto-spec, e-voting

#987 Self contained tests for roll call
  tests/karate/src/test/java/be/LAO/create.feature
  tests/karate/src/test/java/be/constants.feature
  tests/karate/src/test/java/be/rollCall/closeRollCall.feature
  tests/karate/src/test/java/be/rollCall/createRollCall.feature
  tests/karate/src/test/java/be/rollCall/openRollCall.feature
  tests/karate/src/test/java/common/net/MultiMsgWebSocketClient.java
Labels: prod-ready

#994 Fix bug in RollCallOpened
  fe1-web/src/features/rollCall/screens/RollCallOpened.tsx
  fe1-web/src/features/rollCall/screens/__tests__/RollCallOpened.test.tsx
Labels: fe1-web, bug-fix

#999 Add support for the election key in scala backend
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ActionType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/KeyElection.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/lao/GreetLao.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/LaoData.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/MessageRegistry.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/MessageDataProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/LaoDataSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandlerTest.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
  be2-scala/src/test/scala/util/examples/Election/KeyElectionExamples.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
  be2-scala/src/test/scala/util/examples/Lao/GreetLaoExamples.scala
  be2-scala/src/test/scala/util/examples/data/ElectionMessages.scala
  be2-scala/src/test/scala/util/examples/data/builders/HighLevelMessageGenerator.scala
  be2-scala/src/test/scala/util/examples/data/traits/ElectionMessagesTrait.scala
  fe1-web/src/core/network/ingestion/MessageReducer.ts
  fe1-web/src/core/network/jsonrpc/messages/Message.ts
  fe1-web/src/features/lao/index.ts
  fe1-web/src/features/lao/network/LaoGreetWatcher.ts
  fe1-web/src/features/lao/network/LaoHandler.ts
  fe1-web/src/features/lao/network/__tests__/LaoGreetWatcher.test.ts
  fe1-web/src/features/lao/network/index.ts
  fe1-web/src/features/lao/reducer/GreetLaoReducer.ts
  fe1-web/src/features/lao/reducer/ServerReducer.ts
  fe1-web/src/features/lao/reducer/__tests__/GreetLaoReducer.test.ts
  fe1-web/src/features/lao/reducer/__tests__/ServerReducer.test.ts
  fe1-web/src/features/lao/reducer/index.ts
Labels: be2-scala, e-voting

#997 Add support for the greeting message for the scala backend
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ActionType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/lao/GreetLao.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/LaoData.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/MessageRegistry.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/LaoDataSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
  be2-scala/src/test/scala/util/examples/Lao/GreetLaoExamples.scala
  be2-scala/src/test/scala/util/examples/data/builders/HighLevelMessageGenerator.scala
  be2-scala/src/test/scala/util/examples/data/traits/ElectionMessagesTrait.scala
  fe1-web/src/__tests__/utils/TestUtils.ts
  fe1-web/src/core/network/ingestion/Handler.ts
  fe1-web/src/core/network/ingestion/MessageReducer.ts
  fe1-web/src/core/network/jsonrpc/Greeting.ts
  fe1-web/src/core/network/jsonrpc/JsonRpcMethods.ts
  fe1-web/src/core/network/jsonrpc/JsonRpcRequest.ts
  fe1-web/src/core/network/jsonrpc/__tests__/Greeting.test.ts
  fe1-web/src/core/network/jsonrpc/messages/Message.ts
  fe1-web/src/core/network/jsonrpc/messages/MessageData.ts
  fe1-web/src/core/network/jsonrpc/messages/MessageRegistry.ts
  fe1-web/src/core/network/validation/Validator.ts
  fe1-web/src/core/network/validation/schemas/dataSchemas.ts
  fe1-web/src/core/network/validation/schemas/querySchemas.ts
  fe1-web/src/core/objects/__tests__/Server.test.ts
  fe1-web/src/core/objects/index.ts
  fe1-web/src/core/redux/ServerReducer.ts
  fe1-web/src/core/redux/__tests__/ServerReducer.test.ts
  fe1-web/src/features/lao/index.ts
  fe1-web/src/features/lao/network/LaoGreetWatcher.ts
  fe1-web/src/features/lao/network/LaoHandler.ts
  fe1-web/src/features/lao/network/__tests__/LaoGreetWatcher.test.ts
  fe1-web/src/features/lao/network/index.ts
  fe1-web/src/features/lao/network/messages/GreetLao.ts
  fe1-web/src/features/lao/network/messages/__tests__/GreetLao.test.ts
  fe1-web/src/features/lao/objects/Server.ts
  fe1-web/src/features/lao/objects/__tests__/Server.test.ts
  fe1-web/src/features/lao/reducer/GreetLaoReducer.ts
  fe1-web/src/features/lao/reducer/ServerReducer.ts
  fe1-web/src/features/lao/reducer/__tests__/GreetLaoReducer.test.ts
  fe1-web/src/features/lao/reducer/__tests__/ServerReducer.test.ts
  fe1-web/src/features/lao/reducer/index.ts
Labels: be2-scala, e-voting

#952 Add basic implementation of greeting method to FE2
  docs/messageData.md
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/DataRegistryModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/Method.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/GreetLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/PeerAddress.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Server.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/ServerRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/MessageHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/HandlerContext.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/lao/GreetLaoTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/PeerAddressTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ServerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/repository/ServerRepositoryTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ChirpHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/LaoHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.java
  protocol/test/main.test.js
Labels: fe2-android, e-voting

#1002 Add support for the implementation of the greeting message in scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/LaoData.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/LaoDataSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
Labels: be2-scala, e-voting

#1009 Signature verification on be1
  be1-go/hub/standard_hub/message_handling.go
  be1-go/hub/standard_hub/mod_test.go
  tests/karate/src/test/java/be/LAO/create.feature
  tests/karate/src/test/java/be/utils/JsonConverter.java
  tests/karate/src/test/java/common/net/MultiMsgWebSocketClient.java
Labels: be1-go, bug-fix

#1015 [be2] use git versioning
  be2-scala/build.sbt
  be2-scala/project/plugins.sbt
Labels: be2-scala

#981 Encrypt votes in secret ballot elections
  docs/messageData.md
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/src/features/evoting/__tests__/utils.ts
  fe1-web/src/features/evoting/components/ElectionOpened.tsx
  fe1-web/src/features/evoting/components/EventElection.tsx
  fe1-web/src/features/evoting/index.ts
  fe1-web/src/features/evoting/network/ElectionHandler.ts
  fe1-web/src/features/evoting/network/ElectionMessageApi.ts
  fe1-web/src/features/evoting/network/__tests__/ElectionHandler.test.ts
  fe1-web/src/features/evoting/network/__tests__/ElectionMessageApi.test.ts
  fe1-web/src/features/evoting/network/index.ts
  fe1-web/src/features/evoting/network/messages/CastVote.ts
  fe1-web/src/features/evoting/network/messages/__tests__/CastVote.test.ts
  fe1-web/src/features/evoting/objects/Election.ts
  fe1-web/src/features/evoting/objects/ElectionKeyPair.ts
  fe1-web/src/features/evoting/objects/ElectionPrivateKey.ts
  fe1-web/src/features/evoting/objects/ElectionPublicKey.ts
  fe1-web/src/features/evoting/objects/__tests__/ElectionKeyPair.test.ts
  fe1-web/src/features/evoting/objects/__tests__/ElectionPrivateKey.test.ts
  fe1-web/src/features/evoting/objects/__tests__/ElectionPublicKey.test.ts
  fe1-web/src/features/evoting/reducer/ElectionKeyReducer.ts
  fe1-web/src/features/evoting/reducer/__tests__/ElectionKeyReducer.test.ts
Labels: fe1-web, e-voting

#1016 DigitalCash - Final Json Schema Update
  protocol/query/method/message/data/dataCashTransaction.json
Labels: proto-spec

#998 Fix some styling related issues
  fe1-web/.eslintrc.js
  fe1-web/src/core/components/CheckboxList.tsx
  fe1-web/src/core/components/QRCode.tsx
  fe1-web/src/core/components/RecorderButton.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/CheckBoxList.test.tsx.snap
  fe1-web/src/core/styles/stylesheets/createEventStyles.ts
  fe1-web/src/features/connect/screens/ConnectOpenScan.tsx
  fe1-web/src/features/events/screens/CreateEvent.tsx
  fe1-web/src/features/evoting/components/__tests__/EventElection.test.tsx
  fe1-web/src/features/evoting/components/__tests__/__snapshots__/EventElection.test.tsx.snap
  fe1-web/src/features/evoting/screens/CreateElection.tsx
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/CreateElection.test.tsx.snap
  fe1-web/src/features/meeting/screens/CreateMeeting.tsx
  fe1-web/src/features/rollCall/screens/CreateRollCall.tsx
  fe1-web/src/features/rollCall/screens/RollCallOpened.tsx
  fe1-web/src/features/social/components/ChirpCard.tsx
  fe1-web/src/features/social/components/TextInputChirp.tsx
  fe1-web/src/features/social/screens/SocialHome.tsx
  fe1-web/src/features/social/screens/SocialUserProfile.tsx
  fe1-web/src/features/wallet/screens/WalletCreateSeed.tsx
  fe1-web/src/features/wallet/screens/WalletSetSeed.tsx
Labels: enhancement, fe1-web

#1012 Added vote id verification on be1
  be1-go/channel/election/mod.go
  be1-go/channel/election/verification.go
  be1-go/channel/election/verification_test.go
Labels: be1-go, bug-fix

#1011 Greeting message be1 implementation.
  be1-go/channel/chirp/mod_test.go
  be1-go/channel/consensus/mod_test.go
  be1-go/channel/digitalCash/mod_test.go
  be1-go/channel/election/mod_test.go
  be1-go/channel/generalChirping/mod_test.go
  be1-go/channel/lao/mod.go
  be1-go/channel/lao/mod_test.go
  be1-go/channel/lao/verification_test.go
  be1-go/channel/mod.go
  be1-go/channel/reaction/mod_test.go
  be1-go/cli/mod.go
  be1-go/cli/mod_test.go
  be1-go/cli/pop.go
  be1-go/hub/standard_hub/mod.go
  be1-go/hub/standard_hub/mod_test.go
  be1-go/message/messagedata/lao_greet.go
  be1-go/message/messagedata/mod.go
  be1-go/message/test/messagedata/chirp_delete_publish_test.go
  be1-go/message/test/messagedata/lao_greet_test.go
  be1-go/network/server.go
  be1-go/network/server_test.go
Labels: be1-go, e-voting

#1004 Remove inter-feature dependencies for 'wallet'
  fe1-web/src/features/events/functions/events.ts
  fe1-web/src/features/events/interface/Configuration.ts
  fe1-web/src/features/index.ts
  fe1-web/src/features/wallet/hooks/WalletHooks.ts
  fe1-web/src/features/wallet/hooks/__tests__/WalletHooks.test.tsx
  fe1-web/src/features/wallet/hooks/index.ts
  fe1-web/src/features/wallet/index.ts
  fe1-web/src/features/wallet/interface/Configuration.ts
  fe1-web/src/features/wallet/interface/Feature.ts
  fe1-web/src/features/wallet/interface/index.ts
  fe1-web/src/features/wallet/objects/Token.ts
  fe1-web/src/features/wallet/objects/Wallet.ts
  fe1-web/src/features/wallet/objects/__tests__/Wallet.test.ts
  fe1-web/src/features/wallet/reducer/WalletReducer.ts
  fe1-web/src/features/wallet/screens/WalletHome.tsx
  fe1-web/src/features/wallet/screens/__tests__/WalletHome.test.tsx
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletHome.test.tsx.snap
Labels: fe1-web

#1005 Remove all inter-feature dependencies for 'meeting'
  fe1-web/src/features/events/interface/Configuration.ts
  fe1-web/src/features/index.ts
  fe1-web/src/features/lao/functions/lao.ts
  fe1-web/src/features/lao/interface/Configuration.ts
  fe1-web/src/features/lao/reducer/LaoReducer.ts
  fe1-web/src/features/lao/reducer/__tests__/LaoReducer.test.ts
  fe1-web/src/features/meeting/hooks/MeetingHooks.ts
  fe1-web/src/features/meeting/hooks/__tests__/MeetingHooks.test.tsx
  fe1-web/src/features/meeting/hooks/index.ts
  fe1-web/src/features/meeting/index.ts
  fe1-web/src/features/meeting/interface/Configuration.ts
  fe1-web/src/features/meeting/interface/Feature.ts
  fe1-web/src/features/meeting/interface/index.ts
  fe1-web/src/features/meeting/network/MeetingHandler.ts
  fe1-web/src/features/meeting/network/MeetingMessageApi.ts
  fe1-web/src/features/meeting/network/__tests__/MeetingHandler.test.ts
  fe1-web/src/features/meeting/network/__tests__/MeetingMessageApi.test.ts
  fe1-web/src/features/meeting/network/index.ts
  fe1-web/src/features/meeting/objects/Meeting.ts
  fe1-web/src/features/meeting/screens/CreateMeeting.tsx
  fe1-web/src/features/meeting/screens/__tests__/CreateMeeting.test.tsx
  fe1-web/src/features/meeting/screens/__tests__/__snapshots__/CreateMeeting.test.tsx.snap
  fe1-web/src/features/wallet/interface/Configuration.ts
Labels: fe1-web

#1022 Fix two string constants
  fe1-web/src/resources/strings.ts
Labels: fe1-web, bug-fix

#1021 Fix for issue #1008 + issue raised in go meeting 11.05 + refactor hub
  be1-go/hub/standard_hub/message_handling.go
  be1-go/hub/standard_hub/mod_test.go
Labels: be1-go

#938 Digital Cash - update json schema + doc
  be1-go/channel/coin/mod.go
  be1-go/channel/coin/mod_test.go
  be1-go/channel/lao/mod.go
  be1-go/go.mod
  be1-go/go.sum
  be1-go/message/messagedata/coin_post_transaction.go
  be1-go/message/messagedata/mod.go
  be1-go/message/messagedata/transaction_post.go
  protocol/examples/messageData/cash/post_transaction.json
  protocol/examples/messageData/cash/post_transaction_max_amount.json
  protocol/examples/messageData/cash/post_transaction_negative_amount.json
  protocol/examples/messageData/cash/post_transaction_overflow_amount.json
  protocol/examples/messageData/cash/post_transaction_zero_amount.json
  protocol/examples/messageData/coin/post_transaction.json
  protocol/examples/messageData/coin/post_transaction_coinbase.json
  protocol/examples/messageData/coin/post_transaction_max_amount.json
  protocol/examples/messageData/coin/post_transaction_multipleinpandout.json
  protocol/examples/messageData/coin/post_transaction_negative_amount.json
  protocol/examples/messageData/coin/post_transaction_nooutput.json
  protocol/examples/messageData/coin/post_transaction_overflow_amount.json
  protocol/examples/messageData/coin/post_transaction_wrong_transaction_id.json
  protocol/examples/messageData/coin/post_transaction_zero_amount.json
  protocol/query/method/message/data/data.json
  protocol/query/method/message/data/dataPostTransactionCoin.json
  protocol/test/main.js
  protocol/test/main.test.js
Labels: documentation, proto-spec, be1-go, digital-wallet

#1035 fix make check in be1 windows
  .github/workflows/ci.yaml
Labels: be1-go, ci/cd

#984 Added support for ElectionSetup with crypted option
  docs/messageData.md
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/DataRegistryModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionKey.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionSetup.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionVersion.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Election.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionSetupFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ElectionHandler.java
  fe2-android/app/src/main/res/layout/election_setup_fragment.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionKeyTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionQuestionTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionSetupTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/OpenElectionTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ElectionTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/LaoTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/event/fragments/ElectionSetupFragmentTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/detail/event/election/ElectionSetupPageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
Labels: fe2-android, e-voting

#1036 fix cast vote HashCheck for voteId
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Election.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionVoteTest.java
Labels: fe2-android, bug-fix

#1037 Update election#cast_vote implementation
  fe1-web/src/features/events/objects/__tests__/LaoEventBuilder.test.ts
  fe1-web/src/features/evoting/__tests__/utils.ts
  fe1-web/src/features/evoting/components/ElectionOpened.tsx
  fe1-web/src/features/evoting/components/__tests__/EventElection.test.tsx
  fe1-web/src/features/evoting/network/__tests__/ElectionMessageApi.test.ts
  fe1-web/src/features/evoting/network/messages/CastVote.ts
  fe1-web/src/features/evoting/network/messages/__tests__/CastVote.test.ts
  fe1-web/src/features/evoting/objects/Election.ts
  fe1-web/src/features/evoting/objects/__tests__/Election.test.ts
Labels: fe1-web

#1031 Fix the computation of the registered vote hash in election#end
  fe1-web/src/features/evoting/__tests__/utils.ts
  fe1-web/src/features/evoting/network/messages/EndElection.ts
  fe1-web/src/features/evoting/network/messages/__tests__/EndElection.test.ts
Labels: fe1-web, bug-fix

#991 [Fe 2] Android Digital Cash : Interface UI with Fragments + Mostly done all layouts + tested
  fe2-android/app/src/main/AndroidManifest.xml
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashHistoryFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashIssueFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashMain.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashReceiptFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashReceiveFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashSendFragment.java
  fe2-android/app/src/main/res/layout/digital_cash_history_fragment.xml
  fe2-android/app/src/main/res/layout/digital_cash_home_fragment.xml
  fe2-android/app/src/main/res/layout/digital_cash_issue_fragment.xml
  fe2-android/app/src/main/res/layout/digital_cash_receipt_fragment.xml
  fe2-android/app/src/main/res/layout/digital_cash_receive_fragment.xml
  fe2-android/app/src/main/res/layout/digital_cash_send_fragment.xml
  fe2-android/app/src/main/res/layout/list_item.xml
  fe2-android/app/src/main/res/menu/digital_cash_menu.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/main/res/values/styles.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashMainTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/digitalcash/DigitalCashPageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/digitalcash/HistoryPageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/digitalcash/IssuePageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/digitalcash/ReceiptPageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/digitalcash/ReceivePageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/digitalcash/SendPageObject.java
Labels: fe2-android, digital-wallet

#1050 Enhanced election validator tests
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidatorSuite.scala
  be2-scala/src/test/scala/util/examples/MessageExample.scala
Labels: enhancement, be2-scala

#1032 Create Lao by attendee should fail
  tests/karate/src/test/java/be/LAO/create.feature
  tests/karate/src/test/java/be/constants.feature
  tests/karate/src/test/java/be/rollCall/closeRollCall.feature
  tests/karate/src/test/java/be/rollCall/createRollCall.feature
  tests/karate/src/test/java/be/rollCall/openRollCall.feature
Labels: prod-ready

#1024 Fix wrong error code returns
  be1-go/hub/standard_hub/message_handling.go
  be1-go/hub/standard_hub/mod.go
  be1-go/hub/standard_hub/mod_test.go
  be1-go/message/answer/error.go
  be1-go/message/messagedata/lao_create.go
  be1-go/message/query/method/message/message.go
  be1-go/message/test/answer/answer_test.go
  tests/karate/src/test/java/be/rollCall/createRollCall.feature
Labels: be1-go, bug-fix

#1044 Open election tests
  tests/karate/src/test/java/be/ServerTest.java
  tests/karate/src/test/java/be/constants.feature
  tests/karate/src/test/java/be/election/castVote.feature
  tests/karate/src/test/java/be/election/electionOpen.feature
  tests/karate/src/test/java/be/utils/simpleScenarios.feature
Labels: prod-ready

#977 Be2-Scala Election : ResultElection, ElectionValidator, Tests & Examples
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/ElectionChannel.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/MessageDataProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandlerTest.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandlerTest.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidatorSuite.scala
  be2-scala/src/test/scala/util/examples/Election/CastVoteElectionExamples.scala
  be2-scala/src/test/scala/util/examples/Election/EndElectionExamples.scala
  be2-scala/src/test/scala/util/examples/Election/OpenElectionExamples.scala
  be2-scala/src/test/scala/util/examples/Election/SetupElectionExamples.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
  be2-scala/src/test/scala/util/examples/data/ElectionMessages.scala
  be2-scala/src/test/scala/util/examples/data/builders/HighLevelMessageGenerator.scala
Labels: be2-scala

#1042 [BE2] implement pubkey hash
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/PublicKey.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/PublicKeySuite.scala
  tests/data/keypair.json
Labels: be2-scala, digital-wallet

#1043 data: add pubkey hashes
  tests/data/keypair.json
Labels: proto-spec, digital-wallet

#1039 Fe 2 - Digital Cash - Implementation of the json schema
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Objects.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/Input.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/Output.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/PostTransactionCoin.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/ScriptInput.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/ScriptOutput.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/Transaction.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/PublicKey.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/InputTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/OutputTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/PostTransactionCoinTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/ScriptInputTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/ScriptOutputTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/TransactionTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/security/KeyPairTest.java
Labels: fe2-android, digital-wallet
