Repository dedis/popstellar, pull requests merged in 2022-03, with the labels that each got.

#856 Correctly update poptoken in the qr code
  fe1-web/src/features/rollCall/components/EventRollCall.tsx
  fe1-web/src/features/wallet/screens/WalletSetSeed.tsx
Labels: bug-fix

#854 Fix Roll Call Organizer Camera Error
  fe1-web/src/features/rollCall/screens/RollCallOpened.tsx
Labels: fe1-web, bug-fix

#850 Changes to the election process
  docs/messageData.md
  fe1-web/docs/README.md
  fe1-web/src/__tests__/utils/TestUtils.ts
  fe1-web/src/core/network/NetworkConnection.ts
  fe1-web/src/core/network/jsonrpc/messages/MessageRegistry.ts
  fe1-web/src/core/network/validation/Validator.ts
  fe1-web/src/core/network/validation/schemas/dataSchemas.ts
  fe1-web/src/core/types/index.ts
  fe1-web/src/features/events/objects/__tests__/LaoEventBuilder.test.ts
  fe1-web/src/features/evoting/components/EventElection.tsx
  fe1-web/src/features/evoting/components/__tests__/EventElection.test.tsx
  fe1-web/src/features/evoting/components/__tests__/__snapshots__/EventElection.test.tsx.snap
  fe1-web/src/features/evoting/network/ElectionHandler.ts
  fe1-web/src/features/evoting/network/ElectionMessageApi.ts
  fe1-web/src/features/evoting/network/__tests__/ElectionHandler.test.ts
  fe1-web/src/features/evoting/network/index.ts
  fe1-web/src/features/evoting/network/messages/CastVote.ts
  fe1-web/src/features/evoting/network/messages/ElectionResult.ts
  fe1-web/src/features/evoting/network/messages/EndElection.ts
  fe1-web/src/features/evoting/network/messages/OpenElection.ts
  fe1-web/src/features/evoting/network/messages/SetupElection.ts
  fe1-web/src/features/evoting/network/messages/__tests__/CastVote.test.ts
  fe1-web/src/features/evoting/network/messages/__tests__/EndElection.test.ts
  fe1-web/src/features/evoting/network/messages/__tests__/OpenElection.test.ts
  fe1-web/src/features/evoting/network/messages/__tests__/SetupElection.test.ts
  fe1-web/src/features/evoting/objects/Election.ts
  fe1-web/src/features/evoting/objects/__tests__/Election.test.ts
  fe1-web/src/features/evoting/screens/CreateElection.tsx
  fe1-web/src/features/lao/reducer/LaoReducer.ts
  fe1-web/src/features/rollCall/components/EventRollCall.tsx
  fe1-web/src/features/wallet/screens/WalletSetSeed.tsx
  fe1-web/src/resources/strings.ts
  protocol/examples/messageData/election_open.json
  protocol/query/method/message/data/data.json
  protocol/query/method/message/data/dataOpenElection.json
  protocol/test/main.js
  protocol/test/main.test.js
  protocol/test/package-lock.json
Labels: proto-spec, fe1-web, e-voting

#859 defined constants for result and id strings in JSonResultSerializer.java,
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonResultSerializer.java
Labels: fe2-android, prod-ready

#857 Update file for Windows compatibility
  be1-go/README.md
  be1-go/make.bat
Labels: documentation, be1-go

#861 Adding a default case in the switch-case in HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivityTest.java
Labels: fe2-android, prod-ready

#874 Center qr code scanner and rename container style
  fe1-web/src/core/styles/stylesheets/containerStyles.ts
  fe1-web/src/features/connect/screens/ConnectOpenScan.tsx
  fe1-web/src/features/home/screens/Home.tsx
  fe1-web/src/features/lao/components/LaoList.tsx
  fe1-web/src/features/rollCall/screens/RollCallOpened.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/RollCallOpened.test.tsx.snap
  fe1-web/src/features/wallet/screens/WalletError.tsx
  fe1-web/src/features/wallet/screens/WalletHome.tsx
  fe1-web/src/features/wallet/screens/WalletSetSeed.tsx
  fe1-web/src/features/wallet/screens/WalletShowSeed.tsx
  fe1-web/src/features/wallet/screens/WalletSyncedSeed.tsx
Labels: fe1-web, ux

#875 Changing the used checkSelfPermissionAccess function to the static one
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/CameraPermissionFragment.java
Labels: fe2-android, prod-ready

#864 Refactoring of the message handling in election and reaction channels
  be1-go/channel/election/mod.go
  be1-go/channel/election/mod_test.go
  be1-go/channel/election/verification.go
  be1-go/channel/election/verification_test.go
  be1-go/channel/lao/mod.go
  be1-go/channel/reaction/mod.go
  be1-go/channel/reaction/mod_test.go
  be1-go/message/messagedata/election_end.go
  be1-go/message/messagedata/election_result.go
  be1-go/message/messagedata/reaction_add.go
  be1-go/message/messagedata/reaction_delete.go
  be1-go/message/messagedata/vote_cast_vote.go
  be1-go/message/test/messagedata/election_end_test.go
  be1-go/message/test/messagedata/reaction_add_test.go
  be1-go/message/test/messagedata/reaction_delete_test.go
Labels: be1-go

#873 Update protocol specification for election#castVote to be more precise
  docs/messageData.md
  fe1-web/src/core/styles/stylesheets/containerStyles.ts
  fe1-web/src/features/connect/screens/ConnectOpenScan.tsx
  fe1-web/src/features/evoting/network/messages/CastVote.ts
  fe1-web/src/features/home/screens/Home.tsx
  fe1-web/src/features/lao/components/LaoList.tsx
  fe1-web/src/features/rollCall/screens/RollCallOpened.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/RollCallOpened.test.tsx.snap
  fe1-web/src/features/wallet/screens/WalletError.tsx
  fe1-web/src/features/wallet/screens/WalletHome.tsx
  fe1-web/src/features/wallet/screens/WalletSetSeed.tsx
  fe1-web/src/features/wallet/screens/WalletShowSeed.tsx
  fe1-web/src/features/wallet/screens/WalletSyncedSeed.tsx
  protocol/query/method/message/data/dataCastVote.json
Labels: proto-spec

#870 Adds a utility to generate the graph dependencies
  be1-go/go.mod
  be1-go/go.sum
  be1-go/internal/depgraph/README.md
  be1-go/internal/depgraph/dep.yml
  be1-go/internal/depgraph/mod.go
Labels: be1-go

#879 Coverage badges
  README.md
Labels: documentation

#872 Hide unused election params
  docs/messageData.md
  fe1-web/src/__tests__/components/MockNavigator.tsx
  fe1-web/src/core/styles/stylesheets/containerStyles.ts
  fe1-web/src/features/connect/screens/ConnectOpenScan.tsx
  fe1-web/src/features/events/objects/__tests__/LaoEventBuilder.test.ts
  fe1-web/src/features/evoting/__tests__/utils.ts
  fe1-web/src/features/evoting/network/messages/CastVote.ts
  fe1-web/src/features/evoting/objects/Election.ts
  fe1-web/src/features/evoting/objects/__tests__/Election.test.ts
  fe1-web/src/features/evoting/screens/CreateElection.tsx
  fe1-web/src/features/evoting/screens/__tests__/CreateElection.test.tsx
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/CreateElection.test.tsx.snap
  fe1-web/src/features/home/screens/Home.tsx
  fe1-web/src/features/lao/components/LaoList.tsx
  fe1-web/src/features/rollCall/screens/RollCallOpened.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/RollCallOpened.test.tsx.snap
  fe1-web/src/features/wallet/screens/WalletError.tsx
  fe1-web/src/features/wallet/screens/WalletHome.tsx
  fe1-web/src/features/wallet/screens/WalletSetSeed.tsx
  fe1-web/src/features/wallet/screens/WalletShowSeed.tsx
  fe1-web/src/features/wallet/screens/WalletSyncedSeed.tsx
  protocol/query/method/message/data/dataCastVote.json
Labels: fe1-web, e-voting, ux

#882 Fix app crash when trying to launch an LAO without a server running
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/ErrorUtils.java
Labels: fe2-android, bug-fix

#851 DbActor: fill decodedData
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/MessageDecoder.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/MessageDataProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
Labels: be2-scala, bug-fix

#885 Roll call Karate tests
  tests/karate/src/test/java/be/ServerTest.java
  tests/karate/src/test/java/be/createLAO/create.feature
  tests/karate/src/test/java/be/createRollCall/closeRollCall.feature
  tests/karate/src/test/java/be/createRollCall/createRollCall.feature
  tests/karate/src/test/java/be/createRollCall/openRollCall.feature
  tests/karate/src/test/java/be/mockFrontEnd.feature
  tests/karate/src/test/java/be/utils/server.feature
  tests/karate/src/test/java/be/utils/simpleScenarios.feature
  tests/karate/src/test/java/common/net/MultiMsgWebSocketClient.java
  tests/karate/src/test/java/data/lao/valid_lao_create.json
  tests/karate/src/test/java/data/rollCall/bad_create_roll_call_not_organizer_sender.json
  tests/karate/src/test/java/data/rollCall/bad_roll_call_create_creation_time_less_than_start_time.json
  tests/karate/src/test/java/data/rollCall/bad_roll_call_create_creation_time_negative.json
  tests/karate/src/test/java/data/rollCall/bad_roll_call_create_empty_data_but_same_messageId_as_valid_roll_call.json
  tests/karate/src/test/java/data/rollCall/bad_roll_call_create_invalid_roll_call_id.json
  tests/karate/src/test/java/data/rollCall/bad_roll_call_create_start_time_bigger_than_end_time.json
  tests/karate/src/test/java/data/rollCall/bad_roll_call_create_wrong_channel.json
  tests/karate/src/test/java/data/rollCall/close/bad_roll_call_close_invalid_update_id.json
  tests/karate/src/test/java/data/rollCall/close/valid_roll_call_close.json
  tests/karate/src/test/java/data/rollCall/close/valid_roll_call_close_2.json
  tests/karate/src/test/java/data/rollCall/data/valid_roll_call_close_data.json
  tests/karate/src/test/java/data/rollCall/data/valid_roll_call_create_data.json
  tests/karate/src/test/java/data/rollCall/data/valid_roll_call_open_data.json
  tests/karate/src/test/java/data/rollCall/open/bad_roll_call_open_invalid_update_id.json
  tests/karate/src/test/java/data/rollCall/open/valid_roll_call_open.json
  tests/karate/src/test/java/data/rollCall/open/valid_roll_call_open_2.json
  tests/karate/src/test/java/data/rollCall/open/valid_roll_call_open_3.json
  tests/karate/src/test/java/data/rollCall/valid_roll_call_create.json
  tests/karate/src/test/java/data/rollCall/valid_roll_call_create_2.json
  tests/karate/src/test/java/data/rollCall/valid_roll_call_create_3.json
Labels: prod-ready

#862 Refactoring LAO Channel
  be1-go/channel/chirp/mod.go
  be1-go/channel/consensus/mod.go
  be1-go/channel/election/mod.go
  be1-go/channel/generalChirping/mod.go
  be1-go/channel/lao/mod.go
  be1-go/channel/lao/mod_test.go
  be1-go/channel/lao/verification.go
  be1-go/channel/lao/verification_test.go
  be1-go/channel/reaction/mod.go
  be1-go/channel/registry/mod.go
  be1-go/message/messagedata/election_setup.go
  be1-go/message/messagedata/lao_create.go
  be1-go/message/messagedata/lao_state.go
  be1-go/message/messagedata/lao_update.go
  be1-go/message/messagedata/meeting_create.go
  be1-go/message/messagedata/meeting_state.go
  be1-go/message/messagedata/message_witness.go
  be1-go/message/messagedata/roll_call_close.go
  be1-go/message/messagedata/roll_call_create.go
  be1-go/message/messagedata/roll_call_open.go
  be1-go/message/messagedata/roll_call_reopen.go
Labels: be1-go

#869 Create the JSON schema of a Digital Cash transaction
  protocol/query/method/message/data/data.json
  protocol/query/method/message/data/dataCashTransaction.json
Labels: proto-spec, digital-wallet

#889 User needs to initialize the wallet before going any further
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/home/HomeActivityTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/home/HomePageObject.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/ui/pages/home/WalletPageObject.java
Labels: fe2-android, ux
