Repository dedis/popstellar, pull requests merged in 2022-01, with the labels that each got.

#717 some cleanup + docs
  be1-go/channel/chirp/mod_test.go
  be1-go/channel/consensus/mod.go
  be1-go/channel/consensus/mod_test.go
  be1-go/channel/election/mod.go
  be1-go/channel/election/mod_test.go
  be1-go/channel/generalChirping/mod.go
  be1-go/channel/generalChirping/mod_test.go
  be1-go/channel/lao/mod.go
  be1-go/channel/lao/mod_test.go
  be1-go/channel/mod.go
  be1-go/channel/reaction/mod_test.go
  be1-go/docs/README.md
  be1-go/docs/images/global architecture.drawio
  be1-go/docs/images/global architecture.png
  be1-go/hub/standard_hub/mod.go
  be1-go/message/messagedata/lao_update.go
  be1-go/network/server.go
Labels: be1-go

#714 Add attendee PoP token and owner Public Key verification function for validators
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/WitnessSignaturePair.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/AnswerGeneratorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/SchemaValidatorSuite.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
  be2-scala/src/test/scala/util/examples/MessageExample.scala
Labels: be2-scala

#721 Fix issue with election start fragment making tests fail on some devices
  fe2-android/app/src/main/res/layout/election_start_fragment.xml
Labels: bug, fe2-android

#724 Fix BE2 build
  be2-scala/build.sbt
  be2-scala/project/build.properties
Labels: be2-scala

#682 Work taddist be2 data schema validator
  be2-scala/build.sbt
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/DataBuilder.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/DataRegistry.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/DataRegistryModule.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/DataSchemaValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/MessageDecoder.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Validator.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/Lao/CreateLaoContentSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/Lao/CreateLaoDecoderSuite.scala
  be2-scala/src/test/scala/util/examples/Lao/CreateLaoExamples.scala
Labels: be2-scala

#727 Modified add_broadcast to notify_add to fit with the new protocol
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/DataRegistryModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/NotifyAddChirp.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/AddChirpBroadcastTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/NotifyAddChirpTest.java
Labels: fe2-android

#730 Work be2 tuomas p refactor notify
  be1-go/channel/chirp/mod.go
  be1-go/channel/chirp/mod_test.go
  be1-go/channel/generalChirping/mod.go
  be1-go/message/messagedata/mod.go
  be1-go/message/test/messagedata/chirp_add_broadcast_test.go
  be1-go/message/test/messagedata/chirp_delete_broadcast_test.go
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ActionType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/DataBuilder.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/DataRegistryModule.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/DataSchemaValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/socialMedia/NotifyAddChirp.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/requests/socialMedia/JsonRpcRequestNotifyAddChirp.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/MessageDecoder.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/message/data/socialMedia/NotifyAddChirpSuite.scala
  fe1-web/model/network/method/message/data/Builder.ts
  fe1-web/model/network/method/message/data/MessageData.ts
  fe1-web/model/network/method/message/data/MessageProperties.ts
  fe1-web/model/network/method/message/data/__tests__/NotifyAddChirp.test.ts
  fe1-web/model/network/method/message/data/chirp/NotifyAddChirp.ts
  fe1-web/model/network/method/message/data/chirp/index.ts
  fe1-web/model/network/validation/DataSchema.ts
  fe1-web/model/network/validation/Validator.ts
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/DataRegistryModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/NotifyAddChirp.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/AddChirpBroadcastTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/NotifyAddChirpTest.java
  protocol/examples/messageData/chirp_notify_add/chirp_notify_add.json
  protocol/examples/messageData/chirp_notify_add/wrong_chirp_notify_add_negative_time.json
  protocol/examples/messageData/chirp_notify_add/wrong_chirp_notify_add_not_base_64_chirp_id.json
  protocol/examples/messageData/chirp_notify_delete/chirp_notify_delete.json
  protocol/examples/messageData/chirp_notify_delete/wrong_chirp_notify_delete_negative_time.json
  protocol/examples/messageData/chirp_notify_delete/wrong_chirp_notify_delete_not_base_64_chirp_id.json
  protocol/query/method/message/data/data.json
  protocol/query/method/message/data/dataNotifyAddChirp.json
  protocol/query/method/message/data/dataNotifyDeleteChirp.json
  protocol/test/main.js
  protocol/test/main.test.js
Labels: be2-scala, fe1-web, be1-go, fe2-android

#734 Update README.md
  be2-scala/docs/README.md
Labels: be2-scala

#735 Enter attendees manually
  fe1-web/components/ConfirmModal.tsx
  fe1-web/components/__tests__/ConfirmModal.test.tsx
  fe1-web/components/__tests__/__snapshots__/ConfirmModal.test.tsx.snap
  fe1-web/parts/lao/organizer/RollCallOpened.tsx
  fe1-web/parts/lao/organizer/__tests__/RollCallOpened.test.tsx
  fe1-web/parts/lao/organizer/__tests__/__snapshots__/RollCallOpened.test.tsx.snap
  fe1-web/res/strings.ts
Labels: fe1-web

#736 Quick fix in NotifyAddChirp and changes in Chirp
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/NotifyAddChirp.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Chirp.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/AddChirpTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/NotifyAddChirpTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/ChirpTest.java
Labels: fe2-android

#737 Add blockies
  fe1-web/components/ChirpCard.tsx
  fe1-web/components/ProfileIcon.tsx
  fe1-web/components/TextInputChirp.tsx
  fe1-web/components/UserListItem.tsx
  fe1-web/components/__tests__/ChirpCard.test.tsx
  fe1-web/components/__tests__/TextInputChirp.test.tsx
  fe1-web/components/__tests__/UserListItem.test.tsx
  fe1-web/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/components/__tests__/__snapshots__/UserListItem.test.tsx.snap
  fe1-web/ingestion/handlers/RollCall.ts
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/parts/lao/socialMedia/SocialHome.tsx
  fe1-web/styles/colors.js
Labels: fe1-web

#740 Add current user public key in social media navigation
  fe1-web/components/TextInputChirp.tsx
  fe1-web/ingestion/handlers/RollCall.ts
  fe1-web/parts/lao/socialMedia/SocialHome.tsx
  fe1-web/parts/lao/socialMedia/SocialMediaNavigation.tsx
  fe1-web/parts/lao/socialMedia/SocialSearch.tsx
Labels: fe1-web

#720 Work fe1 jwen reaction merge be1
  fe1-web/components/ChirpCard.tsx
  fe1-web/components/__tests__/ChirpCard.test.tsx
  fe1-web/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/ingestion/handlers/ChirpHandler.ts
  fe1-web/ingestion/handlers/Default.ts
  fe1-web/ingestion/handlers/ReactionHandler.ts
  fe1-web/ingestion/handlers/RollCall.ts
  fe1-web/ingestion/handlers/index.ts
  fe1-web/model/network/method/message/data/Builder.ts
  fe1-web/model/network/method/message/data/MessageData.ts
  fe1-web/model/network/method/message/data/MessageProperties.ts
  fe1-web/model/network/method/message/data/__tests__/AddReaction.test.ts
  fe1-web/model/network/method/message/data/__tests__/NotifyAddChirp.test.ts
  fe1-web/model/network/method/message/data/index.ts
  fe1-web/model/network/method/message/data/reaction/AddReaction.ts
  fe1-web/model/network/method/message/data/reaction/index.ts
  fe1-web/model/network/validation/DataSchema.ts
  fe1-web/model/network/validation/Validator.ts
  fe1-web/model/objects/Channel.ts
  fe1-web/model/objects/Chirp.ts
  fe1-web/model/objects/Reaction.ts
  fe1-web/model/objects/__tests__/Channel.test.ts
  fe1-web/model/objects/__tests__/Chirp.test.ts
  fe1-web/model/objects/__tests__/Reaction.test.ts
  fe1-web/network/MessageApi.ts
  fe1-web/network/__mocks__/MessageApi.ts
  fe1-web/package-lock.json
  fe1-web/store/reducers/SocialReducer.ts
  fe1-web/store/reducers/__tests__/SocialReducer.test.ts
Labels: fe1-web

#744 Update of messageData.md with chirp/reactions messages
  docs/messageData.md
Labels: documentation

#656 Auto-delete database and create lao tests
  tests/karate/src/test/java/be/createLAO/create.feature
  tests/karate/src/test/java/be/utils/Configurable.java
  tests/karate/src/test/java/be/utils/GoServer.java
  tests/karate/src/test/java/be/utils/ScalaServer.java
  tests/karate/src/test/java/be/utils/Server.java
  tests/karate/src/test/java/be/utils/server.feature
  tests/karate/src/test/java/data/keypair.json
  tests/karate/src/test/java/data/lao/bad_lao_create_empty_name.json
  tests/karate/src/test/java/data/lao/bad_lao_create_id_invalid_hash.json
  tests/karate/src/test/java/data/lao/bad_lao_create_negative.json
Labels: prod-ready

#741 Add profile page of the current user
  fe1-web/components/ProfileIcon.tsx
  fe1-web/parts/lao/socialMedia/SocialMediaNavigation.tsx
  fe1-web/parts/lao/socialMedia/SocialProfile.tsx
  fe1-web/parts/lao/socialMedia/SocialUserProfile.tsx
  fe1-web/parts/lao/socialMedia/__tests__/SocialProfile.test.tsx
  fe1-web/parts/lao/socialMedia/__tests__/__snapshots__/SocialProfile.test.tsx.snap
  fe1-web/res/strings.ts
  fe1-web/store/reducers/SocialReducer.ts
  fe1-web/store/reducers/__tests__/SocialReducer.test.ts
Labels: fe1-web

#687 Consensus phase 3
  be1-go/channel/consensus/message_creation.go
  be1-go/channel/consensus/mod.go
  be1-go/channel/consensus/mod_test.go
  be1-go/go.mod
  be1-go/go.sum
  be1-go/message/messagedata/consensus_failure.go
  be1-go/message/messagedata/mod.go
  be1-go/message/test/messagedata/consensus_failure_test.go
  protocol/examples/messageData/consensus_elect_accept/elect_accept_refused.json
  protocol/examples/messageData/consensus_failure/wrong_failure_not_base_64_instance.json
  protocol/examples/messageData/consensus_failure/wrong_failure_not_base_64_message.json
Labels: be1-go

#753 Fix crash cause of undefined public key
  fe1-web/parts/lao/socialMedia/SocialProfile.tsx
  fe1-web/parts/lao/socialMedia/SocialUserProfile.tsx
Labels: fe1-web

#754 show publish time even for a deleted chirp
  fe1-web/store/reducers/SocialReducer.ts
Labels: fe1-web

#749 Profile pages of other users
  fe1-web/components/BackButton.tsx
  fe1-web/components/ChirpCard.tsx
  fe1-web/components/UserListItem.tsx
  fe1-web/components/__tests__/BackButton.test.tsx
  fe1-web/components/__tests__/ChirpCard.test.tsx
  fe1-web/components/__tests__/UserListItem.test.tsx
  fe1-web/components/__tests__/__snapshots__/BackButton.test.tsx.snap
  fe1-web/navigation/bars/LaoNavigation.tsx
  fe1-web/navigation/socialMedia/SocialMediaNavigation.tsx
  fe1-web/navigation/socialMedia/SocialSearchNavigation.tsx
  fe1-web/parts/lao/socialMedia/SocialHome.tsx
  fe1-web/parts/lao/socialMedia/SocialProfile.tsx
  fe1-web/parts/lao/socialMedia/SocialSearch.tsx
  fe1-web/parts/lao/socialMedia/SocialUserProfile.tsx
  fe1-web/parts/lao/socialMedia/__tests__/SocialProfile.test.tsx
  fe1-web/styles/stylesheets/socialMediaProfile.ts
Labels: fe1-web

#758 Remove navigation warnings
  fe1-web/navigation/socialMedia/SocialSearchNavigation.tsx
  fe1-web/parts/lao/socialMedia/SocialUserProfile.tsx
  fe1-web/res/strings.ts
Labels: fe1-web

#750 Throws a JsonParseException if a Base64 deserialization failed
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonBase64DataSerializer.java
Labels: fe2-android

#726 Activity and fragments for social media
  fe2-android/app/src/main/AndroidManifest.xml
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaFollowingFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaProfileFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaSearchFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaSendFragment.java
  fe2-android/app/src/main/res/drawable/rounded_corner_button_disabled.xml
  fe2-android/app/src/main/res/drawable/send_button_selector.xml
  fe2-android/app/src/main/res/drawable/send_button_text_selector.xml
  fe2-android/app/src/main/res/layout/social_media_send_fragment.xml
  fe2-android/app/src/main/res/values/strings.xml
Labels: fe2-android

#751 Broadcast in cross server communication
  be1-go/channel/chirp/mod.go
  be1-go/channel/chirp/mod_test.go
  be1-go/channel/consensus/mod.go
  be1-go/channel/consensus/mod_test.go
  be1-go/channel/election/mod.go
  be1-go/channel/election/mod_test.go
  be1-go/channel/generalChirping/mod.go
  be1-go/channel/generalChirping/mod_test.go
  be1-go/channel/lao/mod.go
  be1-go/channel/lao/mod_test.go
  be1-go/channel/mod.go
  be1-go/channel/reaction/mod.go
  be1-go/channel/reaction/mod_test.go
  be1-go/hub/standard_hub/message_handling.go
  be1-go/hub/standard_hub/mod.go
  be1-go/hub/standard_hub/mod_test.go
  protocol/query/method/broadcast.json
Labels: be1-go

#748 add ElectionSetupFragment tests
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/pages/detail/event/election/ElectionSetupPageObject.java
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/ui/detail/event/fragments/ElectionSetupFragmentTest.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/adapters/ElectionSetupViewPagerAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/MessageHandler.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ChirpHandlerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
Labels: fe2-android

#747 Created DeleteChirp and NotifyDeleteChirp
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/DataRegistryModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/DeleteChirp.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/NotifyDeleteChirp.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ChirpHandler.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/DeleteChirpTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/NotifyDeleteChirpTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/utility/handler/ChirpHandlerTest.java
Labels: fe2-android

#755 Refactor the Wallet implementation to give it a more meaningful API
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/ui/home/WalletTest.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Wallet.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallTokenFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/SeedWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/WalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/InvalidPoPTokenException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/KeyException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/KeyGenerationException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/SeedValidationException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/UninitializedWalletException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/security/KeyManager.java
Labels: fe2-android

#759 Change color of blockies
  fe1-web/components/ChirpCard.tsx
  fe1-web/components/ProfileIcon.tsx
  fe1-web/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/parts/lao/socialMedia/SocialProfile.tsx
  fe1-web/parts/lao/socialMedia/SocialUserProfile.tsx
Labels: fe1-web

#764 [BUG] Fix a bug looping the consensus
  be1-go/channel/chirp/mod_test.go
  be1-go/channel/consensus/mod.go
  be1-go/channel/consensus/mod_test.go
  be1-go/channel/election/mod_test.go
  be1-go/channel/generalChirping/mod_test.go
  be1-go/channel/lao/mod_test.go
  be1-go/channel/mod.go
  be1-go/channel/reaction/mod_test.go
  be1-go/hub/standard_hub/mod.go
  be1-go/hub/standard_hub/mod_test.go
Labels: bug, be1-go

#742 Add functionalities to KeyManager to simplify expressions and give access to PoP Tokens
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Wallet.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/keys/NoRollCallException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/security/KeyManager.java
Labels: fe2-android

#762 fix json tests for chirps
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/AddChirpTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/DeleteChirpTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/NotifyAddChirpTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/NotifyDeleteChirpTest.java
Labels: fe2-android

#769 Remove unused files in the Android project
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/MainActivityTest.java
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/OrganizerActivityTest.java
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/ui/detail/AddAttendeeFragmentTest.java
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/ui/detail/IdentityFragmentTest.java
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/ui/qrcode/CameraPermissionFragmentTest.java
  fe2-android/app/src/androidTest/java/com/github/dedis/popstellar/ui/qrcode/QRCodeScanningFragmentTest.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/AddAttendeeFragment.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/answer/AnswerTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/MessageTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/network/method/QueryTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/event/EventTest.java
  fe2-android/app/src/test/java/com/github/dedis/popstellar/model/objects/event/RollCallEventTest.java
Labels: fe2-android

#765 Add JSON Schema for the json contained in the connect QRCode
  protocol/qrcode/connect_to_lao.json
Labels: proto-spec, fe1-web, fe2-android

#768 Add the server URL directly in the LAO QRCode
  fe2-android/app/build.gradle
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonUtils.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/qrcode/ConnectToLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
Labels: fe2-android

#771 rename connect_to_lao $id
  protocol/qrcode/connect_to_lao.json
Labels: proto-spec

#763 Acceptor signature in consensus
  be1-go/channel/consensus/message_creation.go
  be1-go/channel/consensus/mod.go
Labels: be1-go

#760 Cross server communication and consensus documentation
  docs/messageData.md
  docs/protocol.md
Labels: documentation

#757 add server URL to the QR code
  fe1-web/components/eventList/LaoProperties.tsx
  fe1-web/model/network/validation/Validator.ts
  fe1-web/model/network/validation/index.ts
  fe1-web/model/objects/ConnectToLao.ts
  fe1-web/model/objects/__tests__/ConnectToLao.test.ts
  fe1-web/model/objects/index.ts
  fe1-web/package-lock.json
  fe1-web/parts/Launch.tsx
  fe1-web/parts/connect/ConnectConfirm.tsx
  fe1-web/parts/connect/ConnectOpenScan.tsx
  fe1-web/parts/lao/attendee/Attendee.tsx
  fe1-web/res/strings.ts
Labels: fe1-web

#772 add files to index
  fe1-web/components/ChirpCard.tsx
  fe1-web/components/__tests__/ChirpCard.test.tsx
  fe1-web/ingestion/handlers/ChirpHandler.ts
  fe1-web/ingestion/handlers/ReactionHandler.ts
  fe1-web/ingestion/handlers/index.ts
  fe1-web/model/objects/index.ts
  fe1-web/parts/lao/socialMedia/SocialHome.tsx
  fe1-web/parts/lao/socialMedia/SocialProfile.tsx
  fe1-web/parts/lao/socialMedia/SocialUserProfile.tsx
  fe1-web/store/reducers/SocialReducer.ts
  fe1-web/store/reducers/__tests__/SocialReducer.test.ts
Labels: fe1-web

#777 Remove code smells
  fe1-web/__tests__/utils/LocalMockServer.js
  fe1-web/components/BarChartDisplay.tsx
  fe1-web/components/CameraButton.tsx
  fe1-web/components/CheckboxList.tsx
  fe1-web/components/ConfirmModal.tsx
  fe1-web/components/DismissModal.tsx
  fe1-web/components/DropdownSelector.tsx
  fe1-web/components/QRCode.tsx
  fe1-web/components/RecorderButton.tsx
  fe1-web/components/eventList/LaoProperties.tsx
  fe1-web/components/eventList/events/Event.tsx
  fe1-web/components/eventList/events/EventElection.tsx
  fe1-web/ingestion/handlers/Election.ts
  fe1-web/ingestion/handlers/ReactionHandler.ts
  fe1-web/model/network/method/message/data/Builder.ts
  fe1-web/model/network/method/message/data/lao/CreateLao.ts
  fe1-web/model/network/method/message/data/lao/UpdateLao.ts
  fe1-web/model/network/method/message/data/meeting/CreateMeeting.ts
  fe1-web/model/network/method/message/data/meeting/StateMeeting.ts
  fe1-web/model/network/method/message/data/witness/WitnessMessage.ts
  fe1-web/model/network/validation/Validator.ts
  fe1-web/model/network/validation/answerSchemas.ts
  fe1-web/model/network/validation/dataSchemas.ts
  fe1-web/model/network/validation/messageSchemas.ts
  fe1-web/model/network/validation/querySchemas.ts
  fe1-web/model/objects/Channel.ts
  fe1-web/model/objects/Election.ts
  fe1-web/model/objects/KeyPair.ts
  fe1-web/package-lock.json
  fe1-web/parts/Home.tsx
  fe1-web/parts/Launch.tsx
  fe1-web/parts/connect/ConnectConfirm.tsx
  fe1-web/parts/connect/ConnectEnableCamera.tsx
  fe1-web/parts/connect/ConnectOpenScan.tsx
  fe1-web/parts/lao/attendee/Attendee.tsx
  fe1-web/parts/lao/organizer/RollCallOpened.tsx
  fe1-web/parts/lao/organizer/eventCreation/CreateEvent.tsx
  fe1-web/parts/lao/socialMedia/SocialProfile.tsx
  fe1-web/parts/lao/socialMedia/SocialUserProfile.tsx
  fe1-web/parts/wallet/WalletError.tsx
  fe1-web/parts/wallet/WalletHome.tsx
  fe1-web/parts/wallet/WalletSetSeed.tsx
  fe1-web/parts/wallet/WalletShowSeed.tsx
  fe1-web/parts/wallet/WalletSyncedSeed.tsx
  fe1-web/platform/crypto/index.ts
  fe1-web/res/EventData.ts
  fe1-web/res/eventData.ts
  fe1-web/res/laoData.ts
  fe1-web/store/reducers/EventsReducer.ts
  fe1-web/store/reducers/LaoReducer.ts
  fe1-web/store/stores/OpenedLaoStore.ts
  fe1-web/store/stores/WalletStore.ts
  fe1-web/styles/stylesheets/circularButtonStyles.ts
  fe1-web/styles/stylesheets/containerStyles.ts
  fe1-web/styles/stylesheets/eventViewStyles.ts
  fe1-web/styles/stylesheets/modalStyles.ts
  fe1-web/styles/stylesheets/socialMediaProfileStyles.ts
Labels: fe1-web

#776 add toast message for console.error
  fe1-web/components/UserListItem.tsx
  fe1-web/components/WitnessScanning.tsx
  fe1-web/components/eventList/events/EventElection.tsx
  fe1-web/parts/connect/ConnectConfirm.tsx
  fe1-web/parts/connect/ConnectOpenScan.tsx
  fe1-web/parts/lao/organizer/RollCallOpened.tsx
  fe1-web/parts/lao/organizer/eventCreation/events/CreateElection.tsx
  fe1-web/parts/lao/organizer/eventCreation/events/CreateMeeting.tsx
  fe1-web/parts/lao/organizer/eventCreation/events/CreateRollCall.tsx
  fe1-web/parts/lao/socialMedia/SocialHome.tsx
  fe1-web/res/const.ts
Labels: fe1-web
