Repository dedis/popstellar, pull requests merged in 2022-11, with the labels that each got.

#1274 Restrict asset optimization to resource folder, disable optimization for now
  fe1-web/app.json
  fe1-web/package.json
Labels: fe1-web, bug-fix

#1285 Rework LAO Event screen part 1
  fe1-web/src/core/components/BackButton.tsx
  fe1-web/src/core/components/ModalHeader.tsx
  fe1-web/src/core/components/PoPIcon.tsx
  fe1-web/src/core/components/QRCode.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/ConfirmModal.test.tsx.snap
  fe1-web/src/core/navigation/ScreenOptions.ts
  fe1-web/src/core/navigation/typing/LaoParamList.ts
  fe1-web/src/features/digital-cash/screens/SendReceive/SendReceive.tsx
  fe1-web/src/features/evoting/screens/ViewSingleElection.tsx
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/ViewSingleElection.test.tsx.snap
  fe1-web/src/features/home/navigation/HomeNavigation.tsx
  fe1-web/src/features/home/navigation/__tests__/__snapshots__/ConnectNavigation.test.tsx.snap
  fe1-web/src/features/home/navigation/__tests__/__snapshots__/HomeNavigation.test.tsx.snap
  fe1-web/src/features/home/screens/ConnectConfirm.tsx
  fe1-web/src/features/home/screens/ConnectScan.tsx
  fe1-web/src/features/home/screens/Launch.tsx
  fe1-web/src/features/lao/components/Identity.tsx
  fe1-web/src/features/lao/components/LaoItem.tsx
  fe1-web/src/features/lao/components/LaoProperties.tsx
  fe1-web/src/features/lao/components/__tests__/__snapshots__/LaoProperties.test.tsx.snap
  fe1-web/src/features/lao/navigation/EventsNavigation.tsx
  fe1-web/src/features/lao/navigation/LaoNavigation.tsx
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/EventsNavigation.test.tsx.snap
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/LaoNavigation.test.tsx.snap
  fe1-web/src/features/lao/screens/EventsScreen.tsx
  fe1-web/src/features/lao/screens/IdentityScreen.tsx
  fe1-web/src/features/lao/screens/LaoHomeScreen.tsx
  fe1-web/src/features/lao/screens/__tests__/EventsScreen.test.tsx
  fe1-web/src/features/lao/screens/__tests__/IdentityScreen.test.tsx
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/EventsScreen.test.tsx.snap
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/IdentityScreen.test.tsx.snap
  fe1-web/src/features/lao/screens/index.ts
  fe1-web/src/features/meeting/screens/ViewSingleMeeting.tsx
  fe1-web/src/features/meeting/screens/__tests__/__snapshots__/ViewSingleMeeting.test.tsx.snap
  fe1-web/src/features/notification/navigation/NotificationNavigation.tsx
  fe1-web/src/features/rollCall/screens/ViewSingleRollCall.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/features/wallet/navigation/WalletNavigation.tsx
  fe1-web/src/features/wallet/screens/WalletSingleRollCall.tsx
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux

#1282 New Home UI
  fe2-android/app/src/main/AndroidManifest.xml
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Wallet.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/ConnectingActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeTab.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LaoCreateFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LaunchFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/settings/SettingsActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/ContentWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/SeedWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/WalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/Constants.java
  fe2-android/app/src/main/res/drawable/qr_code_button_icon.xml
  fe2-android/app/src/main/res/layout/connecting_activity.xml
  fe2-android/app/src/main/res/layout/history_transaction_layout.xml
  fe2-android/app/src/main/res/layout/home_activity.xml
  fe2-android/app/src/main/res/layout/home_fragment.xml
  fe2-android/app/src/main/res/layout/lao_create_fragment.xml
  fe2-android/app/src/main/res/layout/launch_fragment.xml
  fe2-android/app/src/main/res/layout/settings_activity.xml
  fe2-android/app/src/main/res/layout/wallet_content_fragment.xml
  fe2-android/app/src/main/res/layout/wallet_fragment.xml
  fe2-android/app/src/main/res/layout/wallet_seed_fragment.xml
  fe2-android/app/src/main/res/menu/home_menu.xml
  fe2-android/app/src/main/res/menu/options_menu.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/main/res/values/styles.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/home/HomePageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/home/LaoCreatePageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/home/WalletPageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/settings/SettingsPageObject.java
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/testutils/UITestUtils.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/ConnectingActivityTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/HomeActivityTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/LaoCreateFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/WalletContentFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/WalletFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/WalletSeedFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/WalletTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/settings/SettingsTest.java
Labels: fe2-android, ux

#1298 App bar rework + lao properties screen
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/IdentityFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/EventListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/LaoDetailAnimation.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/CastVoteFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionResultFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionSetupFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/witness/WitnessingFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashHistoryFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashIssueFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashReceiptFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashReceiveFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/ConnectingActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LaoCreateFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/QRCodeScanningFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaFollowingFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaProfileFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaSearchFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/SeedWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/Constants.java
  fe2-android/app/src/main/res/layout/digital_cash_main_activity.xml
  fe2-android/app/src/main/res/layout/digital_cash_send_fragment.xml
  fe2-android/app/src/main/res/layout/election_setup_fragment.xml
  fe2-android/app/src/main/res/layout/home_activity.xml
  fe2-android/app/src/main/res/layout/lao_detail_activity.xml
  fe2-android/app/src/main/res/layout/lao_detail_fragment.xml
  fe2-android/app/src/main/res/layout/social_media_activity.xml
  fe2-android/app/src/main/res/menu/lao_detail_tool_menu.xml
  fe2-android/app/src/main/res/menu/social_media_top_menu.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/main/res/values/styles.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/detail/LaoDetailFragmentPageObject.java
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/testutils/UITestUtils.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/EventListAdapterTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/LaoDetailActivityTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/LaoDetailFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallAddAttendeeTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/witness/WitnessAddTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/witness/WitnessingFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/HomeActivityTest.java
Labels: fe2-android, ux

#1304 Fix fe-1 CI
  fe1-web/README.md
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/src/features/digital-cash/components/__tests__/__snapshots__/DigitalCashWalletItems.test.tsx.snap
  fe1-web/src/features/digital-cash/components/__tests__/__snapshots__/TransactionHistory.test.tsx.snap
  fe1-web/src/features/digital-cash/screens/SendReceive/__tests__/__snapshots__/SendReceive.test.tsx.snap
  fe1-web/src/features/digital-cash/screens/__tests__/__snapshots__/DigitalCashWallet.test.tsx.snap
  fe1-web/src/features/digital-cash/screens/__tests__/__snapshots__/PoPTokenScanner.test.tsx.snap
  fe1-web/src/features/events/components/__tests__/__snapshots__/CreateEventButton.test.tsx.snap
  fe1-web/src/features/events/components/__tests__/__snapshots__/EventLists.test.tsx.snap
  fe1-web/src/features/events/screens/__tests__/__snapshots__/UpcomingEvents.test.tsx.snap
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/CreateElection.test.tsx.snap
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/ViewSingleElection.test.tsx.snap
  fe1-web/src/features/home/navigation/__tests__/__snapshots__/ConnectNavigation.test.tsx.snap
  fe1-web/src/features/home/navigation/__tests__/__snapshots__/HomeNavigation.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/ConnectConfirm.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/ConnectOpenScan.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/Home.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/Launch.test.tsx.snap
  fe1-web/src/features/lao/components/__tests__/__snapshots__/Identity.test.tsx.snap
  fe1-web/src/features/lao/components/__tests__/__snapshots__/LaoItem.test.tsx.snap
  fe1-web/src/features/lao/components/__tests__/__snapshots__/LaoList.test.tsx.snap
  fe1-web/src/features/lao/components/__tests__/__snapshots__/LaoProperties.test.tsx.snap
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/EventsNavigation.test.tsx.snap
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/LaoNavigation.test.tsx.snap
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/EventsScreen.test.tsx.snap
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/IdentityScreen.test.tsx.snap
  fe1-web/src/features/meeting/screens/__tests__/__snapshots__/CreateMeeting.test.tsx.snap
  fe1-web/src/features/meeting/screens/__tests__/__snapshots__/ViewSingleMeeting.test.tsx.snap
  fe1-web/src/features/notification/screens/__tests__/__snapshots__/NotificationScreen.test.tsx.snap
  fe1-web/src/features/notification/screens/__tests__/__snapshots__/SingleNotificationScreen.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/CreateRollCall.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/RollCallScanner.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/features/wallet/components/__tests__/__snapshots__/RollCallWalletItems.test.tsx.snap
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletCreateSeed.test.tsx.snap
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletHome.test.tsx.snap
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletSetSeed.test.tsx.snap
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletSingleRollCall.test.tsx.snap
Labels: fe1-web, dependencies, ci/cd
