Repository dedis/popstellar, pull requests merged in 2022-10, with the labels that each got.

#1264 Make pop tokens and lao id selectable
  fe1-web/src/features/digital-cash/screens/SendReceive/SendReceive.tsx
  fe1-web/src/features/lao/components/LaoProperties.tsx
  fe1-web/src/features/lao/components/__tests__/__snapshots__/LaoProperties.test.tsx.snap
  fe1-web/src/features/rollCall/screens/ViewSingleRollCall.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/features/wallet/screens/WalletSingleRollCall.tsx
Labels: ux, bug-fix

#1263 Fix placeholder color for text input fields
  fe1-web/src/core/components/Input.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/ConfirmModal.test.tsx.snap
  fe1-web/src/features/digital-cash/screens/SendReceive/__tests__/__snapshots__/SendReceive.test.tsx.snap
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/CreateElection.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/ConnectConfirm.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/Launch.test.tsx.snap
  fe1-web/src/features/lao/components/__tests__/__snapshots__/Identity.test.tsx.snap
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/LaoNavigation.test.tsx.snap
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/LaoHomeScreen.test.tsx.snap
  fe1-web/src/features/meeting/screens/__tests__/__snapshots__/CreateMeeting.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/CreateRollCall.test.tsx.snap
Labels: ux, bug-fix

#1267 Add firefox polyfill to fix #1258
  fe1-web/src/App.tsx
  fe1-web/src/core/platform/camera/web-polyfill.native.ts
  fe1-web/src/core/platform/camera/web-polyfill.ts
Labels: fe1-web, bug-fix

#1249 Refactor the RollCallHandler functions
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandlerTest.scala
  be2-scala/src/test/scala/util/examples/data/RollCallMessages.scala
  be2-scala/src/test/scala/util/examples/data/builders/HighLevelMessageGenerator.scala
Labels: be2-scala

#1262 Do not select tab when switching opens an activity
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
Labels: fe2-android, bug-fix

#1265 Fixes the registered votes verifications
  be1-go/channel/election/verification.go
  be1-go/channel/election/verification_test.go
  be1-go/channel/lao/mod_test.go
Labels: be1-go

#1268 Fix networking issues
  fe1-web/src/App.tsx
  fe1-web/src/__mocks__/websocket/index.ts
  fe1-web/src/__tests__/utils/websocket.ts
  fe1-web/src/core/navigation/AppNavigation.tsx
  fe1-web/src/core/network/NetworkConnection.ts
  fe1-web/src/core/network/NetworkManager.ts
  fe1-web/src/core/network/__tests__/JsonRpcApi.test.ts
  fe1-web/src/core/network/__tests__/NetworkConnection.test.ts
  fe1-web/src/core/network/__tests__/NetworkManager.test.ts
  fe1-web/src/core/network/jsonrpc/JsonRpcResponse.ts
  fe1-web/src/features/home/screens/ConnectConfirm.tsx
  fe1-web/src/features/home/screens/ConnectOpenScan.tsx
  fe1-web/src/features/home/screens/Launch.tsx
  fe1-web/src/features/lao/components/LaoItem.tsx
  fe1-web/src/features/lao/functions/TestConnection.ts
  fe1-web/src/features/lao/functions/network.ts
  fe1-web/src/features/lao/network/LaoGreetWatcher.ts
  fe1-web/src/features/lao/network/__tests__/LaoGreetWatcher.test.ts
  fe1-web/src/features/lao/network/index.ts
  fe1-web/src/resources/strings.ts
  fe1-web/types/index.d.ts
Labels: fe1-web, network, bug-fix

#1273 Add support for windows to Karate tests
  tests/karate/src/test/java/be/utils/Configurable.java
  tests/karate/src/test/java/be/utils/GoServer.java
  tests/karate/src/test/java/be/utils/Runnable.java
  tests/karate/src/test/java/be/utils/ScalaServer.java
  tests/karate/src/test/java/be/utils/Server.java
  tests/karate/src/test/java/be/utils/server.feature
  tests/karate/src/test/java/fe/RollCall/rollCallClose.feature
  tests/karate/src/test/java/fe/RollCall/rollCallReopen.feature
  tests/karate/src/test/java/fe/election/castVote.feature
  tests/karate/src/test/java/fe/election/electionEnd.feature
  tests/karate/src/test/java/fe/election/electionOpen.feature
  tests/karate/src/test/java/fe/election/electionSetup.feature
Labels: prod-ready, bug-fix

#1277 First draft at karate's CI
  .github/workflows/karate.yml
  tests/karate/src/test/java/be/utils/server.feature
Labels: prod-ready

#1283 Improve Karate CI to push the generated reports on a branch
  .github/workflows/karate.yml
Labels: prod-ready, ci/cd
