Repository dedis/popstellar, pull requests merged in 2022-12, with the labels that each got.

#1299 Refactor Roll Call Creation
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/AbstractEventCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallCreationFragment.java
  fe2-android/app/src/main/res/layout/election_setup_fragment.xml
  fe2-android/app/src/main/res/layout/event_enter_date_layout.xml
  fe2-android/app/src/main/res/layout/event_enter_time_layout.xml
  fe2-android/app/src/main/res/layout/roll_call_create_fragment.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/detail/event/election/ElectionSetupPageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/detail/event/rollcall/RollCallCreatePageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/LaoDetailFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/election/ElectionSetupFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallEventCreationFragmentTest.java
Labels: fe2-android, ux

#1303 Workaround for react-camera issue
  fe1-web/src/core/components/QrCodeScanner.tsx
  fe1-web/src/features/rollCall/screens/RollCallScanner.tsx
  fe1-web/src/features/rollCall/screens/ViewSingleRollCall.tsx
  fe1-web/src/features/rollCall/screens/__tests__/RollCallScanner.test.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
Labels: fe1-web, bug-fix

#1271 propose first version of implementation for polymorphic message and data output
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandlerTest.scala
Labels: be2-scala

#1296 Add Logs to the connection object
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/Broadcast.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/Connection.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/ConnectionFactory.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/BroadcastTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/remote/ConnectionTest.java
Labels: fe2-android

#1315 Decoupling of Roll Calls objects from LAO object
  fe2-android/.editorconfig
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/DataRegistry.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/RollCall.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/event/RollCallBuilder.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/view/LaoView.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/RollCallRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/SocialMediaRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/EventListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/AttendeesListFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallTokenFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashIssueFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashReceiveFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/socialmedia/SocialMediaViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/LaoWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/wallet/WalletListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/UnknownRollCallException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/MessageHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/DataHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/RollCallHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/security/KeyManager.java
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/di/DataRegistryModuleHelper.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/EventListAdapterTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/LaoDetailFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/election/CastVoteFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/digitalcash/DigitalCashActivityTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/MessageGeneralTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/LaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/LaoHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/TransactionCoinHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/security/KeyManagerTest.java
Labels: fe2-android

#1302 Drawer navigation
  fe1-web/app.config.js
  fe1-web/app.json
  fe1-web/jest/setup.js
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/src/__mocks__/@expo/vector-icons/index.ts
  fe1-web/src/core/components/DrawerMenuButton.tsx
  fe1-web/src/core/components/PoPIcon.tsx
  fe1-web/src/core/navigation/ScreenOptions.ts
  fe1-web/src/core/navigation/typing/DigitalCashParamList.ts
  fe1-web/src/core/navigation/typing/LaoParamList.ts
  fe1-web/src/core/navigation/typing/Screen.ts
  fe1-web/src/core/navigation/typing/WalletParamList.ts
  fe1-web/src/core/styles/color.ts
  fe1-web/src/core/styles/typography.ts
  fe1-web/src/features/digital-cash/components/DigitalCashWalletItems.tsx
  fe1-web/src/features/digital-cash/components/__tests__/DigitalCashWalletItems.test.tsx
  fe1-web/src/features/digital-cash/index.ts
  fe1-web/src/features/digital-cash/interface/Configuration.ts
  fe1-web/src/features/digital-cash/interface/Feature.ts
  fe1-web/src/features/digital-cash/navigation/DigitalCashNavigation.tsx
  fe1-web/src/features/digital-cash/screens/DigitalCashWallet.tsx
  fe1-web/src/features/digital-cash/screens/PoPTokenScanner.tsx
  fe1-web/src/features/digital-cash/screens/SendReceive/SendReceive.tsx
  fe1-web/src/features/digital-cash/screens/SendReceive/index.ts
  fe1-web/src/features/events/components/CreateEventButton.tsx
  fe1-web/src/features/events/components/EventListItem.tsx
  fe1-web/src/features/events/components/EventLists.tsx
  fe1-web/src/features/events/components/__tests__/EventLists.test.tsx
  fe1-web/src/features/events/screens/__tests__/UpcomingEvents.test.tsx
  fe1-web/src/features/home/navigation/HomeNavigation.tsx
  fe1-web/src/features/home/screens/ConnectScan.tsx
  fe1-web/src/features/index.ts
  fe1-web/src/features/lao/interface/Feature.ts
  fe1-web/src/features/lao/navigation/EventsNavigation.tsx
  fe1-web/src/features/lao/navigation/LaoNavigation.tsx
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/EventsNavigation.test.tsx.snap
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/LaoNavigation.test.tsx.snap
  fe1-web/src/features/lao/screens/EventsScreen.tsx
  fe1-web/src/features/lao/screens/InviteScreen.tsx
  fe1-web/src/features/lao/screens/__tests__/EventsScreen.test.tsx
  fe1-web/src/features/lao/screens/__tests__/InviteScreen.test.tsx
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/EventsScreen.test.tsx.snap
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/InviteScreen.test.tsx.snap
  fe1-web/src/features/notification/interface/Feature.ts
  fe1-web/src/features/notification/navigation/NotificationNavigation.tsx
  fe1-web/src/features/social/interface/Feature.ts
  fe1-web/src/features/social/navigation/SocialMediaNavigation.tsx
  fe1-web/src/features/wallet/components/RollCallWalletItems.tsx
  fe1-web/src/features/wallet/components/__tests__/RollCallWalletItems.test.tsx
  fe1-web/src/features/wallet/hooks/WalletHooks.ts
  fe1-web/src/features/wallet/hooks/__tests__/WalletHooks.test.tsx
  fe1-web/src/features/wallet/index.ts
  fe1-web/src/features/wallet/interface/Configuration.ts
  fe1-web/src/features/wallet/interface/Feature.ts
  fe1-web/src/features/wallet/navigation/WalletNavigation.tsx
  fe1-web/src/features/wallet/screens/WalletHome.tsx
  fe1-web/src/features/wallet/screens/__tests__/WalletHome.test.tsx
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux

#1310 Make social media UI more consistent with the rest of the application
  fe1-web/src/core/components/PoPIconButton.tsx
  fe1-web/src/core/components/index.ts
  fe1-web/src/core/navigation/typing/SocialParamList.ts
  fe1-web/src/core/styles/icon.ts
  fe1-web/src/features/social/components/ChirpCard.tsx
  fe1-web/src/features/social/components/Profile.tsx
  fe1-web/src/features/social/components/TextInputChirp.tsx
  fe1-web/src/features/social/components/UserListItem.tsx
  fe1-web/src/features/social/components/__tests__/ChirpCard.test.tsx
  fe1-web/src/features/social/components/__tests__/Profile.test.tsx
  fe1-web/src/features/social/components/__tests__/UserListItem.test.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/Profile.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/TextInputChirp.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/UserListItem.test.tsx.snap
  fe1-web/src/features/social/navigation/SocialMediaNavigation.tsx
  fe1-web/src/features/social/navigation/SocialSearchNavigation.tsx
  fe1-web/src/features/social/network/ChirpHandler.ts
  fe1-web/src/features/social/network/ReactionHandler.ts
  fe1-web/src/features/social/network/messages/chirp/AddChirp.ts
  fe1-web/src/features/social/network/messages/chirp/DeleteChirp.ts
  fe1-web/src/features/social/network/messages/chirp/NotifyAddChirp.ts
  fe1-web/src/features/social/network/messages/chirp/NotifyDeleteChirp.ts
  fe1-web/src/features/social/network/messages/reaction/AddReaction.ts
  fe1-web/src/features/social/objects/Reaction.ts
  fe1-web/src/features/social/objects/__tests__/Reaction.test.ts
  fe1-web/src/features/social/reducer/SocialReducer.ts
  fe1-web/src/features/social/reducer/__tests__/SocialReducer.test.ts
  fe1-web/src/features/social/screens/SocialFollows.tsx
  fe1-web/src/features/social/screens/SocialHome.tsx
  fe1-web/src/features/social/screens/SocialProfile.tsx
  fe1-web/src/features/social/screens/SocialSearch.tsx
  fe1-web/src/features/social/screens/SocialUserProfile.tsx
  fe1-web/src/features/social/screens/__tests__/SocialHome.test.tsx
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialHome.test.tsx.snap
  fe1-web/src/features/social/screens/index.ts
  fe1-web/src/features/social/styles/socialMediaProfileStyles.ts
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux

#1317 Make the user profile in ChirpCard clickable
  fe1-web/src/core/components/PoPIcon.tsx
  fe1-web/src/core/navigation/typing/LaoParamList.ts
  fe1-web/src/core/navigation/typing/social/SocialHomeParamList.ts
  fe1-web/src/core/navigation/typing/social/SocialParamList.ts
  fe1-web/src/core/navigation/typing/social/SocialProfileParamList.ts
  fe1-web/src/core/navigation/typing/social/SocialSearchParamList.ts
  fe1-web/src/core/navigation/typing/social/SocialTopChirpsParamList.ts
  fe1-web/src/core/navigation/typing/social/index.ts
  fe1-web/src/features/social/components/BackButton.tsx
  fe1-web/src/features/social/components/ChirpCard.tsx
  fe1-web/src/features/social/components/UserListItem.tsx
  fe1-web/src/features/social/components/__tests__/BackButton.test.tsx
  fe1-web/src/features/social/components/__tests__/ChirpCard.test.tsx
  fe1-web/src/features/social/components/__tests__/UserListItem.test.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/BackButton.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/UserListItem.test.tsx.snap
  fe1-web/src/features/social/components/index.ts
  fe1-web/src/features/social/navigation/SocialHomeNavigation.tsx
  fe1-web/src/features/social/navigation/SocialMediaNavigation.tsx
  fe1-web/src/features/social/navigation/SocialProfileNavigation.tsx
  fe1-web/src/features/social/navigation/SocialSearchNavigation.tsx
  fe1-web/src/features/social/navigation/SocialTopChirpsNavigation.tsx
  fe1-web/src/features/social/screens/SocialHome.tsx
  fe1-web/src/features/social/screens/SocialNewChirp.tsx
  fe1-web/src/features/social/screens/SocialSearch.tsx
  fe1-web/src/features/social/screens/SocialUserProfile.tsx
  fe1-web/src/features/social/screens/__tests__/SocialTopChirps.test.tsx
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialTopChirps.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux

#1318 Smaller ux fixes to the upcoming events screen
  fe1-web/src/features/events/components/EventList.tsx
  fe1-web/src/features/events/functions/events.ts
  fe1-web/src/features/events/screens/UpcomingEvents.tsx
  fe1-web/src/features/events/screens/__tests__/__snapshots__/UpcomingEvents.test.tsx.snap
Labels: fe1-web, ux

#1319 Move toasts to the bottom of the screen
  fe1-web/src/core/styles/color.ts
  fe1-web/src/features/digital-cash/screens/PoPTokenScanner.tsx
  fe1-web/src/features/evoting/components/ElectionNotStarted.tsx
  fe1-web/src/features/evoting/components/ElectionOpened.tsx
  fe1-web/src/features/evoting/screens/CreateElection.tsx
  fe1-web/src/features/home/screens/ConnectConfirm.tsx
  fe1-web/src/features/home/screens/ConnectScan.tsx
  fe1-web/src/features/lao/components/LaoItem.tsx
  fe1-web/src/features/lao/navigation/LaoNavigation.tsx
  fe1-web/src/features/lao/network/index.ts
  fe1-web/src/features/meeting/screens/CreateMeeting.tsx
  fe1-web/src/features/rollCall/components/RollCallOpen.tsx
  fe1-web/src/features/rollCall/screens/CreateRollCall.tsx
  fe1-web/src/features/rollCall/screens/RollCallScanner.tsx
  fe1-web/src/features/social/components/ChirpCard.tsx
  fe1-web/src/features/social/screens/SocialNewChirp.tsx
  fe1-web/src/features/wallet/screens/WalletCreateSeed.tsx
  fe1-web/src/features/wallet/screens/WalletSetSeed.tsx
Labels: fe1-web, ux

#1307 Patch dependency to allow black drawer overlay to be pressed to close the drawer
  fe1-web/docs/README.md
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/patches/@react-navigation+drawer+6.5.1.patch
Labels: fe1-web, dependencies, bug-fix

#1320 UI changes to wallet initialization
  fe1-web/README.md
  fe1-web/src/core/components/PoPButton.tsx
  fe1-web/src/core/components/PoPIconButton.tsx
  fe1-web/src/core/components/PoPTextButton.tsx
  fe1-web/src/core/components/TextInputLine.tsx
  fe1-web/src/core/components/Toolbar.tsx
  fe1-web/src/core/styles/typography.ts
  fe1-web/src/features/wallet/screens/WalletCreateSeed.tsx
  fe1-web/src/features/wallet/screens/WalletSetSeed.tsx
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletCreateSeed.test.tsx.snap
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletSetSeed.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux
