Repository dedis/popstellar, pull requests merged in 2023-02, with the labels that each got.

#1363 Move build info to middle center in the navigation bar below the title
  fe1-web/src/core/components/BuildInfo.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/BuildInfo.test.tsx.snap
Labels: fe1-web, ux

#1323 Refactor CoinHandler and MeetingHandler files
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/CoinHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MeetingHandler.scala
Labels: be2-scala

#1350 Make fe-1 wallet consistent with fe-2
  fe1-web/src/features/wallet/components/RollCallTokensDropDown.tsx
  fe1-web/src/features/wallet/components/RollCallWalletItems.tsx
  fe1-web/src/features/wallet/components/Token.tsx
  fe1-web/src/features/wallet/components/TokenList.tsx
  fe1-web/src/features/wallet/components/__tests__/RollCallTokensDropDown.test.tsx
  fe1-web/src/features/wallet/components/__tests__/TokenList.test.tsx
  fe1-web/src/features/wallet/components/__tests__/__snapshots__/RollCallTokensDropDown.test.tsx.snap
  fe1-web/src/features/wallet/components/__tests__/__snapshots__/TokenList.test.tsx.snap
  fe1-web/src/features/wallet/components/index.ts
  fe1-web/src/features/wallet/screens/WalletHome.tsx
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletHome.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux

#1345 Add auto-complete to the send & receive screen
  fe1-web/src/core/components/AutocompleteInput.tsx
  fe1-web/src/core/components/Input.tsx
  fe1-web/src/core/components/ScannerInput.tsx
  fe1-web/src/core/components/__tests__/AutocompleteInput.test.tsx
  fe1-web/src/core/components/__tests__/ScannerInput.test.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/AutocompleteInput.test.tsx.snap
  fe1-web/src/core/components/__tests__/__snapshots__/ScannerInput.test.tsx.snap
  fe1-web/src/core/components/index.ts
  fe1-web/src/features/digital-cash/screens/SendReceive/SendReceive.tsx
  fe1-web/src/features/digital-cash/screens/SendReceive/__tests__/__snapshots__/SendReceive.test.tsx.snap
Labels: fe1-web, ux

#1361 Fix error message when connecting to lao
  fe1-web/src/features/home/screens/ConnectScan.tsx
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux

#1360 Display time until closest upcoming event
  fe1-web/src/features/events/components/EventLists.tsx
  fe1-web/src/features/events/components/__tests__/__snapshots__/EventLists.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux

#1364 Display election status on election detail screens
  fe1-web/src/features/evoting/components/ElectionHeader.tsx
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/ViewSingleElection.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux

#1367 Fix bug in transaction validation
  fe1-web/src/features/digital-cash/objects/transaction/Transaction.ts
  fe1-web/src/features/digital-cash/objects/transaction/__tests__/Transaction.test.tsx
Labels: fe1-web, digital-wallet, bug-fix

#1321 Update patch version
  fe1-web/patches/@react-navigation+drawer+6.5.4.patch
Labels: fe1-web

#1335 Make reaction buttons less attention grabbing
  fe1-web/src/core/components/PoPIconButton.tsx
  fe1-web/src/features/social/components/ChirpCard.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialTopChirps.test.tsx.snap
Labels: fe1-web, ux

#1356 Fix vote encryption in android
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Election.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ElectionHandler.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
Labels: fe2-android, bug-fix

#1358 Refactor rollCallValidator
  be2-scala/project/build.properties
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageDataContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidator.scala
Labels: be2-scala

#1382 Fix persistence bug
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
Labels: fe2-android

#1370 Add form feedback when creating events
  fe1-web/src/features/evoting/screens/CreateElection.tsx
  fe1-web/src/features/evoting/screens/__tests__/CreateElection.test.tsx
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/CreateElection.test.tsx.snap
  fe1-web/src/features/meeting/screens/CreateMeeting.tsx
  fe1-web/src/features/meeting/screens/__tests__/CreateMeeting.test.tsx
  fe1-web/src/features/meeting/screens/__tests__/__snapshots__/CreateMeeting.test.tsx.snap
  fe1-web/src/features/rollCall/screens/CreateRollCall.tsx
  fe1-web/src/features/rollCall/screens/__tests__/CreateRollCall.test.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/CreateRollCall.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web

#1385 Adapt architecture diagram
  fe2-android/docs/images/architecture_diagram.drawio
  fe2-android/docs/images/architecture_diagram.drawio.png
  fe2-android/docs/images/architecture_diagram.drawio.svg
Labels: documentation, fe2-android

#1357 Add support for removing reactions
  fe1-web/src/core/network/jsonrpc/messages/MessageRegistry.ts
  fe1-web/src/core/network/validation/Validator.ts
  fe1-web/src/core/network/validation/schemas/dataSchemas.ts
  fe1-web/src/features/social/__tests__/utils.ts
  fe1-web/src/features/social/components/ChirpCard.tsx
  fe1-web/src/features/social/components/__tests__/ChirpCard.test.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/src/features/social/network/ReactionHandler.ts
  fe1-web/src/features/social/network/SocialMessageApi.ts
  fe1-web/src/features/social/network/__mocks__/SocialMessageApi.ts
  fe1-web/src/features/social/network/__tests__/SocialMessageApi.test.ts
  fe1-web/src/features/social/network/index.ts
  fe1-web/src/features/social/network/messages/reaction/DeleteReaction.ts
  fe1-web/src/features/social/network/messages/reaction/__tests__/DeleteReaction.test.ts
  fe1-web/src/features/social/network/messages/reaction/index.ts
  fe1-web/src/features/social/reducer/SocialReducer.ts
  fe1-web/src/features/social/reducer/__tests__/SocialReducer.test.ts
Labels: fe1-web, ux

#1368 Add more try/catch clauses to network handlers
  fe1-web/src/features/digital-cash/network/DigitalCashHandler.ts
  fe1-web/src/features/evoting/network/ElectionHandler.ts
  fe1-web/src/features/evoting/network/__tests__/ElectionHandler.test.ts
  fe1-web/src/features/evoting/objects/QuestionResult.ts
  fe1-web/src/features/evoting/objects/RegisteredVote.ts
  fe1-web/src/features/evoting/objects/__tests__/QuestionResult.test.ts
  fe1-web/src/features/evoting/objects/__tests__/RegisteredVote.test.ts
  fe1-web/src/features/lao/network/LaoHandler.ts
  fe1-web/src/features/meeting/network/MeetingHandler.ts
  fe1-web/src/features/rollCall/network/RollCallHandler.ts
  fe1-web/src/features/rollCall/network/__tests__/RollCallHandler.test.ts
  fe1-web/src/features/rollCall/objects/RollCall.ts
  fe1-web/src/features/rollCall/objects/__tests__/RollCall.test.ts
  fe1-web/src/features/rollCall/screens/__tests__/ViewSingleRollCall.test.tsx
  fe1-web/src/features/social/network/ChirpHandler.ts
  fe1-web/src/features/social/network/ReactionHandler.ts
  fe1-web/src/features/social/network/__tests__/ChirpHandler.test.ts
  fe1-web/src/features/social/network/__tests__/ReactionHandler.test.ts
  fe1-web/src/features/wallet/screens/__tests__/WalletHome.test.tsx
  fe1-web/src/features/witness/network/WitnessHandler.ts
Labels: fe1-web

#1386 Update documentation of fe1
  fe1-web/docs/README.md
  fe1-web/src/features/social/README.md
Labels: documentation, fe1-web

#1342 Fix CI go
  be1-go/Makefile
  be1-go/channel/chirp/mod_test.go
  be1-go/channel/consensus/mod_test.go
  be1-go/channel/election/mod_test.go
  be1-go/channel/lao/mod_test.go
  be1-go/inbox/mod.go
  be1-go/inbox/mod_test.go
Labels: be1-go, bug-fix

#1393 Include windows in fe1 CI
  .github/workflows/ci.yaml
Labels: fe1-web, ci/cd

#1392 Remove outdated text
  fe1-web/src/features/social/screens/SocialHome.tsx
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialHome.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, bug-fix

#1291 Refactor SocialMediaHandler file
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandler.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandlerSuite.scala
Labels: be2-scala

#1389 Update documentation of scala
  be2-scala/README.md
  be2-scala/docs/README.md
Labels: documentation, be2-scala

#1384 New digital cash Home UI
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashHistoryFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashIssueFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashReceiveFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashTab.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashViewModel.java
  fe2-android/app/src/main/res/drawable/ic_digicash_history.xml
  fe2-android/app/src/main/res/drawable/ic_social_media_send_foreground.xml
  fe2-android/app/src/main/res/drawable/receive_icon.xml
  fe2-android/app/src/main/res/drawable/round_button.xml
  fe2-android/app/src/main/res/drawable/send_coin_icon.xml
  fe2-android/app/src/main/res/drawable/transactions_icon.xml
  fe2-android/app/src/main/res/layout/digital_cash_history_fragment.xml
  fe2-android/app/src/main/res/layout/digital_cash_home_fragment.xml
  fe2-android/app/src/main/res/layout/digital_cash_issue_fragment.xml
  fe2-android/app/src/main/res/layout/digital_cash_main_activity.xml
  fe2-android/app/src/main/res/layout/digital_cash_receive_fragment.xml
  fe2-android/app/src/main/res/layout/social_media_home_fragment.xml
  fe2-android/app/src/main/res/menu/digital_cash_menu.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/digitalcash/DigitalCashPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/digitalcash/DigitalCashActivityTest.java
Labels: fe2-android

#1365 Make election notice less attention grabbing
  fe1-web/src/features/evoting/components/ElectionVersionNotice.tsx
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/ViewSingleElection.test.tsx.snap
Labels: fe1-web, ux

#1394 Add back navigation for selected fragments
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/LaoActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashHistoryFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashIssueFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashReceiptFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashReceiveFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/UpcomingEventsFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/fragments/CastVoteFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/fragments/ElectionFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/fragments/ElectionResultFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/fragments/ElectionSetupFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/eventlist/EventListFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/token/TokenFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/token/TokenListFragment.java
Labels: fe2-android

#1396 Fix typo in fe-1 doc
  fe1-web/docs/README.md
Labels: documentation, fe1-web

#1373 Refactor QR code scanner
  fe2-android/app/build.gradle
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/CameraModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/eventlist/EventsAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/witness/WitnessesFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/BarcodeTracker.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/CameraPreview.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/CameraProvider.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/QRCodeListener.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/QRCodeScanningFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/QRCodeScanningViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/QRFocusingProcessor.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/QrScannerFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/ScanningAction.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/Constants.java
  fe2-android/app/src/main/res/drawable/close_icon.xml
  fe2-android/app/src/main/res/drawable/ic_lock.xml
  fe2-android/app/src/main/res/drawable/ic_unlock.xml
  fe2-android/app/src/main/res/drawable/scanner_sight.xml
  fe2-android/app/src/main/res/layout/qr_scanner_fragment.xml
  fe2-android/app/src/main/res/layout/qrcode_fragment.xml
  fe2-android/app/src/main/res/layout/roll_call_create_fragment.xml
  fe2-android/app/src/main/res/layout/roll_call_fragment.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/detail/LaoDetailActivityPageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/detail/event/rollcall/RollCallCreatePageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/scanning/QrScanningPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/election/ElectionFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/eventlist/EventListFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallAddAttendeeTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/witness/WitnessAddTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/witness/WitnessingFragmentTest.java
  fe2-android/build.gradle
  fe2-android/gradle.properties
  fe2-android/gradle/wrapper/gradle-wrapper.properties
Labels: fe2-android

#1415 Fixing the out-of-order processing for Deleting Chirp
  be1-go/channel/chirp/mod.go
  be1-go/channel/chirp/mod_test.go
Labels: good first issue, be1-go
