Repository dedis/popstellar, pull requests merged in 2023-06, with the labels that each got.

#1521 Second part of the PoPCHA example Client
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  demo/popcha-client/web/authentication.py
  demo/popcha-client/web/data/config.json
  demo/popcha-client/web/data/providers.json
  demo/popcha-client/web/main.py
  demo/popcha-client/web/model/index.html
  demo/popcha-client/web/requirements.txt
  demo/popcha-client/web/run.sh
  demo/popcha-client/web/sonar-project.properties
  demo/popcha-client/web/src/__init__.py
  demo/popcha-client/web/src/authentication.py
  demo/popcha-client/web/src/counterApp.py
  demo/popcha-client/web/src/main.py
  demo/popcha-client/web/src/templates/counterApp.html
  demo/popcha-client/web/src/templates/index.html
  demo/popcha-client/web/src/templates/providers.html
  demo/popcha-client/web/src/tests/__init__.py
  demo/popcha-client/web/src/tests/test_authentication.py
  demo/popcha-client/web/src/tests/test_counterApp.py
  demo/popcha-client/web/src/tests/test_main.py
  demo/popcha-client/web/tox.ini
Labels: popcha

#1618 Removes the mock server button
  fe1-web/src/features/home/screens/ConnectConfirm.tsx
  fe1-web/src/features/home/screens/Launch.tsx
  fe1-web/src/features/home/screens/__tests__/__snapshots__/ConnectConfirm.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/Launch.test.tsx.snap
Labels: fe1-web, prod-ready

#1617 Add circular handling of GetMessagesById answer
  be1-go/hub/standard_hub/message_handling.go
  be1-go/hub/standard_hub/mod.go
  be1-go/hub/standard_hub/mod_test.go
Labels: be1-go, decentralized

#1616 new channel for authentication
  be1-go/channel/authentication/mod.go
  be1-go/channel/authentication/mod_test.go
  be1-go/channel/lao/mod.go
  be1-go/go.mod
  be1-go/go.sum
Labels: be1-go, popcha

#1604 Fine-tune Decentralized communications
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/ConnectionMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/GetMessagesByIdResponseHandler.scala
Labels: be2-scala, decentralized

#1630 Update Readme for Karate reporting
  README.md
Labels: fe2-android, prod-ready

#1550 Karate refactoring part 2
  tests/karate/src/test/java/be/LAO/create.feature
  tests/karate/src/test/java/be/LAO/update.feature
  tests/karate/src/test/java/be/constants.feature
  tests/karate/src/test/java/be/mockClient.feature
  tests/karate/src/test/java/be/mockFrontEnd.feature
  tests/karate/src/test/java/be/model/KeyPair.java
  tests/karate/src/test/java/be/model/Lao.java
  tests/karate/src/test/java/be/model/RollCall.java
  tests/karate/src/test/java/be/rollCall/closeRollCall.feature
  tests/karate/src/test/java/be/rollCall/createRollCall.feature
  tests/karate/src/test/java/be/rollCall/openRollCall.feature
  tests/karate/src/test/java/be/utils/GoServer.java
  tests/karate/src/test/java/be/utils/Hash.java
  tests/karate/src/test/java/be/utils/JsonConverter.java
  tests/karate/src/test/java/be/utils/JsonConverterTest.java
  tests/karate/src/test/java/be/utils/MockClient.java
  tests/karate/src/test/java/be/utils/RandomUtils.java
  tests/karate/src/test/java/be/utils/simpleScenarios.feature
  tests/karate/src/test/java/common/net/MultiMsgWebSocketClient.java
  tests/karate/src/test/java/common/utils/Base64Utils.java
  tests/karate/src/test/java/fe/utils/verification/ElectionVerification.java
  tests/karate/src/test/java/fe/utils/verification/MessageVerification.java
  tests/karate/src/test/java/fe/utils/verification/RollCallVerification.java
Labels: fe2-android, prod-ready

#1636 Fix high CPU usage + time not working
  fe1-web/src/features/social/navigation/SocialMediaNavigation.tsx
Labels: fe1-web, prod-ready, bug-fix

#1596 Display attendee pop token when trying to join roll call
  fe1-web/src/features/rollCall/components/RollCallOpen.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
Labels: fe1-web, prod-ready

#1567 Fix offline mode bug: now reconnects when connection re-established
  fe1-web/package-lock.json
  fe1-web/package.json
  fe1-web/src/core/network/NetworkConnection.ts
  fe1-web/src/core/network/NetworkManager.ts
  fe1-web/src/core/network/__tests__/NetworkConnection.test.ts
  fe1-web/src/features/lao/network/index.ts
  fe1-web/src/features/lao/reducer/LaoReducer.ts
  fe1-web/src/features/lao/reducer/__tests__/LaoReducer.test.ts
Labels: fe1-web, bug-fix

#1633 Partially fix mobile scanner
  fe1-web/src/core/components/QrCodeScanner.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/QrCodeScanner.test.tsx.snap
  fe1-web/src/core/platform/camera/web-polyfill.ts
  fe1-web/src/features/digital-cash/screens/__tests__/__snapshots__/PoPTokenScanner.test.tsx.snap
  fe1-web/src/features/home/navigation/__tests__/__snapshots__/ConnectNavigation.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/ConnectOpenScan.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/RollCallScanner.test.tsx.snap
Labels: fe1-web, bug-fix

#1637 Integration of PoPCHA in cli/mod.go
  be1-go/cli/mod.go
  be1-go/cli/mod_test.go
  be1-go/cli/pop.go
  be1-go/cli/pop_test.go
  be1-go/cli/test_config_files/invalid_config_equal_client_server_ports.json
  be1-go/cli/test_config_files/invalid_config_equal_ports.json
  be1-go/cli/test_config_files/valid_config.json
  be1-go/cli/test_config_files/valid_config_watcher.json
  be1-go/configServer1.json
  be1-go/configServer2.json
  be1-go/network/shutdown.go
Labels: be1-go, popcha

#1639 Fix overflow special character
  fe1-web/src/features/social/components/ChirpCard.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialTopChirps.test.tsx.snap
Labels: fe1-web, prod-ready, bug-fix

#1561 Add new Authentication message for popcha
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ActionType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ObjectType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/popcha/Authenticate.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/KeyPair.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Signature.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/MessageRegistry.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/PopchaHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/PopchaValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/message/data/popcha/AuthenticateSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/SignatureSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/PopchaValidatorSuite.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
  be2-scala/src/test/scala/util/examples/MessageExample.scala
Labels: be2-scala, popcha

#1638 Better tokens Copy paste workflow
  fe1-web/src/features/rollCall/components/RollCallOpen.tsx
  fe1-web/src/features/rollCall/screens/RollCallScanner.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
Labels: fe1-web, ux

#1641 Fix empty lines in ballot disappearing
  fe1-web/src/features/evoting/screens/CreateElection.tsx
Labels: fe1-web, prod-ready, bug-fix

#1652 Disallow multiple whitespace in chirps
  fe1-web/src/features/social/components/NewChirp.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/NewChirp.test.tsx.snap
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialHome.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux

#1640 Highlight personal token rollcall + sort rollcall
  fe1-web/src/core/styles/color.ts
  fe1-web/src/features/rollCall/components/AttendeeList.tsx
  fe1-web/src/features/rollCall/components/RollCallClosed.tsx
  fe1-web/src/features/rollCall/components/RollCallOpen.tsx
  fe1-web/src/features/rollCall/network/RollCallMessageApi.ts
  fe1-web/src/features/rollCall/network/__tests__/RollCallMessageApi.test.ts
  fe1-web/src/features/rollCall/objects/RollCall.ts
  fe1-web/src/features/rollCall/objects/__tests__/RollCall.test.ts
  fe1-web/src/features/rollCall/screens/RollCallScanner.tsx
  fe1-web/src/features/rollCall/screens/__tests__/RollCallScanner.test.tsx
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux, prod-ready

#1651 Fix build info over left menu
  fe1-web/src/App.tsx
  fe1-web/src/core/components/BuildInfo.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/BuildInfo.test.tsx.snap
  fe1-web/src/core/navigation/ScreenOptions.ts
  fe1-web/src/core/styles/spacing.ts
  fe1-web/src/features/home/navigation/__tests__/__snapshots__/ConnectNavigation.test.tsx.snap
  fe1-web/src/features/home/navigation/__tests__/__snapshots__/HomeNavigation.test.tsx.snap
  fe1-web/src/features/lao/navigation/LaoNavigation.tsx
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/EventsNavigation.test.tsx.snap
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/LaoNavigation.test.tsx.snap
  fe1-web/src/features/social/navigation/SocialMediaNavigation.tsx
Labels: fe1-web, ux, bug-fix

#1634 Refactor Karate Part 3
  tests/karate/src/test/java/be/LAO/update.feature
  tests/karate/src/test/java/be/constants.feature
  tests/karate/src/test/java/be/decentralizedCom/getMessagesById.feature
  tests/karate/src/test/java/be/decentralizedCom/heartbeat.feature
  tests/karate/src/test/java/be/digitalCash/transaction.feature
  tests/karate/src/test/java/be/election/castVote.feature
  tests/karate/src/test/java/be/election/electionEnd.feature
  tests/karate/src/test/java/be/election/electionOpen.feature
  tests/karate/src/test/java/be/election/electionSetup.feature
  tests/karate/src/test/java/be/model/Election.java
  tests/karate/src/test/java/be/model/ElectionQuestion.java
  tests/karate/src/test/java/be/model/KeyPair.java
  tests/karate/src/test/java/be/model/Lao.java
  tests/karate/src/test/java/be/model/PlainVote.java
  tests/karate/src/test/java/be/model/RollCall.java
  tests/karate/src/test/java/be/model/Transaction.java
  tests/karate/src/test/java/be/rollCall/closeRollCall.feature
  tests/karate/src/test/java/be/utils/JsonConverter.java
  tests/karate/src/test/java/be/utils/MockClient.java
  tests/karate/src/test/java/be/utils/RandomUtils.java
  tests/karate/src/test/java/be/utils/simpleScenarios.feature
  tests/karate/src/test/java/common/net/MultiMsgWebSocketClient.java
Labels: fe2-android, prod-ready

#1646 Update FE2 documentation
  fe2-android/docs/README.md
Labels: fe2-android

#1655 Fix pb with already deleted chirp
  fe1-web/src/features/social/reducer/SocialReducer.ts
Labels: fe1-web, prod-ready

#1644 Fix button weird design sometimes
  fe1-web/src/core/components/PoPTouchableOpacity.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/CameraButton.test.tsx.snap
  fe1-web/src/core/components/__tests__/__snapshots__/ConfirmModal.test.tsx.snap
  fe1-web/src/core/components/__tests__/__snapshots__/DismissModal.test.tsx.snap
  fe1-web/src/core/components/__tests__/__snapshots__/PoPButton.test.tsx.snap
  fe1-web/src/core/components/__tests__/__snapshots__/PoPTextButton.test.tsx.snap
  fe1-web/src/core/components/__tests__/__snapshots__/ScannerInput.test.tsx.snap
  fe1-web/src/core/components/__tests__/__snapshots__/TextInputList.test.tsx.snap
  fe1-web/src/features/digital-cash/screens/SendReceive/__tests__/__snapshots__/SendReceive.test.tsx.snap
  fe1-web/src/features/events/components/__tests__/__snapshots__/CreateEventButton.test.tsx.snap
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/CreateElection.test.tsx.snap
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/ViewSingleElection.test.tsx.snap
  fe1-web/src/features/home/navigation/__tests__/__snapshots__/ConnectNavigation.test.tsx.snap
  fe1-web/src/features/home/navigation/__tests__/__snapshots__/HomeNavigation.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/ConnectConfirm.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/ConnectOpenScan.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/Home.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/Launch.test.tsx.snap
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/EventsNavigation.test.tsx.snap
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/LaoNavigation.test.tsx.snap
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/EventsScreen.test.tsx.snap
  fe1-web/src/features/meeting/screens/__tests__/__snapshots__/CreateMeeting.test.tsx.snap
  fe1-web/src/features/notification/screens/__tests__/__snapshots__/NotificationScreen.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/CreateRollCall.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/RollCallScanner.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/NewChirp.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/TextInputChirp.test.tsx.snap
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialHome.test.tsx.snap
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialTopChirps.test.tsx.snap
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletCreateSeed.test.tsx.snap
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletSetSeed.test.tsx.snap
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletSingleRollCall.test.tsx.snap
  fe1-web/src/features/witness/components/__tests__/__snapshots__/WitnessNotification.test.tsx.snap
Labels: fe1-web, prod-ready, bug-fix

#1658 Ask confirmation leaving rollcall with newly scanned tokens
  fe1-web/src/core/components/BackButton.tsx
  fe1-web/src/features/rollCall/screens/ViewSingleRollCall.tsx
  fe1-web/src/features/rollCall/screens/__tests__/ViewSingleRollCall.test.tsx
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux, prod-ready

#1657 PoPCHA documentation improved, + PoPCHA-specific README.md
  be1-go/docs/README.md
  be1-go/popcha/docs/README.md
Labels: be1-go, popcha

#1620 Add server Public / Private key pair
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/Storage.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
Labels: be2-scala

#1614 Refactor RuntimeEnvironment
  be2-scala/build.sbt
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/config/RuntimeEnvironment.scala
  be2-scala/src/main/scala/ch/epfl/pop/config/ServerConf.scala
  be2-scala/src/main/scala/ch/epfl/pop/config/application.conf
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DiskStorage.scala
Labels: be2-scala

#1656 Fix roll call issues
  fe1-web/src/features/rollCall/components/RollCallOpen.tsx
  fe1-web/src/features/rollCall/screens/RollCallScanner.tsx
  fe1-web/src/features/rollCall/screens/__tests__/RollCallScanner.test.tsx
  fe1-web/src/features/rollCall/screens/__tests__/ViewSingleRollCall.test.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/RollCallScanner.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
Labels: fe1-web, bug-fix

#1653 Update go documentation
  be1-go/docs/README.md
  be1-go/docs/images/flowchart.png
  be1-go/docs/images/flowchart/flowchart.png
  be1-go/docs/images/flowchart/flowchart.svg
  be1-go/docs/images/flowchart/flowchart.xml
Labels: documentation, be1-go

#1635 Karate refactor
  tests/karate/src/test/java/be/LAO/create.feature
  tests/karate/src/test/java/be/LAO/update.feature
  tests/karate/src/test/java/be/constants.feature
  tests/karate/src/test/java/be/decentralizedCom/getMessagesById.feature
  tests/karate/src/test/java/be/decentralizedCom/heartbeat.feature
  tests/karate/src/test/java/be/digitalCash/transaction.feature
  tests/karate/src/test/java/be/election/castVote.feature
  tests/karate/src/test/java/be/election/electionEnd.feature
  tests/karate/src/test/java/be/election/electionOpen.feature
  tests/karate/src/test/java/be/election/electionSetup.feature
  tests/karate/src/test/java/be/heartbeat/heartbeat.feature
  tests/karate/src/test/java/be/mockClient.feature
  tests/karate/src/test/java/be/mockFrontEnd.feature
  tests/karate/src/test/java/be/model/Election.java
  tests/karate/src/test/java/be/model/ElectionQuestion.java
  tests/karate/src/test/java/be/model/KeyPair.java
  tests/karate/src/test/java/be/model/Lao.java
  tests/karate/src/test/java/be/model/PlainVote.java
  tests/karate/src/test/java/be/model/RollCall.java
  tests/karate/src/test/java/be/model/Transaction.java
  tests/karate/src/test/java/be/rollCall/closeRollCall.feature
  tests/karate/src/test/java/be/rollCall/createRollCall.feature
  tests/karate/src/test/java/be/rollCall/openRollCall.feature
  tests/karate/src/test/java/be/utils/GoServer.java
  tests/karate/src/test/java/be/utils/Hash.java
  tests/karate/src/test/java/be/utils/JsonConverter.java
  tests/karate/src/test/java/be/utils/JsonConverterTest.java
  tests/karate/src/test/java/be/utils/MockClient.java
  tests/karate/src/test/java/be/utils/RandomUtils.java
  tests/karate/src/test/java/be/utils/simpleScenarios.feature
  tests/karate/src/test/java/common/net/MultiMsgWebSocketClient.java
  tests/karate/src/test/java/common/utils/Base64Utils.java
  tests/karate/src/test/java/fe/utils/verification/ElectionVerification.java
  tests/karate/src/test/java/fe/utils/verification/MessageVerification.java
  tests/karate/src/test/java/fe/utils/verification/RollCallVerification.java
Labels: fe2-android, prod-ready

#1665 Welcome message on event screen
  fe1-web/src/features/events/components/EventLists.tsx
  fe1-web/src/features/events/components/__tests__/EventLists.test.tsx
  fe1-web/src/features/events/components/__tests__/__snapshots__/EventLists.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux, prod-ready

#1667 Handle social channel creation error for invalid pop_token
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
Labels: be2-scala, bug-fix

#1660 Block invalid poptoken
  fe1-web/src/core/objects/ScannablePopToken.ts
  fe1-web/src/core/objects/__tests__/ScannablePopToken.test.ts
  fe1-web/src/features/digital-cash/screens/SendReceive/SendReceive.tsx
  fe1-web/src/features/rollCall/components/RollCallOpen.tsx
  fe1-web/src/features/rollCall/screens/RollCallScanner.tsx
  fe1-web/src/features/rollCall/screens/__tests__/RollCallScanner.test.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, prod-ready, bug-fix

#1671 Fix nonce encoding
  fe1-web/src/features/popcha/network/PopchaMessageApi.ts
  fe1-web/src/features/popcha/network/__tests__/PopchaMessageApi.test.ts
  fe1-web/src/features/popcha/network/messages/PopchaAuthMsg.ts
Labels: fe1-web, popcha

#1672 Implement blacklist
  be1-go/hub/standard_hub/message_handling.go
  be1-go/hub/standard_hub/mod.go
Labels: be1-go, decentralized

#1666 Update documentation for popcha
  fe1-web/docs/README.md
  fe1-web/src/features/popcha/README.md
  fe1-web/src/features/popcha/network/PopchaMessageApi.ts
Labels: documentation, fe1-web, popcha

#1673 Update WitnessHandler processing of signatures
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/WitnessHandler.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/WitnessHandlerTest.scala
  docs/messageData.md
Labels: be2-scala, decentralized

#1610 bug fix karate testing
  be2-scala/src/main/resources/protocol/query/query.json
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidatorSuite.scala
  be2-scala/src/test/scala/util/examples/Election/CastVoteElectionExamples.scala
  be2-scala/src/test/scala/util/examples/Election/EndElectionExamples.scala
  be2-scala/src/test/scala/util/examples/Election/OpenElectionExamples.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
  be2-scala/src/test/scala/util/examples/Lao/GreetLaoExamples.scala
Labels: be2-scala

#1674 fixed response mode handling
  be1-go/popcha/server.go
  be1-go/popcha/server_test.go
Labels: be1-go, popcha

#1615 Add greet server logic
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/ConnectionMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/Monitor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/ClientActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Validator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/test/scala/ch/epfl/pop/IOHelper.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/ConnectionMediatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/ClientActorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/GetMessagesByIdResponseHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandlerSuite.scala
Labels: be2-scala, decentralized

#1678 nonce format fixed for JWT and internal server address changed
  be1-go/channel/authentication/mod.go
  be1-go/channel/authentication/mod_test.go
  be1-go/cli/mod.go
Labels: be1-go, popcha

#1648 Add backend documentation
  be2-scala/docs/README.md
  be2-scala/docs/images/be2-cleanup.drawio
  be2-scala/docs/images/be2-graph.png
  be2-scala/docs/images/be2-graph.svg
  be2-scala/docs/images/be2-simplified.png
  be2-scala/docs/images/be2-simplified.svg
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
Labels: documentation, be2-scala

#1649 Make popcha screen cleaner
  fe1-web/src/features/popcha/README.md
  fe1-web/src/features/popcha/components/PopchaScannerClosed.tsx
  fe1-web/src/features/popcha/components/PopchaScannerOpen.tsx
  fe1-web/src/features/popcha/functions/network.ts
  fe1-web/src/features/popcha/screens/PopchaScanner.tsx
  fe1-web/src/features/popcha/screens/__tests__/PopchaScanner.test.tsx
  fe1-web/src/features/popcha/screens/__tests__/__snapshots__/PopchaScanner.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, popcha

#1369 Ensure attendee list is sorted
  fe1-web/src/features/rollCall/network/RollCallMessageApi.ts
  fe1-web/src/features/rollCall/network/__tests__/RollCallMessageApi.test.ts
  fe1-web/src/features/rollCall/objects/RollCall.ts
  fe1-web/src/features/rollCall/objects/__tests__/RollCall.test.ts
  fe1-web/src/features/rollCall/screens/RollCallScanner.tsx
  fe1-web/src/features/rollCall/screens/__tests__/RollCallScanner.test.tsx
Labels: fe1-web, bug-fix
