Repository dedis/popstellar, pull requests merged in 2023-05, with the labels that each got.

#1502 Fix bug duplicates list of attendees when re-opening roll call
  fe1-web/src/features/rollCall/components/AttendeeList.tsx
  fe1-web/src/features/rollCall/screens/ViewSingleRollCall.tsx
  fe1-web/src/features/rollCall/screens/__tests__/ViewSingleRollCall.test.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, bug-fix

#1524 Solve QRCode not readable on roll call
  fe1-web/jest/setup.js
  fe1-web/src/core/components/QRCode.tsx
  fe1-web/src/core/components/__tests__/QrCode.test.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/QrCode.test.tsx.snap
  fe1-web/src/features/lao/components/__tests__/__snapshots__/LaoProperties.test.tsx.snap
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/InviteScreen.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletSingleRollCall.test.tsx.snap
Labels: fe1-web, bug-fix

#1529 Remove catchup and broadcasts between servers
  be1-go/channel/mod.go
  be1-go/cli/mod.go
  be1-go/hub/mod.go
  be1-go/hub/standard_hub/message_handling.go
  be1-go/hub/standard_hub/mod.go
  be1-go/hub/standard_hub/mod_test.go
  be1-go/network/server.go
Labels: be1-go, decentralized

#1522 Message validation for elections
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/DataRegistryModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/CastVote.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionEnd.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionKey.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionOpen.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionQuestion.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionResult.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionSetup.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/CreateLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/GreetLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/StateLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/UpdateLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/ElectionViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/MessageValidator.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ElectionHandler.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/Base64DataUtils.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/election/ElectionFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/election/ElectionSetupFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/witness/WitnessAddTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/CastVoteTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionEndTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionKeyTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionOpenTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionQuestionTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionResultTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionSetupTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/OpenElectionTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/lao/CreateLaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/lao/StateLaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/lao/UpdateLaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/MessageValidatorTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
Labels: fe2-android

#1532 Refactor Karate Part 1
  tests/karate/src/test/java/be/LAO/create.feature
  tests/karate/src/test/java/be/LAO/update.feature
  tests/karate/src/test/java/be/digitalCash/transaction.feature
  tests/karate/src/test/java/be/election/castVote.feature
  tests/karate/src/test/java/be/election/electionEnd.feature
  tests/karate/src/test/java/be/election/electionOpen.feature
  tests/karate/src/test/java/be/election/electionSetup.feature
  tests/karate/src/test/java/be/rollCall/closeRollCall.feature
  tests/karate/src/test/java/be/rollCall/createRollCall.feature
  tests/karate/src/test/java/be/rollCall/openRollCall.feature
  tests/karate/src/test/java/be/utils/simpleScenarios.feature
  tests/karate/src/test/java/common/net/MultiMsgWebSocketClient.java
  tests/karate/src/test/java/karate-config.js
Labels: prod-ready

#1530 Feature: connect components together for decentralized communications
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/ConnectionMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/ClientActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/AnswerGenerator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Validator.scala
Labels: be2-scala, decentralized

#1535 Fix performance issues
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/features/witness/network/WitnessStoreWatcher.ts
Labels: fe1-web, bug-fix

#1463 Add counter when scanning during roll call
  fe1-web/src/features/rollCall/screens/RollCallScanner.tsx
  fe1-web/src/features/rollCall/screens/__tests__/RollCallScanner.test.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/RollCallScanner.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: good first issue, fe1-web

#1525 Add basic http-get and authenticate request handlers
  be2-scala/build.sbt
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/authentication/Authenticate.scala
  be2-scala/src/main/scala/ch/epfl/pop/authentication/GetRequestHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/config/ServerConf.scala
  be2-scala/src/main/scala/ch/epfl/pop/config/application.conf
  be2-scala/src/test/scala/ch/epfl/pop/authentication/AuthenticateSuite.scala
Labels: be2-scala, popcha

#1552 Bug fixing
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/InviteFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/adapters/CastVoteViewPagerAdapter.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/MatcherUtils.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/InviteFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/election/CastVoteOpenBallotFragmentTest.java
Labels: fe2-android

#1551 Implement witnessing pt.1
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/CreateLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/ConnectingActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LaoCreateFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/QrFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/SettingsFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/wallet/SeedWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/witness/WitnessingViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/ScanningAction.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/Constants.java
  fe2-android/app/src/main/res/drawable/qr_code_button_icon_blue.xml
  fe2-android/app/src/main/res/layout/home_fragment.xml
  fe2-android/app/src/main/res/layout/lao_create_fragment.xml
  fe2-android/app/src/main/res/layout/qr_fragment.xml
  fe2-android/app/src/main/res/layout/witnesses_fragment.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/home/HomePageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/home/LaoCreatePageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/home/QrPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/LaoCreateFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/QrFragmentTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/lao/CreateLaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/remote/LAONetworkManagerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/MeetingHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/TransactionCoinHandlerTest.java
Labels: fe2-android, decentralized

#1538 RSA Key Pair for PopCHA JWT signature
  be1-go/crypto/README.md
  be1-go/crypto/popcha.rsa
  be1-go/crypto/popcha.rsa.pub
Labels: be1-go, popcha

#1554 Add server greet schema
  docs/messageData.md
  docs/protocol.md
  fe1-web/src/core/network/validation/schemas/querySchemas.ts
  protocol/examples/messageData/lao_greet/wrong_greeting_invalid_address_2.json
  protocol/examples/query/greet_server/greet_server.json
  protocol/examples/query/greet_server/wrong_greet_server_additional_params.json
  protocol/examples/query/greet_server/wrong_greet_server_additional_property.json
  protocol/examples/query/greet_server/wrong_greet_server_invalid_client_endpoint_address.json
  protocol/examples/query/greet_server/wrong_greet_server_invalid_server_endpoint_address.json
  protocol/examples/query/greet_server/wrong_greet_server_missing_client_endpoint.json
  protocol/examples/query/greet_server/wrong_greet_server_missing_public_key.json
  protocol/examples/query/greet_server/wrong_greet_server_missing_server_endpoint.json
  protocol/query/method/greet_server.json
  protocol/query/method/message/data/dataGreetLao.json
  protocol/query/query.json
  protocol/test/main.js
  protocol/test/main.test.js
Labels: proto-spec, decentralized

#1549 Add connection retries and config file for starting the server
  be1-go/.gitignore
  be1-go/README.md
  be1-go/cli/mod.go
  be1-go/cli/mod_test.go
  be1-go/cli/pop.go
  be1-go/cli/test_config_files/invalid_config_equal_client_server_ports.json
  be1-go/cli/test_config_files/valid_config.json
  be1-go/cli/test_config_files/valid_config_watcher.json
  be1-go/configServer1.json
  be1-go/configServer2.json
  be1-go/go.mod
  be1-go/go.sum
  be1-go/network/socket/socket.go
Labels: be1-go, decentralized

#1553 Add get messages_by_id_response verification pipeline
  .github/workflows/ci.yaml
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/Monitor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/MessageRegistry.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/GetMessagesByIdResponseHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsWithMapHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/package.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MeetingValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageDataContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/WitnessValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/GetMessagesByIdResponseHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidatorSuite.scala
  be2-scala/src/test/scala/util/examples/json/coin/post_transaction1.json
  be2-scala/src/test/scala/util/examples/json/coin/post_transaction2.json
  be2-scala/src/test/scala/util/examples/json/coin/post_transaction3.json
  be2-scala/src/test/scala/util/examples/json/coin/post_transaction4.json
  be2-scala/src/test/scala/util/examples/json/election/cast_vote1.json
  be2-scala/src/test/scala/util/examples/json/election/cast_vote2.json
  be2-scala/src/test/scala/util/examples/json/election/end_election.json
  be2-scala/src/test/scala/util/examples/json/election/open_election.json
  be2-scala/src/test/scala/util/examples/json/election/setup_election.json
  be2-scala/src/test/scala/util/examples/json/get_messages_by_id_answer.json
  be2-scala/src/test/scala/util/examples/json/get_messages_by_id_answer_with_wrong_messages.json
  be2-scala/src/test/scala/util/examples/json/lao/close_rollcall.json
  be2-scala/src/test/scala/util/examples/json/lao/create_lao.json
  be2-scala/src/test/scala/util/examples/json/lao/create_meeting.json
  be2-scala/src/test/scala/util/examples/json/lao/create_rollcall.json
  be2-scala/src/test/scala/util/examples/json/lao/greet_lao.json
  be2-scala/src/test/scala/util/examples/json/lao/open_rollcall.json
  be2-scala/src/test/scala/util/examples/json/lao/setup_election.json
  be2-scala/src/test/scala/util/examples/json/social/add_chirp1.json
  be2-scala/src/test/scala/util/examples/json/social/add_chirp2.json
  be2-scala/src/test/scala/util/examples/json/social/notify_add_chirp1.json
  be2-scala/src/test/scala/util/examples/json/social/notify_add_chirp2.json
  be2-scala/src/test/scala/util/examples/json/social/reactions/dislike_chirp1.json
  be2-scala/src/test/scala/util/examples/json/social/reactions/dislike_chirp2.json
  be2-scala/src/test/scala/util/examples/json/social/reactions/like_chirp1.json
  be2-scala/src/test/scala/util/examples/json/social/reactions/like_chirp2.json
Labels: be2-scala, decentralized

#1558 Add qrcode generation for popcha challenge in be2-scala
  be2-scala/build.sbt
  be2-scala/src/main/scala/ch/epfl/pop/authentication/Authenticate.scala
  be2-scala/src/main/scala/ch/epfl/pop/authentication/QRCodeChallengeGenerator.scala
  be2-scala/src/main/web/AuthenticationPageTemplate.html
  be2-scala/src/test/scala/ch/epfl/pop/authentication/QRCodeChallengeGeneratorSuite.scala
Labels: be2-scala, popcha

#1557 Display witness messages
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/WitnessMessage.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/ConnectingActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LaoCreateFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/witness/WitnessMessageListViewAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/ActivityUtils.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ElectionHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/MeetingHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/RollCallHandler.java
  fe2-android/app/src/main/res/layout/home_fragment.xml
  fe2-android/app/src/main/res/layout/witness_message_fragment.xml
  fe2-android/app/src/main/res/layout/witness_message_layout.xml
  fe2-android/app/src/main/res/layout/witnesses_fragment.xml
  fe2-android/app/src/main/res/layout/witnessing_fragment.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/main/res/values/styles.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/MatcherUtils.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/witness/WitnessMessageFragmentPageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/witness/WitnessingFragmentPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/witness/WitnessMessageFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/witness/WitnessMessageListViewAdapterTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/witness/WitnessingFragmentTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/WitnessMessageTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/MessageValidatorTest.java
Labels: fe2-android

#1555 Implement social media reactions
  fe2-android/app/build.gradle
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/DataRegistryModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Objects.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/CastVote.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionEnd.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionKey.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionOpen.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionSetup.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/GreetLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/StateLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/UpdateLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/meeting/CreateMeeting.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/meeting/StateMeeting.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/AddReaction.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/DeleteReaction.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Reaction.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/SocialMediaRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/MessageValidator.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/UnknownReactionException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ReactionHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/RollCallHandler.java
  fe2-android/app/src/main/res/drawable/ic_common_profile_foreground.xml
  fe2-android/app/src/main/res/drawable/ic_social_media_delete_foreground.xml
  fe2-android/app/src/main/res/drawable/ic_social_media_downvote.xml
  fe2-android/app/src/main/res/drawable/ic_social_media_downvote_selected.xml
  fe2-android/app/src/main/res/drawable/ic_social_media_following_foreground.xml
  fe2-android/app/src/main/res/drawable/ic_social_media_heart.xml
  fe2-android/app/src/main/res/drawable/ic_social_media_heart_selected.xml
  fe2-android/app/src/main/res/drawable/ic_social_media_search_foreground.xml
  fe2-android/app/src/main/res/drawable/ic_social_media_upvote.xml
  fe2-android/app/src/main/res/drawable/ic_social_media_upvote_selected.xml
  fe2-android/app/src/main/res/layout/chirp_card.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/di/DataRegistryModuleHelper.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapterTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/AddReactionTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/DeleteReactionTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/ReactionTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/SocialMediaRepositoryTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/MessageValidatorTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ReactionHandlerTest.java
Labels: enhancement, fe2-android

#1564 doc typo fix.
  docs/messageData.md
Labels: documentation

#1560 Refactoring of the auth server
  be1-go/popcha/server.go
  be1-go/popcha/server_test.go
Labels: be1-go, popcha

#1569 Remove the cash, and notifications from the fe1 home screen
  fe1-web/src/features/index.ts
Labels: fe1-web, prod-ready

#1559 Add greet server and peers to greet lao
  be1-go/README.md
  be1-go/channel/chirp/mod_test.go
  be1-go/channel/coin/mod_test.go
  be1-go/channel/consensus/mod_test.go
  be1-go/channel/election/mod_test.go
  be1-go/channel/generalChirping/mod_test.go
  be1-go/channel/lao/mod.go
  be1-go/channel/lao/mod_test.go
  be1-go/channel/lao/verification_test.go
  be1-go/channel/mod.go
  be1-go/channel/reaction/mod_test.go
  be1-go/cli/mod.go
  be1-go/cli/mod_test.go
  be1-go/cli/pop.go
  be1-go/cli/test_config_files/invalid_config_equal_client_server_ports.json
  be1-go/cli/test_config_files/valid_config.json
  be1-go/cli/test_config_files/valid_config_watcher.json
  be1-go/configServer1.json
  be1-go/configServer2.json
  be1-go/hub/mod.go
  be1-go/hub/standard_hub/message_handling.go
  be1-go/hub/standard_hub/mod.go
  be1-go/hub/standard_hub/mod_test.go
  be1-go/message/query/method/greet_server.go
  be1-go/message/query/query.go
  be1-go/message/test/query/method/greet_server_test.go
  be1-go/network/server_test.go
  be1-go/popcha/server_test.go
Labels: be1-go, decentralized

#1568 Fix witness signature checking and add pending signatures
  be1-go/channel/chirp/mod_test.go
  be1-go/channel/coin/mod_test.go
  be1-go/channel/consensus/mod_test.go
  be1-go/channel/election/mod_test.go
  be1-go/channel/generalChirping/mod_test.go
  be1-go/channel/lao/mod.go
  be1-go/channel/lao/mod_test.go
  be1-go/channel/mod.go
  be1-go/channel/reaction/mod_test.go
  be1-go/hub/standard_hub/mod.go
  be1-go/inbox/mod.go
  be1-go/inbox/mod_test.go
Labels: be1-go, decentralized

#1573 Fix expand arrow roll call
  fe1-web/src/features/rollCall/components/AttendeeList.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
Labels: fe1-web, bug-fix

#1578 Bug Fix social media validator #1509
  be2-scala/src/main/resources/protocol/query/query.json
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidator.scala
Labels: be2-scala, bug-fix

#1574 Handle witness signatures
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/DataRegistryModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/Copyable.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/view/LaoView.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/witness/WitnessMessageListViewAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/witness/WitnessingViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/InvalidWitnessingException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ElectionHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/MeetingHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/RollCallHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/WitnessingHandler.java
  fe2-android/app/src/main/res/layout/witness_message_layout.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/witness/WitnessMessageFragmentPageObject.java
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/di/DataRegistryModuleHelper.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/witness/WitnessMessageFragmentTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/LaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/WitnessingHandlerTest.java
Labels: fe2-android

#1571 Add persistence layers to the application #2
  fe2-android/app/schemas/com.github.dedis.popstellar.repository.database.AppDatabase/1.json
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/JsonModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Objects.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonElectionSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonRollCallSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Election.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/RollCall.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/ElectionRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/MessageRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/RollCallRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/AppDatabase.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/CustomTypeConverters.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/event/election/ElectionDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/event/election/ElectionEntity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/event/rollcall/RollCallDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/event/rollcall/RollCallEntity.java
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/di/DataRegistryModuleHelper.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/LaoCreateFragmentTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/JsonTestUtils.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusAcceptTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusElectAcceptTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusElectTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusFailureTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusPrepareTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusPromiseTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusProposeTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/digitalcash/TransactionTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/CastVoteTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionEndTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionKeyTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionOpenTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionQuestionTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionResultTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionSetupTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/lao/CreateLaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/lao/GreetLaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/lao/StateLaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/lao/UpdateLaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/CloseRollCallTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/CreateRollCallTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/OpenRollCallTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/AddChirpTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/DeleteChirpTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/NotifyAddChirpTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/NotifyDeleteChirpTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/TransactionObjectTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/WitnessMessageTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/ElectionRepositoryTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/CoreDatabaseTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/ElectionDatabaseTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/LAODatabaseTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/MessageDatabaseTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/RollCallDatabaseTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.java
Labels: fe2-android

#1519 Add server peers list
  .github/workflows/ci.yaml
  be2-scala/src/main/scala/ch/epfl/pop/config/RuntimeEnvironment.scala
  be2-scala/src/main/scala/ch/epfl/pop/config/server-peers-list.conf
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/test/scala/ch/epfl/pop/config/RuntimeEnvironmentSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/config/RuntimeEnvironmentTestingHelper.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/MessageDataProtocolSuite.scala
Labels: be2-scala, decentralized

#1570 Add config file watch service
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/ConnectionMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/Monitor.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/ConnectionMediatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/MonitorSuite.scala
Labels: be2-scala, decentralized

#1580 Refactoring Akka graph construction
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsWithMapHandler.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsWithMapHandlerSuite.scala
Labels: be2-scala

#1587 Add protocol copy dependency when running sbt assembly
  be2-scala/build.sbt
Labels: be2-scala

#1581 Fixed connections with multiple LAOs
  fe2-android/app/schemas/com.github.dedis.popstellar.repository.database.AppDatabase/2.json
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/AppDatabase.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/core/CoreDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/core/CoreEntity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/event/election/ElectionEntity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/event/rollcall/RollCallEntity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/lao/LAOEntity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/message/MessageEntity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/subscriptions/SubscriptionsDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/subscriptions/SubscriptionsEntity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/wallet/WalletDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/wallet/WalletEntity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/ConnectingActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/LaoActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/LaoViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/ActivityUtils.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/LaoActivityTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/CoreDatabaseTest.java
Labels: fe2-android

#1575 Add persistence layers to the application #3
  fe2-android/app/schemas/com.github.dedis.popstellar.repository.database.AppDatabase/2.json
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/JsonModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Objects.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/JsonRollCallSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/base64/JsonBase64DataSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/data/JsonDataSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/data/JsonVoteSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/database/JsonElectionSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/database/JsonLaoSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/database/JsonTransactionObjectSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/network/JSONRPCRequest.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/network/JsonAnswerSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/network/JsonChannelSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/network/JsonGenericMessageDeserializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/network/JsonMessageGeneralSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/network/JsonMessageSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/serializer/network/JsonResultSerializer.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Chirp.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Meeting.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Reaction.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/DigitalCashRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/ElectionRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/MeetingRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/RollCallRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/SocialMediaRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/AppDatabase.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/CustomTypeConverters.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/digitalcash/HashDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/digitalcash/HashEntity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/digitalcash/TransactionDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/digitalcash/TransactionEntity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/event/meeting/MeetingDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/event/meeting/MeetingEntity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/event/rollcall/RollCallDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/socialmedia/ChirpDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/socialmedia/ChirpEntity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/socialmedia/ReactionDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/socialmedia/ReactionEntity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaViewModel.java
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/di/DataRegistryModuleHelper.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapterTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/qrcode/MainPublicKeyDataTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/qrcode/PopTokenDataTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/DigitalCashRepositoryTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/ElectionRepositoryTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/MeetingRepositoryTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/SocialMediaRepositoryTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/DigitalCashDatabaseTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/MeetingDatabaseTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/SocialMediaDatabaseTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/MeetingHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/TransactionCoinHandlerTest.java
Labels: fe2-android

#1588 server.go and server_test.go refactor
  be1-go/popcha/server.go
  be1-go/popcha/server_test.go
Labels: be1-go, popcha

#1583 add greetServer high level support
  be2-scala/src/main/resources/protocol/query/query.json
  be2-scala/src/main/scala/ch/epfl/pop/json/HighLevelProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/MethodType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/GreetServer.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/HighLevelProtocolSuite.scala
  be2-scala/src/test/scala/util/examples/Lao/GreetLaoExamples.scala
Labels: be2-scala

#1594 Fix the catchup on election results issue
  be1-go/channel/election/mod.go
  be1-go/inbox/mod.go
Labels: be1-go, bug-fix

#1599 Fixing issue #1597
  be1-go/popcha/server_test.go
Labels: be1-go, bug-fix, popcha

#1607 Fixed social media reaction bugs
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Reaction.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/MessageValidator.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapterTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/socialmedia/AddReactionTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/MessageValidatorTest.java
Labels: fe2-android, bug-fix

#1586 new message data for authentication message.
  be1-go/message/messagedata/authenticate_user.go
  be1-go/message/messagedata/mod.go
  be1-go/message/test/messagedata/authenticate_user_test.go
  protocol/examples/messageData/popcha_authenticate/popcha_authenticate.json
  protocol/examples/messageData/popcha_authenticate/popcha_authenticate_wrong_identifier.json
  protocol/examples/messageData/popcha_authenticate/popcha_authenticate_wrong_proof.json
  protocol/query/method/message/data/data.json
  protocol/query/method/message/data/dataAuthenticateUser.json
  protocol/test/main.js
Labels: be1-go, popcha

#1613 Extended multi connection to multiple greet laos
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/MultiConnection.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/remote/ConnectionTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/remote/LAONetworkManagerTest.java
Labels: fe2-android, decentralized

#1577 Fix long chirps being cut off scren
  fe1-web/src/App.tsx
  fe1-web/src/core/platform/cssStyle/WordBreakPolyfill.native.ts
  fe1-web/src/core/platform/cssStyle/WordBreakPolyfill.ts
  fe1-web/src/features/social/components/ChirpCard.tsx
Labels: bug, fe1-web

#1611 Fix CI tests and general concurrency issues + avoid spam of lao connecting
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/MessageGeneral.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/DigitalCashRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/ElectionRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/MeetingRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/MessageRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/RollCallRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/SocialMediaRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/digitalcash/HashDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/event/election/ElectionDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/event/meeting/MeetingDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/event/rollcall/RollCallDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/socialmedia/ChirpDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/database/socialmedia/ReactionDao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/LaoCreateFragmentTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/DigitalCashDatabaseTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/ElectionDatabaseTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/MeetingDatabaseTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/RollCallDatabaseTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/SocialMediaDatabaseTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ChirpHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/LaoHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/MeetingHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ReactionHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/TransactionCoinHandlerTest.java
Labels: fe2-android, bug-fix

#1548 Add election result validator
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidatorSuite.scala
  be2-scala/src/test/scala/util/examples/Election/ResultElectionExamples.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
Labels: be2-scala
