Repository dedis/popstellar, pull requests merged in 2023-04, with the labels that each got.

#1473 Bug fixing + number of attendees displayed
  fe2-android/app/src/main/AndroidManifest.xml
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/InviteFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashReceiveFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/token/TokenFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/ActivityUtils.java
  fe2-android/app/src/main/res/drawable/ic_vote.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/digitalcash/SendPageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/event/rollcall/RollCallFragmentPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/ConnectingActivityTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/HomeActivityTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashActivityTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaHomeFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaProfileFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/token/TokenFragmentTest.java
Labels: bug, fe2-android

#1486 Back navigation on transactions history
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/GlobalNetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/LaoActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashHistoryFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashReceiptFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/res/layout/roll_call_fragment.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/digitalcash/DigitalCashPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashActivityTest.java
Labels: fe2-android

#1487 Error handling
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/ElectionViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/fragments/ElectionFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/res/layout/election_setup_question_layout.xml
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/election/ElectionFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragmentTest.java
Labels: fe2-android

#1481 Prefix db keys
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DiskStorage.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/Storage.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DiskStorageSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/InMemoryStorage.scala
Labels: be2-scala

#1492 Redefine sendResult method
  be1-go/channel/chirp/mod_test.go
  be1-go/channel/coin/mod_test.go
  be1-go/channel/consensus/mod_test.go
  be1-go/channel/election/mod_test.go
  be1-go/channel/generalChirping/mod_test.go
  be1-go/channel/lao/mod_test.go
  be1-go/channel/reaction/mod_test.go
  be1-go/docs/README.md
  be1-go/hub/standard_hub/mod.go
  be1-go/hub/standard_hub/mod_test.go
  be1-go/message/answer/answer.go
  be1-go/network/socket/mod.go
  be1-go/network/socket/socket.go
  be1-go/network/socket/socket_test.go
Labels: be1-go

#1491 Increase handler test coverage
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/PendingUpdate.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ElectionHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.java
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/di/DataRegistryModuleHelper.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/PendingUpdateTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/LaoHandlerTest.java
Labels: fe2-android

#1493 Connection to multiple servers
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/GreetLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/Connection.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/ConnectionFactory.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/GlobalNetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/MessageSender.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/MultiConnection.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/qrcode/MainPublicKeyDataTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/qrcode/PopTokenDataTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/remote/GlobalNetworkManagerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/remote/LAONetworkManagerTest.java
Labels: fe2-android, network

#1494 Refactoring (general + hardcoded strings removed)
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/KeysetModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/Method.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/MessageGeneral.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Objects.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/CreateLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/GreetLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/UpdateLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/meeting/CreateMeeting.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/CloseRollCall.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/CreateRollCall.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/OpenRollCall.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Channel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Chirp.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/ElectInstance.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Election.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Wallet.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/Base64URLData.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/KeyPair.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/qrcode/MainPublicKeyData.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/qrcode/PopTokenData.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/DigitalCashRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/local/PersistentData.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/wallet/SeedWalletFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/LaoViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/MainMenuTab.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashReceiptFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/AbstractEventCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/ElectionViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/adapters/CastVoteViewPagerAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/adapters/ElectionResultListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/adapters/ElectionResultPagerAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/adapters/ElectionSetupViewPagerAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/fragments/CastVoteFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/eventlist/EventListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/eventlist/EventsAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaTab.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/witness/WitnessMessageListViewAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/witness/WitnessingViewModel.java
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/emulator/java/com/github/dedis/popstellar/di/TestKeysetModule.java
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/di/TestKeysetModule.java
Labels: fe2-android

#1495 Encrypted votes to non-UI thread
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/KeysetModule.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/ElectionViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/fragments/CastVoteFragment.java
  fe2-android/app/src/main/res/layout/cast_vote_fragment.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/event/election/CastVoteFragmentPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/election/CastVoteOpenBallotFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/election/CastVoteSecretBallotFragmentTest.java
Labels: fe2-android

#1504 No more Warnings from wrong processing of messages
  fe1-web/src/__tests__/utils/TestUtils.ts
  fe1-web/src/core/components/QRCode.tsx
  fe1-web/src/features/witness/network/WitnessStoreWatcher.ts
  fe1-web/src/features/witness/network/__tests__/WitnessStoreWatcher.test.ts
Labels: fe1-web, bug-fix

#1485 Message validation (Part 1)
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/CreateLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/GreetLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/StateLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/lao/UpdateLao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/MessageValidator.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionResultTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/lao/CreateLaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/lao/GreetLaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/lao/StateLaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/lao/UpdateLaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/CreateRollCallTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/MessageValidatorTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/LaoHandlerTest.java
Labels: fe2-android

#1505 Added description and location to the RollCall UI
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/CreateRollCall.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/event/RollCallBuilder.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/Constants.java
  fe2-android/app/src/main/res/layout/event_header_layout.xml
  fe2-android/app/src/main/res/layout/event_layout.xml
  fe2-android/app/src/main/res/layout/event_list_fragment.xml
  fe2-android/app/src/main/res/layout/history_transaction_layout.xml
  fe2-android/app/src/main/res/layout/roll_call_fragment.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/event/rollcall/RollCallFragmentPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragmentTest.java
Labels: fe2-android

#1484 PoPCHA HTTP auth server with in-memory storage
  be1-go/go.mod
  be1-go/go.sum
  be1-go/popcha/qrcode/popcha.html
  be1-go/popcha/server.go
  be1-go/popcha/server_test.go
Labels: be1-go

#1507 Fix starting server documentation
  be1-go/README.md
Labels: be1-go

#1500 Add Monitor actor
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/Monitor.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/MonitorSuite.scala
Labels: be2-scala

#1501 Add server and client specific path
  be2-scala/README.md
  be2-scala/docs/README.md
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/config/ServerConf.scala
  be2-scala/src/main/scala/ch/epfl/pop/config/application.conf
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  tests/karate/src/test/java/karate-config.js
Labels: be2-scala

#1503 Add ConnectionMediator
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/ConnectionMediator.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/ConnectionMediatorSuite.scala
Labels: be2-scala

#1488 Add ParamsWithMapHandler
  be2-scala/src/main/scala/ch/epfl/pop/model/network/ResultObject.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsWithMapHandler.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/ToyDbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/ResultObjectSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsWithMapHandlerSuite.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
  be2-scala/src/test/scala/util/examples/Lao/GreetLaoExamples.scala
Labels: be2-scala

#1510 Karate tests for decentralized communication
  tests/karate/src/test/java/be/LAO/create.feature
  tests/karate/src/test/java/be/LAO/update.feature
  tests/karate/src/test/java/be/digitalCash/transaction.feature
  tests/karate/src/test/java/be/election/electionOpen.feature
  tests/karate/src/test/java/be/election/electionSetup.feature
  tests/karate/src/test/java/be/heartbeat/heartbeat.feature
  tests/karate/src/test/java/be/rollCall/closeRollCall.feature
  tests/karate/src/test/java/be/rollCall/createRollCall.feature
  tests/karate/src/test/java/be/rollCall/openRollCall.feature
  tests/karate/src/test/java/be/utils/GoServer.java
  tests/karate/src/test/java/be/utils/server.feature
  tests/karate/src/test/java/common/net/MultiMsgWebSocketClient.java
  tests/karate/src/test/java/karate-config.js
Labels: decentralized

#1479 Implementing Heartbeat and GetMessagesById methods
  be1-go/go.mod
  be1-go/go.sum
  be1-go/hub/standard_hub/message_handling.go
  be1-go/hub/standard_hub/mod.go
  be1-go/hub/standard_hub/mod_test.go
  be1-go/message/query/method/get_messages_by_id.go
  be1-go/message/query/method/heartbeat.go
  be1-go/message/query/query.go
  be1-go/message/test/query/method/get_messages_by_id_test.go
  be1-go/message/test/query/method/heartbeat_test.go
Labels: be1-go

#1512 Add get_message_by_id answer support
  be2-scala/src/main/scala/ch/epfl/pop/json/HighLevelProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/SchemaVerifier.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/HighLevelProtocolSuite.scala
Labels: be2-scala

#1506 Handle incoming message reprocessing for unrecoverable failures
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/remote/LAONetworkManagerTest.java
Labels: fe2-android

#1514 add heartbeat generator.
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/HeartbeatGenerator.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/FailingToyDbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/HeartbeatGeneratorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
Labels: be2-scala

#1499 First part of the example server
  .github/CODEOWNERS
  demo/popcha-client/web/authentication.py
  demo/popcha-client/web/data/config.json
  demo/popcha-client/web/data/providers.json
  demo/popcha-client/web/main.py
  demo/popcha-client/web/model/index.html
  demo/popcha-client/web/requirements.txt
Labels: popcha

#1456 Election: avoid space question
  fe1-web/src/core/components/BackButton.tsx
  fe1-web/src/core/components/ButtonPadding.tsx
  fe1-web/src/core/components/DrawerMenuButton.tsx
  fe1-web/src/core/components/RemovableTextInput.tsx
  fe1-web/src/core/components/TextInputList.tsx
  fe1-web/src/core/components/__tests__/TextInputList.test.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/TextInputList.test.tsx.snap
  fe1-web/src/core/navigation/ScreenOptions.ts
  fe1-web/src/features/evoting/objects/Question.ts
  fe1-web/src/features/evoting/reducer/ElectionReducer.ts
  fe1-web/src/features/evoting/reducer/__tests__/ElectionReducer.test.ts
  fe1-web/src/features/evoting/screens/CreateElection.tsx
  fe1-web/src/features/evoting/screens/__tests__/CreateElection.test.tsx
  fe1-web/src/features/evoting/screens/__tests__/__snapshots__/CreateElection.test.tsx.snap
  fe1-web/src/features/home/navigation/HomeNavigation.tsx
  fe1-web/src/features/lao/navigation/LaoNavigation.tsx
  fe1-web/src/features/lao/screens/EventsScreen.tsx
  fe1-web/src/features/wallet/navigation/WalletNavigation.tsx
  fe1-web/src/resources/strings.ts
Labels: bug, fe1-web

#1520 add getMessagesById reponses handler
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/GetMessagesByIdResponseHandler.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/GetMessagesByIdResponseHandlerSuite.scala
Labels: be2-scala
