Repository dedis/popstellar, pull requests merged in 2023-01, with the labels that each got.

#1284 Improve karate's tests reliability and project's README
  .github/workflows/karate_be1-go.yaml
  .github/workflows/karate_be2-scala.yaml
  README.md
  tests/karate/src/test/java/be/constants.feature
  tests/karate/src/test/java/be/digitalCash/transaction.feature
  tests/karate/src/test/java/be/utils/simpleScenarios.feature
  tests/karate/src/test/java/common/utils/Reporting.java
Labels: prod-ready

#1322 Decoupling of Digital Cash from LAO object into a separate Repository
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/DataRegistry.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/OutputObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/digitalcash/TransactionObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/view/LaoView.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/DigitalCashRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashHistoryFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashIssueFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashReceiveFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/HistoryListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/MessageHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/DataHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/RollCallHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/TransactionCoinHandler.java
  fe2-android/app/src/main/res/layout/digital_cash_receive_fragment.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/ObservableUtils.java
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/di/DataRegistryModuleHelper.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/digitalcash/DigitalCashActivityTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/LaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/TransactionObjectTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/DigitalCashRepositoryTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/SocialMediaRepositoryTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/LaoHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/TransactionCoinHandlerTest.java
Labels: fe2-android

#1326 Make Election object immutable
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionEncryptedVote.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionResultQuestion.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Election.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/view/LaoView.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/InvalidChannelException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/InvalidStateException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ElectionHandler.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/ElectionQuestionResultTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/ElectionTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/LaoTest.java
Labels: fe2-android

#1327 Election decoupling from the Lao object
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/DataRegistry.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionQuestion.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionResultQuestion.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionSetup.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Election.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Lao.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/digitalcash/TransactionObject.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/view/LaoView.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/ElectionRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/LAORepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/remote/LAONetworkManager.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/EventListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/adapters/ElectionResultPagerAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/election/fragments/ElectionSetupFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/InvalidChannelException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/UnknownElectionException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/MessageHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/DataHandler.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ElectionHandler.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/ObservableUtils.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/fragment/FragmentScenario.java
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/di/DataRegistryModuleHelper.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/election/CastVoteFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/election/ElectionFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/election/ElectionResultFragmentTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/ElectionQuestionResultTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionQuestionTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionResultTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionSetupTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/ElectionTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/LaoTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/ElectionRepositoryTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/LaoHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/TransactionCoinHandlerTest.java
Labels: fe2-android

#1339 Fix small bugs found on the android front-end
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/QRCodeScanningFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/MessageHandler.java
Labels: fe2-android, bug-fix

#1341 Refactor the event list data usage
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/ElectionRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/EventRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/RollCallRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/EventListAdapter.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/UnknownElectionException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/UnknownEventException.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/UnknownRollCallException.java
  fe2-android/app/src/test/ui/emulator/com/github/dedis/popstellar/ui/ElectionResultFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/EventListAdapterTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/LaoDetailFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/consensus/ElectionStartFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/election/CastVoteFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/event/rollcall/RollCallFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/token/TokenFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/detail/token/TokenListFragmentTest.java
Labels: fe2-android

#1344 Attempt to simplify the event repositories
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/ElectionRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/EventRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/RollCallRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/detail/LaoDetailViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/digitalcash/DigitalCashViewModel.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/digitalcash/DigitalCashActivityTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/ElectionRepositoryTest.java
Labels: fe2-android

#1346 Remove unused resources
  fe2-android/app/src/main/res/drawable/check_mark.xml
  fe2-android/app/src/main/res/drawable/ic_baseline_add_24.xml
  fe2-android/app/src/main/res/drawable/ic_baseline_delete_24.xml
  fe2-android/app/src/main/res/drawable/ic_baseline_edit_24.xml
  fe2-android/app/src/main/res/drawable/ic_common_social_media_disabled.xml
  fe2-android/app/src/main/res/drawable/ic_copy_content.xml
  fe2-android/app/src/main/res/drawable/ic_home_connect_disabled.xml
  fe2-android/app/src/main/res/drawable/ic_home_connect_enabled.xml
  fe2-android/app/src/main/res/drawable/ic_home_launch_disabled.xml
  fe2-android/app/src/main/res/drawable/ic_home_launch_enabled.xml
  fe2-android/app/src/main/res/drawable/ic_home_wallet_foreground.xml
  fe2-android/app/src/main/res/drawable/ic_qr_code.xml
  fe2-android/app/src/main/res/drawable/ic_social_media_laos_foreground.xml
  fe2-android/app/src/main/res/mipmap-hdpi/ic_social_media_delete.png
  fe2-android/app/src/main/res/mipmap-hdpi/ic_social_media_delete_round.png
  fe2-android/app/src/main/res/mipmap-hdpi/ic_social_media_home.png
  fe2-android/app/src/main/res/mipmap-hdpi/ic_social_media_home_round.png
  fe2-android/app/src/main/res/mipmap-hdpi/ic_social_media_laos.png
  fe2-android/app/src/main/res/mipmap-hdpi/ic_social_media_laos_round.png
  fe2-android/app/src/main/res/mipmap-hdpi/ic_social_media_send.png
  fe2-android/app/src/main/res/mipmap-hdpi/ic_social_media_send_round.png
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
Labels: fe2-android

#1348 Adds a deploy action and some build info
  .github/workflows/deploy.yaml
  fe1-web/app.config.js
  fe1-web/src/App.tsx
  fe1-web/src/core/components/BuildInfo.tsx
  fe1-web/src/core/components/__tests__/BuildInfo.test.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/BuildInfo.test.tsx.snap
  fe1-web/src/core/components/index.ts
  fe1-web/src/core/styles/typography.ts
  fe1-web/src/features/lao/navigation/LaoNavigation.tsx
  fe1-web/src/features/lao/navigation/__tests__/__snapshots__/LaoNavigation.test.tsx.snap
Labels: enhancement, fe1-web, ci/cd

#1349 Add drawer divider for disconnect
  fe2-android/app/src/main/res/menu/main_menu.xml
Labels: fe2-android

#1329 Fix issue where re-opened roll calls appear in past section rather than current
  fe1-web/src/features/rollCall/network/RollCallHandler.ts
  fe1-web/src/features/rollCall/network/__tests__/RollCallHandler.test.ts
Labels: fe1-web, ux

#1336 Change how sender is displayed in chirps
  fe1-web/src/features/social/components/ChirpCard.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialTopChirps.test.tsx.snap
Labels: fe1-web, ux

#1330 Move modal content of roll call screens in the wallet to main screen
  fe1-web/src/features/digital-cash/screens/SendReceive/SendReceive.tsx
  fe1-web/src/features/wallet/navigation/WalletNavigation.tsx
  fe1-web/src/features/wallet/screens/WalletSingleRollCall.tsx
  fe1-web/src/features/wallet/screens/__tests__/WalletSingleRollCall.test.tsx
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletSingleRollCall.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux

#1333 Make social media navigation more intuitive
  fe1-web/src/core/components/PoPTouchableOpacity.tsx
  fe1-web/src/core/navigation/typing/social/SocialHomeParamList.ts
  fe1-web/src/core/navigation/typing/social/SocialParamList.ts
  fe1-web/src/core/navigation/typing/social/SocialProfileParamList.ts
  fe1-web/src/core/navigation/typing/social/SocialSearchParamList.ts
  fe1-web/src/core/navigation/typing/social/SocialTopChirpsParamList.ts
  fe1-web/src/core/navigation/typing/social/index.ts
  fe1-web/src/features/social/components/ChirpCard.tsx
  fe1-web/src/features/social/components/NewChirp.tsx
  fe1-web/src/features/social/components/TextInputChirp.tsx
  fe1-web/src/features/social/components/UserListItem.tsx
  fe1-web/src/features/social/components/__tests__/NewChirp.test.tsx
  fe1-web/src/features/social/components/__tests__/UserListItem.test.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/NewChirp.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/TextInputChirp.test.tsx.snap
  fe1-web/src/features/social/navigation/SocialHomeNavigation.tsx
  fe1-web/src/features/social/navigation/SocialMediaNavigation.tsx
  fe1-web/src/features/social/navigation/SocialProfileNavigation.tsx
  fe1-web/src/features/social/navigation/SocialSearchNavigation.tsx
  fe1-web/src/features/social/navigation/SocialTopChirpsNavigation.tsx
  fe1-web/src/features/social/screens/SocialHome.tsx
  fe1-web/src/features/social/screens/SocialUserProfile.tsx
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialHome.test.tsx.snap
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialNewChirp.test.tsx.snap
  fe1-web/src/features/social/screens/index.ts
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux

#1297 Refactor LaoHandler
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
Labels: be2-scala

#1351 Adds build info and automatic deployment
  .github/workflows/deploy.yaml
  .gitignore
  be1-go/Makefile
  be1-go/mod.go
  be1-go/network/server.go
  be1-go/network/server_test.go
Labels: enhancement, be1-go, ci/cd

#1352 Adds automatic deployment for scala
  .github/workflows/deploy.yaml
  be2-scala/README.md
Labels: enhancement, be2-scala, ci/cd

#1279 Refactor WitnessHandler file
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/WitnessHandler.scala
Labels: be2-scala
