Repository dedis/popstellar, pull requests merged in 2023-03, with the labels that each got.

#1414 Fix the opening of a roll call when another one is opened
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/RollCall.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/RollCallRepository.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/error/DoubleOpenedRollCallException.java
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragmentTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.java
Labels: fe2-android

#1419 Fixing the out-of-order processing for Deleting reactions
  be1-go/channel/reaction/mod.go
  be1-go/channel/reaction/mod_test.go
Labels: good first issue, be1-go, go

#1416 Fixed UI elements appearing white in dark mode
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/ConnectingActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/LaoActivity.java
Labels: fe2-android

#1395 Show only user's transactions in digital cash's transactions history
  fe1-web/src/features/digital-cash/components/TransactionHistory.tsx
  fe1-web/src/features/digital-cash/components/__tests__/TransactionHistory.test.tsx
  fe1-web/src/features/digital-cash/hooks/DigitalCashHooks.ts
  fe1-web/src/features/digital-cash/network/DigitalCashMessageApi.ts
  fe1-web/src/features/digital-cash/network/__tests__/DigitalCashMessageApi.test.tsx
  fe1-web/src/features/digital-cash/reducer/DigitalCashReducer.ts
  fe1-web/src/features/digital-cash/reducer/__tests__/DigitalCashReducer.test.ts
  fe1-web/src/features/digital-cash/screens/DigitalCashWallet.tsx
  fe1-web/src/features/digital-cash/store/DigitalCashStore.ts
  fe1-web/src/features/digital-cash/store/__tests__/DigitalCashStore.test.tsx
Labels: fe1-web

#1411 Resolved IntelliJ missing protocol folder copy
  be2-scala/README.md
  be2-scala/build.sbt
Labels: be2-scala

#1425 Prevent the user to submit an election with duplicated questions names
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/adapters/ElectionSetupViewPagerAdapter.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/election/ElectionSetupFragmentTest.java
Labels: fe2-android, e-voting

#1418 Addresses #1380 by disallowing multiple questions with the same ID in the election protocol
  be1-go/channel/election/mod.go
  be1-go/channel/election/mod_test.go
  be1-go/go.mod
  be1-go/go.sum
  docs/messageData.md
  protocol/examples/messageData/election_setup/bad_election_setup_question_identical_id.json
  protocol/query/method/message/data/dataSetupElection.json
  protocol/test/main.test.js
Labels: good first issue, be1-go

#1421 Adds monospace fonts for key id
  fe1-web/src/core/components/AutocompleteInput.tsx
  fe1-web/src/core/components/Input.tsx
  fe1-web/src/core/components/ScannerInput.tsx
  fe1-web/src/features/digital-cash/components/TransactionHistory.tsx
  fe1-web/src/features/digital-cash/screens/DigitalCashWallet.tsx
  fe1-web/src/features/digital-cash/screens/SendReceive/SendReceive.tsx
  fe1-web/src/features/digital-cash/screens/SendReceive/__tests__/__snapshots__/SendReceive.test.tsx.snap
  fe1-web/src/features/digital-cash/screens/__tests__/__snapshots__/DigitalCashWallet.test.tsx.snap
  fe1-web/src/features/lao/components/LaoProperties.tsx
  fe1-web/src/features/lao/components/__tests__/__snapshots__/LaoProperties.test.tsx.snap
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/InviteScreen.test.tsx.snap
  fe1-web/src/features/rollCall/components/AttendeeList.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/features/social/components/ChirpCard.tsx
  fe1-web/src/features/social/components/Profile.tsx
  fe1-web/src/features/social/components/UserListItem.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/Profile.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/UserListItem.test.tsx.snap
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialTopChirps.test.tsx.snap
  fe1-web/src/features/wallet/screens/WalletSingleRollCall.tsx
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletSingleRollCall.test.tsx.snap
Labels: fe1-web, ux

#1432 Replace three dots by trash can in socal media feature #1409
  fe1-web/src/features/social/components/ChirpCard.tsx
  fe1-web/src/features/social/components/__tests__/ChirpCard.test.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux

#1420 Refactor LaoValidator
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageDataContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
Labels: good first issue, be2-scala

#1431 Roll call UI modified - list of attendees added
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallViewModel.java
  fe2-android/app/src/main/res/layout/roll_call_fragment.xml
  fe2-android/app/src/main/res/values/dimens.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/event/rollcall/RollCallFragmentPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragmentTest.java
Labels: fe2-android

#1440 Fix issue #1295
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Hash.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/HashSuite.scala
Labels: bug, be2-scala

#1444 SocialMediaValidator refactoring
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/socialMedia/AddChirp.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageDataContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/message/data/socialMedia/AddChirpSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidatorSuite.scala
Labels: be2-scala

#1443 Refactor Witness Validator
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/WitnessValidator.scala
Labels: good first issue, be2-scala

#1429 CoinValidator Refactoring
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/CoinValidator.scala
Labels: be2-scala

#1464 Fix APK deploy
  .github/workflows/deploy.yaml
Labels: ci/cd

#1453 Add new Hash test for emoji.
  fe1-web/src/core/objects/__tests__/Hash.test.ts
Labels: fe1-web

#1458 Added hash tests for emoji
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/security/HashTest.java
Labels: fe2-android

#1459 Change extractLaoId behavior
  be2-scala/src/main/scala/ch/epfl/pop/model/network/JsonRpcRequest.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/JsonRpcRequestSuite.scala
Labels: be2-scala

#1461 Refactoring of ElectionValidator
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidator.scala
Labels: be2-scala

#1457 Adding unit test for hash (including with emojis)
  be1-go/message/test/messagedata/mod_test.go
Labels: be1-go

#1452 Improved the back navigation
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/consensus/ConsensusElect.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Channel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/InviteFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/LaoActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashHistoryFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashIssueFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashReceiptFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashReceiveFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/UpcomingEventsFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/fragments/CastVoteFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/fragments/ElectionFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/fragments/ElectionResultFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/election/fragments/ElectionSetupFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallCreationFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaFollowingFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaProfileFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaSearchFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaSendFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/token/TokenListFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/witness/WitnessingFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/ActivityUtils.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/socialmedia/SocialMediaFollowingPageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/socialmedia/SocialMediaHomePageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/socialmedia/SocialMediaProfilePageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/socialmedia/SocialMediaSearchPageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/witness/WitnessingFragmentPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaFollowingFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaHomeFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaProfileFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaSearchFragmentTest.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/witness/WitnessingFragmentTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/OutputObjectTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/ScriptOutputObjectTest.java
Labels: fe2-android

#1460 Social - make chirp like/dislike exclusive
  fe1-web/src/features/social/__tests__/utils.ts
  fe1-web/src/features/social/components/ChirpCard.tsx
  fe1-web/src/features/social/components/__tests__/ChirpCard.test.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/src/features/social/reducer/__tests__/SocialReducer.test.ts
Labels: good first issue, fe1-web

#1471 Add new json files references in fe1
  fe1-web/src/core/network/validation/schemas/answerSchemas.ts
  fe1-web/src/core/network/validation/schemas/querySchemas.ts
Labels: fe1-web

#1436 Add overlay texts to all QRCodes
  fe1-web/src/core/components/QRCode.tsx
  fe1-web/src/features/digital-cash/screens/SendReceive/SendReceive.tsx
  fe1-web/src/features/lao/components/__tests__/__snapshots__/LaoProperties.test.tsx.snap
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/InviteScreen.test.tsx.snap
  fe1-web/src/features/rollCall/components/RollCallOpen.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/features/wallet/screens/WalletSingleRollCall.tsx
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletSingleRollCall.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: fe1-web, ux

#1454 Fix Left/Right scala pipe convention for the GraphMessage type
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PubSubMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/AnswerGenerator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Answerer.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Handler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/MessageDecoder.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/SchemaVerifier.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Validator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/CoinHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MeetingHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/WitnessHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/package.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/CoinValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MeetingValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageDataContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ParamsValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/RpcValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/WitnessValidator.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/MessageRegistrySuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/AnswerGeneratorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/CoinHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandlerTest.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandlerTest.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/WitnessHandlerTest.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/CoinValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/Lao/CreateLaoContentSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/Lao/CreateLaoDecoderSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/LaoValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/MeetingValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/SchemaVerifierSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/WitnessValidatorSuite.scala
Labels: be2-scala

#1480 Modifying the makefile of the go backend to disable CGO:
  be1-go/Makefile
Labels: be1-go, ci/cd

#1445 Change of RollCallData and ElectionData channel paths.
  be2-scala/docs/README.md
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandlerTest.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
Labels: proto-spec, be2-scala
