Repository dedis/popstellar, pull requests merged in 2023-11, with the labels that each got.

#1705 Disabled witnessing for fe2
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/witness/WitnessingFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/witness/WitnessingViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.java
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/LaoHandlerTest.java
Labels: fe2-android, decentralized

#1694 Improve hub locking
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/karate_be1-go.yaml
  be1-go/.gitignore
  be1-go/channel/lao/mod.go
  be1-go/configServer2.json
  be1-go/go.mod
  be1-go/go.sum
  be1-go/hub/standard_hub/hub_state/Channels.go
  be1-go/hub/standard_hub/hub_state/MessageIds.go
  be1-go/hub/standard_hub/hub_state/Peers.go
  be1-go/hub/standard_hub/hub_state/Queries.go
  be1-go/hub/standard_hub/hub_state/ThreadSafeMap.go
  be1-go/hub/standard_hub/message_handling.go
  be1-go/hub/standard_hub/mod.go
  be1-go/hub/standard_hub/mod_test.go
  be1-go/inbox/mod.go
Labels: be1-go, decentralized

#1710 Added automatic signature mechanism for organiser
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/ConnectingActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/LaoCreateFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/SettingsFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/LaoActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/witness/WitnessingViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/Constants.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.java
  fe2-android/app/src/main/res/layout/lao_create_fragment.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/home/LaoCreatePageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/scanning/QrScanningPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/LaoCreateFragmentTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ConsensusHandlerTest.java
Labels: fe2-android, decentralized

#1700 Popcha on FE2
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Action.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Objects.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/popcha/PoPCHAAuthentication.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/AuthToken.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/Base64URLData.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/qrcode/PoPCHAQRCode.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/home/HomeViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/LaoActivity.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/MainMenuTab.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/popcha/PoPCHAHomeFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/popcha/PoPCHAViewModel.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/QrScannerFragment.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/ScanningAction.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/MessageValidator.java
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/security/KeyManager.java
  fe2-android/app/src/main/res/drawable/ic_popcha_icon.xml
  fe2-android/app/src/main/res/layout/popcha_home_fragment.xml
  fe2-android/app/src/main/res/menu/main_menu.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/popcha/PoPCHAHomePageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/popcha/PoPCHAHomeFragmentTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/popcha/PoPCHAAuthenticationTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/qrcode/PoPCHAQRCodeTest.java
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/MessageValidatorTest.java
Labels: fe2-android, popcha
