Repository dedis/popstellar, pull requests merged in 2024-04, with the labels that each got.

#1797 Enhance Invite Section with Copy Functionality for LAO Details
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/InviteFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/token/TokenFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/GeneralUtils.kt
  fe2-android/app/src/main/res/drawable/ic_content_copy.xml
  fe2-android/app/src/main/res/layout/invite_fragment.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/InviteFragmentPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/InviteFragmentTest.kt
Labels: enhancement, fe2-android

#1789 new message for gossip protocol
  docs/protocol.md
  fe1-web/src/core/network/validation/schemas/querySchemas.ts
  protocol/examples/query/rumor/rumor.json
  protocol/examples/query/rumor/wrong_rumor_additional_params.json
  protocol/examples/query/rumor/wrong_rumor_missing_channel.json
  protocol/examples/query/rumor/wrong_rumor_missing_messages.json
  protocol/examples/query/rumor/wrong_rumor_missing_rumor_id.json
  protocol/examples/query/rumor/wrong_rumor_missing_sender_id.json
  protocol/query/method/greet_server.json
  protocol/query/method/rumor.json
  protocol/query/query.json
  protocol/test/main.js
  protocol/test/main.test.js
Labels: be2-scala, be1-go, decentralized

#1778 Verify the sender of Rollcall create/open/close
  be1-go/channel/lao/lao.go
  be1-go/channel/lao/lao_test.go
Labels: be1-go, bug-fix

#1801 draft authentication protocol federation
  docs/assets/authentication_protocol.png
  docs/assets/authentication_protocol_sequential.png
  docs/messageData.md
  protocol/examples/messageData/federation_challenge/federation_challenge.json
  protocol/examples/messageData/federation_challenge_request/federation_challenge_request.json
  protocol/examples/messageData/federation_expect/federation_expect.json
  protocol/examples/messageData/federation_init/federation_init.json
  protocol/query/method/message/data/data.json
  protocol/query/method/message/data/dataFederationChallenge.json
  protocol/query/method/message/data/dataFederationChallengeRequest.json
  protocol/query/method/message/data/dataFederationExpect.json
  protocol/query/method/message/data/dataFederationInit.json
  protocol/test/main.js
  protocol/test/main.test.js
Labels: discussion, proto-spec

#1788 Highlighting Owned Token in Attendees List
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallArrayAdapter.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragment.kt
  fe2-android/app/src/main/res/layout/token_list_fragment.xml
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallArrayAdapterTest.kt
Labels: fe2-android

#1799 jsonRPC handle of rumor msg in scala backend
  be2-scala/src/main/scala/ch/epfl/pop/json/HighLevelProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/MethodType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/Rumor.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/HighLevelProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/RumorSuite.scala
  be2-scala/src/test/scala/util/examples/json/rumor/rumor.json
  be2-scala/src/test/scala/util/examples/json/rumor/wrong_rumor_additional_params.json
  be2-scala/src/test/scala/util/examples/json/rumor/wrong_rumor_missing_channel.json
  be2-scala/src/test/scala/util/examples/json/rumor/wrong_rumor_missing_messages.json
  be2-scala/src/test/scala/util/examples/json/rumor/wrong_rumor_missing_rumor_id.json
  be2-scala/src/test/scala/util/examples/json/rumor/wrong_rumor_missing_sender_id.json
Labels: be2-scala

#1808 Reduce heartbeatbuild logic duplication
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/HeartbeatGenerator.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/Monitor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsWithMapHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/FailingToyDbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/HeartbeatGeneratorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/MonitorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/ToyDbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
Labels: be2-scala

#1824 Add Db handle of Rumors
  be2-scala/src/main/scala/ch/epfl/pop/json/ObjectProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/Rumor.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/RumorData.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/Storage.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/RumorDataSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
  be2-scala/src/test/scala/util/examples/Rumor/RumorExample.scala
Labels: be2-scala

#1833 fixed copy clipoboard button appearing black on darkmode
  fe2-android/app/src/main/res/drawable/ic_content_copy.xml
Labels: fe2-android

#1798 Add Support for new Rumor Message Data
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Action.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Objects.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/gossiping/Rumor.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/MessageValidator.kt
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/MessageGeneralUtils.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/gossiping/RumorTest.kt
Labels: fe2-android
