Repository dedis/popstellar, pull requests merged in 2024-06, with the labels that each got.

#1892 [BE2] Fix be2 test db ref injection
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/WitnessHandler.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandlerTest.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/GetMessagesByIdResponseHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RollCallHandlerTest.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RumorHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/WitnessHandlerTest.scala
Labels: be2-scala, bug-fix

#1890 [BE2] Added RumorState handler
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/GossipManager.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/ResultObject.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/RumorState.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/RumorStateSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/RumorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RumorStateHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
Labels: be2-scala

#1908 [BE1] try to fix coverage
  .github/workflows/ci.yaml
  be1-go/Makefile
  be1-go/sonar-project.properties
Labels: be1-go

#1903 [BE2] Added rumor state ans handler
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ProcessMessagesHandler.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RumorStateAnsHandlerSuite.scala
Labels: be2-scala

#1900 [BE2] Fix gossip relay
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/ConnectionMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/GossipManager.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/Monitor.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Channel.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/AnswerGenerator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/ConnectionMediatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/GossipManagerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/HighLevelProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RumorHandlerSuite.scala
  be2-scala/src/test/scala/util/examples/json/rumor/rumor.json
  be2-scala/src/test/scala/util/examples/json/rumor/rumor_correct_msg.json
Labels: be2-scala

#1909 [BE1] Fix a segmentation fault
  be1-go/internal/handler/answer/answer.go
Labels: be1-go, bug-fix

#1906 Sending Sorted Attendees List and Validation for CloseRollCall
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/QuestionResult.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/CloseRollCall.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/event/RollCallBuilder.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallArrayAdapter.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallViewModel.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/MessageValidator.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/RollCallHandler.kt
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/event/rollcall/RollCallFragmentPageObject.java
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/testutils/UITestUtils.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/InviteFragmentTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/election/CastVoteOpenBallotFragmentTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/election/CastVoteSecretBallotFragmentTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/election/ElectionFragmentTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/eventlist/EventListAdapterTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallArrayAdapterTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragmentTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/popcha/PoPCHAHomeFragmentTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapterTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListFragmentTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaHomeFragmentTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/token/TokenFragmentTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/token/TokenListFragmentTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/CloseRollCallTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/WitnessingRepositoryTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/RollCallDatabaseTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/WitnessDatabaseTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/RollCallHandlerTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/security/KeyManagerTest.kt
Labels: fe2-android, bug-fix

#1896 Update documentation karate
  tests/karate/docs/README.md
  tests/karate/src/test/java/be/utils/Server.java
Labels: ci/cd

#1919 [BE1] better logging
  be1-go/cli/cli.go
  be1-go/cli/cli_test.go
  be1-go/internal/database/sqlite/query.go
  be1-go/internal/database/sqlite/sqlite_init.go
  be1-go/internal/database/sqlite/sqlite_test.go
  be1-go/internal/errors/errors.go
  be1-go/internal/handler/answer/hanswer/answer.go
  be1-go/internal/handler/answer/hanswer/answer_test.go
  be1-go/internal/handler/channel/chirp/hchirp/chirp.go
  be1-go/internal/handler/channel/chirp/hchirp/chirp_test.go
  be1-go/internal/handler/channel/coin/hcoin/coin.go
  be1-go/internal/handler/channel/coin/hcoin/coin_test.go
  be1-go/internal/handler/channel/election/helection/election.go
  be1-go/internal/handler/channel/election/helection/election_test.go
  be1-go/internal/handler/channel/federation/hfederation/federation.go
  be1-go/internal/handler/channel/federation/hfederation/federation_test.go
  be1-go/internal/handler/channel/lao/hlao/lao.go
  be1-go/internal/handler/channel/lao/hlao/lao_test.go
  be1-go/internal/handler/channel/reaction/hreaction/reaction.go
  be1-go/internal/handler/channel/reaction/hreaction/reaction_test.go
  be1-go/internal/handler/channel/root/hroot/root.go
  be1-go/internal/handler/channel/root/hroot/root_test.go
  be1-go/internal/handler/jsonrpc/hjsonrpc/jsonrpc.go
  be1-go/internal/handler/jsonrpc/hjsonrpc/jsonrpc_test.go
  be1-go/internal/handler/message/hmessage/message.go
  be1-go/internal/handler/message/hmessage/message_test.go
  be1-go/internal/handler/method/catchup/hcatchup/catchup.go
  be1-go/internal/handler/method/catchup/hcatchup/catchup_test.go
  be1-go/internal/handler/method/getmessagesbyid/hgetmessagesbyid/getmessagesbyid.go
  be1-go/internal/handler/method/getmessagesbyid/hgetmessagesbyid/getmessagesbyid_test.go
  be1-go/internal/handler/method/greetserver/hgreetserver/greetserver.go
  be1-go/internal/handler/method/greetserver/hgreetserver/greetserver_test.go
  be1-go/internal/handler/method/heartbeat/hheartbeat/heartbeat.go
  be1-go/internal/handler/method/heartbeat/hheartbeat/heartbeat_test.go
  be1-go/internal/handler/method/publish/hpublish/publish.go
  be1-go/internal/handler/method/rumor/hrumor/rumor.go
  be1-go/internal/handler/method/subscribe/hsubscribe/subscribe.go
  be1-go/internal/handler/method/subscribe/hsubscribe/subscribe_test.go
  be1-go/internal/handler/method/unsubscribe/hunsubscribe/unsubscribe.go
  be1-go/internal/handler/method/unsubscribe/hunsubscribe/unsubscribe_test.go
  be1-go/internal/handler/query/hquery/query.go
  be1-go/internal/handler/query/hquery/query_test.go
  be1-go/internal/hub/hub.go
  be1-go/internal/logger/logger.go
  be1-go/internal/network/server.go
  be1-go/internal/network/socket/socket_impl.go
  be1-go/internal/network/socket/socket_impl_test.go
  be1-go/internal/old/hub/standard_hub/message_handling.go
  be1-go/internal/old/oldchannel/authentication/authentication_test.go
  be1-go/internal/old/oldchannel/lao/lao.go
  be1-go/internal/state/config.go
  be1-go/internal/state/hub_params.go
  be1-go/internal/state/peers.go
  be1-go/internal/state/queries.go
  be1-go/internal/state/sockets.go
  be1-go/internal/state/subscribers.go
Labels: be1-go

#1929 [BE1] Add publish test
  be1-go/internal/handler/method/publish/hpublish/mocks/hub.go
  be1-go/internal/handler/method/publish/hpublish/mocks/message_handler.go
  be1-go/internal/handler/method/publish/hpublish/mocks/repository.go
  be1-go/internal/handler/method/publish/hpublish/publish_test.go
Labels: be1-go

#1928 [BE1] Increase usability of module with handlers
  be1-go/internal/handler/message/hmessage/message.go
  be1-go/internal/handler/message/hmessage/message_test.go
  be1-go/internal/handler/message/hmessage/mocks/channel_handler.go
  be1-go/internal/handler/method/publish/hpublish/mocks/hub.go
  be1-go/internal/handler/method/publish/hpublish/mocks/message_handler.go
  be1-go/internal/handler/method/publish/hpublish/mocks/repository.go
  be1-go/internal/handler/method/publish/hpublish/publish_test.go
  be1-go/internal/handler/query/hquery/query.go
  be1-go/internal/handler/query/hquery/query_test.go
  be1-go/internal/hub/hub.go
  be1-go/internal/network/socket/mocks/socket.go
Labels: be1-go

#1920 [BE1] Add a simple buffer to rumor
  be1-go/internal/database/sqlite/query.go
  be1-go/internal/database/sqlite/sqlite_const.go
  be1-go/internal/handler/message/hmessage/message.go
  be1-go/internal/handler/message/hmessage/message_test.go
  be1-go/internal/handler/message/hmessage/mocks/channel_handler.go
  be1-go/internal/handler/method/publish/hpublish/mocks/hub.go
  be1-go/internal/handler/method/publish/hpublish/mocks/message_handler.go
  be1-go/internal/handler/method/publish/hpublish/mocks/repository.go
  be1-go/internal/handler/method/publish/hpublish/publish_test.go
  be1-go/internal/handler/method/rumor/hrumor/buffer.go
  be1-go/internal/handler/method/rumor/hrumor/buffer_test.go
  be1-go/internal/handler/method/rumor/hrumor/mocks/message_handler.go
  be1-go/internal/handler/method/rumor/hrumor/mocks/queries.go
  be1-go/internal/handler/method/rumor/hrumor/mocks/repository.go
  be1-go/internal/handler/method/rumor/hrumor/mocks/sockets.go
  be1-go/internal/handler/method/rumor/hrumor/rumor.go
  be1-go/internal/handler/method/rumor/hrumor/rumor_test.go
  be1-go/internal/handler/query/hquery/query.go
  be1-go/internal/handler/query/hquery/query_test.go
  be1-go/internal/hub/hub.go
  be1-go/internal/network/socket/mocks/socket.go
  be1-go/internal/test/generator/query.go
Labels: be1-go

#1871 [BE2] Work on more rules for linter
  be2-scala/linter/input/src/main/scala/fix/ArraysInFormat.scala
  be2-scala/linter/input/src/main/scala/fix/EmptyInterpolatedString.scala
  be2-scala/linter/input/src/main/scala/fix/IllegalFormatString.scala
  be2-scala/linter/input/src/main/scala/fix/IncorrectNumberOfArgsToFormat.scala
  be2-scala/linter/input/src/main/scala/fix/IncorrectlyNamedExceptions.scala
  be2-scala/linter/input/src/main/scala/fix/LonelySealedTrait.scala
  be2-scala/linter/input/src/main/scala/fix/MapGetAndGetOrElse.scala
  be2-scala/linter/input/src/main/scala/fix/NanComparison.scala
  be2-scala/linter/input/src/main/scala/fix/OptionGet.scala
  be2-scala/linter/input/src/main/scala/fix/OptionSize.scala
  be2-scala/linter/input/src/main/scala/fix/StripMarginOnRegex.scala
  be2-scala/linter/input/src/main/scala/fix/TryGet.scala
  be2-scala/linter/project/TargetAxis.scala
  be2-scala/linter/rules/src/main/resources/META-INF/services/scalafix.v1.Rule
  be2-scala/linter/rules/src/main/scala/fix/ArraysInFormat.scala
  be2-scala/linter/rules/src/main/scala/fix/ComparingFloatingTypes.scala
  be2-scala/linter/rules/src/main/scala/fix/EmptyInterpolatedString.scala
  be2-scala/linter/rules/src/main/scala/fix/IllegalFormatString.scala
  be2-scala/linter/rules/src/main/scala/fix/ImpossibleOptionSizeCondition.scala
  be2-scala/linter/rules/src/main/scala/fix/IncorrectNumberOfArgsToFormat.scala
  be2-scala/linter/rules/src/main/scala/fix/IncorrectlyNamedExceptions.scala
  be2-scala/linter/rules/src/main/scala/fix/LonelySealedTrait.scala
  be2-scala/linter/rules/src/main/scala/fix/MapGetAndGetOrElse.scala
  be2-scala/linter/rules/src/main/scala/fix/NanComparison.scala
  be2-scala/linter/rules/src/main/scala/fix/OptionGet.scala
  be2-scala/linter/rules/src/main/scala/fix/OptionSize.scala
  be2-scala/linter/rules/src/main/scala/fix/StripMarginOnRegex.scala
  be2-scala/linter/rules/src/main/scala/fix/TryGet.scala
  be2-scala/linter/rules/src/main/scala/fix/Util.scala
Labels: be2-scala

#1914 [BE2] Integration of linter in the main code
  be2-scala/.scalafix.conf
  be2-scala/build.sbt
  be2-scala/linter/build.sbt
  be2-scala/linter/input/src/main/scala/fix/ArraysInFormat.scala
  be2-scala/linter/input/src/main/scala/fix/EmptyInterpolatedString.scala
  be2-scala/linter/input/src/main/scala/fix/IllegalFormatString.scala
  be2-scala/linter/input/src/main/scala/fix/StripMarginOnRegex.scala
  be2-scala/linter/project/plugins.sbt
  be2-scala/linter/readme.md
  be2-scala/linter/rules/src/main/scala/fix/ArraysInFormat.scala
  be2-scala/linter/rules/src/main/scala/fix/CatchNpe.scala
  be2-scala/linter/rules/src/main/scala/fix/ComparingFloatingTypes.scala
  be2-scala/linter/rules/src/main/scala/fix/EmptyInterpolatedString.scala
  be2-scala/linter/rules/src/main/scala/fix/IllegalFormatString.scala
  be2-scala/linter/rules/src/main/scala/fix/ImpossibleOptionSizeCondition.scala
  be2-scala/linter/rules/src/main/scala/fix/IncorrectNumberOfArgsToFormat.scala
  be2-scala/linter/rules/src/main/scala/fix/IncorrectlyNamedExceptions.scala
  be2-scala/linter/rules/src/main/scala/fix/LonelySealedTrait.scala
  be2-scala/linter/rules/src/main/scala/fix/MapGetAndGetOrElse.scala
  be2-scala/linter/rules/src/main/scala/fix/NanComparison.scala
  be2-scala/linter/rules/src/main/scala/fix/OptionGet.scala
  be2-scala/linter/rules/src/main/scala/fix/OptionSize.scala
  be2-scala/linter/rules/src/main/scala/fix/StripMarginOnRegex.scala
  be2-scala/linter/rules/src/main/scala/fix/TryGet.scala
  be2-scala/linter/rules/src/main/scala/fix/Util.scala
  be2-scala/project/plugins.sbt
Labels: be2-scala

#1905 [BE2] Add rumor state creation
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/ConnectionMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/GossipManager.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/HighLevelProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ProcessMessagesHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/GossipManagerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RumorHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RumorStateAnsHandlerSuite.scala
Labels: be2-scala

#1878 Implementing paging for chirps on Scala
  be2-scala/src/main/resources/protocol/query/query.json
  be2-scala/src/main/scala/ch/epfl/pop/json/HighLevelProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/MethodType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/PagedCatchup.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/NumberOfChirpsReactionsData.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/AnswerGenerator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Validator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/ParamsValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/Storage.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/HighLevelProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/AnswerGeneratorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
  be2-scala/src/test/scala/util/examples/json/paged_catchup/paged_catchup.json
  be2-scala/src/test/scala/util/examples/json/paged_catchup/paged_catchup_non_chirps_channel.json
  be2-scala/src/test/scala/util/examples/json/paged_catchup/wrong_paged_catchup_additional_params.json
  be2-scala/src/test/scala/util/examples/json/paged_catchup/wrong_paged_catchup_missing_channel.json
  be2-scala/src/test/scala/util/examples/json/paged_catchup/wrong_paged_catchup_missing_number_of_messages.json
  docs/messageData.md
  docs/protocol.md
Labels: be2-scala

#1945 [BE2] Added vector clock
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/GossipManager.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/RumorState.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ProcessMessagesHandler.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/RumorStateSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RumorStateAnsHandlerSuite.scala
  be2-scala/src/test/scala/util/examples/json/rumor_state/rumor_state_ans.json
Labels: be2-scala

#1936 Data exchange protocol message definition
  docs/messageData.md
  protocol/examples/messageData/federation_tokens_exchange/federation_tokens_exchange.json
  protocol/query/method/message/data/data.json
  protocol/query/method/message/data/dataFederationTokensExchange.json
  protocol/test/main.js
  protocol/test/main.test.js
Labels: documentation, proto-spec

#1893 [BE2] Federation Implementation
  be2-scala/src/main/scala/ch/epfl/pop/config/RuntimeEnvironment.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/ConnectionMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/GossipManager.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Base16Data.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Timestamp.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/MessageRegistry.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/FederationHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/FederationValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageDataContentValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/Storage.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/ConnectionMediatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/GossipManagerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/MessageDataProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/FederationHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/FederationValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
  be2-scala/src/test/scala/util/examples/Federation/FederationChallengeExample.scala
  be2-scala/src/test/scala/util/examples/Federation/FederationChallengeRequestExample.scala
  be2-scala/src/test/scala/util/examples/Federation/FederationExpectExample.scala
  be2-scala/src/test/scala/util/examples/Federation/FederationInitExample.scala
  be2-scala/src/test/scala/util/examples/Federation/FederationResultExample.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
  be2-scala/src/test/scala/util/examples/data/FederationMessages.scala
  be2-scala/src/test/scala/util/examples/data/builders/HighLevelMessageGenerator.scala
  be2-scala/src/test/scala/util/examples/data/traits/FederationMessagesTrait.scala
Labels: be2-scala

#1946 [BE1] Federation Data Exchange
  be1-go/internal/handler/channel/channel.go
  be1-go/internal/handler/channel/federation/hfederation/federation.go
  be1-go/internal/handler/channel/federation/hfederation/federation_test.go
  be1-go/internal/handler/channel/federation/hfederation/mocks/repository.go
  be1-go/internal/handler/channel/federation/mfederation/federation_data_exchange.go
  be1-go/internal/handler/method/publish/hpublish/mocks/federation_handler.go
  be1-go/internal/handler/method/publish/hpublish/publish.go
  be1-go/internal/handler/method/publish/hpublish/publish_test.go
  be1-go/internal/hub/hub.go
  be1-go/internal/test/generator/federation.go
  docs/messageData.md
Labels: be1-go

#1921 Displaying Deterministic Username for a given Token
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/security/PublicKey.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashIssueFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashReceiptFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashReceiveFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashSendFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashViewModel.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/digitalcash/HistoryListAdapter.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallArrayAdapter.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapter.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/token/TokenFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/Constants.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/GeneralUtils.kt
  fe2-android/app/src/main/res/layout/list_item_attendee.xml
  fe2-android/app/src/main/res/layout/roll_call_fragment.xml
  fe2-android/app/src/main/res/layout/token_fragment.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/digitalcash/HistoryPageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/digitalcash/IssuePageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/LaoActivityTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/digitalcash/DigitalCashActivityTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallArrayAdapterTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapterTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListFragmentTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/security/KeyPairTest.kt
Labels: fe2-android

#1949 added copy button in RollCall QR Token fragment
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragment.kt
  fe2-android/app/src/main/res/layout/roll_call_fragment.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/event/rollcall/RollCallFragmentPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragmentTest.kt
Labels: fe2-android

#1954 [BE1] Send rumor state message to new WS connection
  be1-go/internal/handler/method/rumorstate/hrumorstate/rumorstate.go
  be1-go/internal/hub/hub.go
Labels: be1-go

#1943 Federation Data Exchange for FE2
  fe2-android/app/src/main/java/com/github/dedis/popstellar/di/DataRegistryModule.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/Action.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/federation/FederationResult.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/federation/TokensExchange.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/objects/Chirp.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/repository/LinkedOrganizationsRepository.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/federation/LinkedOrganizationsFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/federation/LinkedOrganizationsInviteFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/federation/LinkedOrganizationsViewModel.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapter.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaViewModel.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/MessageValidator.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ChirpHandler.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LinkedOrganizationsHandler.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/ReactionHandler.kt
  fe2-android/app/src/main/res/layout/linked_organizations_fragment.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/federation/LinkedOrganizationsFragmentPageObject.java
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/di/DataRegistryModuleHelper.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/federation/LinkedOrganizationsFragmentNonOrganizerTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/federation/LinkedOrganizationsFragmentOrganizerTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapterTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListFragmentTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaHomeFragmentTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/federation/FederationResultTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/federation/TokensExchangeTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/ChirpTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/LinkedOrganizationsRepositoryTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/SocialMediaRepositoryTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/database/SocialMediaDatabaseTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ChirpHandlerTest.kt
Labels: fe2-android

#1955 [BE1] process meeting messages and include unprocessed messages in rumor state answer
  be1-go/internal/database/sqlite/query.go
  be1-go/internal/database/sqlite/sqlite_const.go
  be1-go/internal/handler/channel/lao/hlao/lao.go
Labels: be1-go

#1957 Fix CI
  .github/workflows/ci.yaml
Labels: bug-fix, ci/cd

#1958 Send rumors state when connecting federaction
  be1-go/internal/handler/channel/federation/hfederation/federation.go
  be1-go/internal/handler/channel/federation/hfederation/federation_test.go
  be1-go/internal/handler/channel/federation/hfederation/mocks/greet_server_sender.go
  be1-go/internal/handler/channel/federation/hfederation/mocks/rumor_state_sender.go
  be1-go/internal/hub/hub.go
Labels: be1-go

#1959 Message validation for the rest of Federation messages
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/federation/Challenge.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/federation/ChallengeRequest.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/federation/FederationExpect.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/federation/FederationInit.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/MessageValidator.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/federation/LinkedOrganizationsScannerJoinTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/federation/ChallengeRequestTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/federation/ChallengeTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/federation/FederationExpectTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/federation/FederationInitTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/qrcode/FederationDetailsTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/repository/LinkedOrganizationsRepositoryTest.kt
Labels: fe2-android

#1964 Fix rumor process order
  be2-scala/src/main/resources/logback.xml
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ProcessMessagesHandler.scala
Labels: be2-scala

#1963 Changing the chirp profile color for linked LAOs members
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapter.kt
  fe2-android/app/src/main/res/layout/chirp_card.xml
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapterTest.kt
Labels: fe2-android

#1969 fix sqlite transactions
  be1-go/internal/database/sqlite/query.go
  be1-go/internal/database/sqlite/sqlite_const.go
Labels: be1-go

#1967 Disabled extending connection to peers for test purposes
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.kt
Labels: fe2-android

#1966 Fixed Copy Token Button Never Disappears
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragment.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallFragmentTest.kt
Labels: fe2-android

#1960 data input validation for OpenRollCall + constructor tests
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/OpenRollCall.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/MessageValidator.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/rollcall/OpenRollCallTest.kt
Labels: fe2-android

#1968 Federation data exchange implementation
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ActionType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/federation/FederationTokensExchange.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/MessageRegistry.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/FederationHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/FederationValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/Storage.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/MessageDataProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/message/data/federation/TokensExchangeSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/FederationHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/FederationValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
  be2-scala/src/test/scala/util/examples/Federation/FederationTokensExchangeExample.scala
  be2-scala/src/test/scala/util/examples/JsonRpcRequestExample.scala
  be2-scala/src/test/scala/util/examples/data/FederationMessages.scala
  be2-scala/src/test/scala/util/examples/data/builders/HighLevelMessageGenerator.scala
Labels: be2-scala

#1971 [BE1] Fix ws writer so it doesn't send stream to scala
  be1-go/internal/network/socket/socket_impl.go
Labels: be1-go

#1970 Add some delay before servers are sync
  be1-go/internal/handler/channel/federation/hfederation/federation.go
  be1-go/internal/handler/channel/federation/hfederation/federation_test.go
Labels: be1-go

#1918 Work fe1 ljankoschek poptoken mnemonic
  fe1-web/src/core/functions/Mnemonic.ts
  fe1-web/src/core/functions/__tests__/Mnemonic.test.ts
  fe1-web/src/features/digital-cash/__tests__/utils.ts
  fe1-web/src/features/digital-cash/components/TransactionHistory.tsx
  fe1-web/src/features/digital-cash/hooks/DigitalCashHooks.ts
  fe1-web/src/features/digital-cash/index.ts
  fe1-web/src/features/digital-cash/interface/Configuration.ts
  fe1-web/src/features/digital-cash/interface/Feature.ts
  fe1-web/src/features/digital-cash/screens/SendReceive/SendReceive.tsx
  fe1-web/src/features/digital-cash/screens/SendReceive/__tests__/__snapshots__/SendReceive.test.tsx.snap
  fe1-web/src/features/index.ts
  fe1-web/src/features/rollCall/components/AttendeeList.tsx
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/features/social/components/ChirpCard.tsx
  fe1-web/src/features/social/components/Profile.tsx
  fe1-web/src/features/social/components/UserListItem.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/ChirpCard.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/Profile.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/UserListItem.test.tsx.snap
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialTopChirps.test.tsx.snap
  fe1-web/src/features/wallet/screens/WalletSingleRollCall.tsx
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletSingleRollCall.test.tsx.snap
  fe1-web/src/resources/strings.ts
Labels: enhancement, fe1-web

#1975 Work be1 arnauds5 federation tokens exchange rumor
  be1-go/internal/handler/channel/federation/hfederation/federation.go
  be1-go/internal/handler/channel/federation/hfederation/federation_test.go
  be1-go/internal/handler/method/publish/hpublish/mocks/federation_handler.go
  be1-go/internal/handler/method/publish/hpublish/publish.go
  be1-go/internal/handler/method/publish/hpublish/publish_test.go
  be1-go/internal/hub/hub.go
Labels: be1-go

#1974 Revert "Add some delay before servers are sync"
  be1-go/internal/handler/channel/federation/hfederation/federation.go
  be1-go/internal/handler/channel/federation/hfederation/federation_test.go
Labels: be1-go

#1976 [BE1] Address issues mentioned in the comments for pull request #1815
  be1-go/internal/database/sqlite/chirp.go
  be1-go/internal/database/sqlite/election.go
  be1-go/internal/database/sqlite/lao.go
  be1-go/internal/database/sqlite/query.go
  be1-go/internal/database/sqlite/reaction.go
  be1-go/internal/database/sqlite/root.go
  be1-go/internal/database/sqlite/sqlite.go
  be1-go/internal/database/sqlite/sqlite_init.go
  be1-go/internal/handler/channel/root/hroot/root.go
Labels: be1-go

#1977 fix key read and instant pull
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/GossipManager.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/GossipManagerSuite.scala
Labels: be2-scala
