Repository dedis/popstellar, pull requests merged in 2024-03, with the labels that each got.

#1767 Refactor files name
  be1-go/channel/authentication/authentication.go
  be1-go/channel/authentication/authentication_test.go
  be1-go/channel/channel.go
  be1-go/channel/chirp/chirp.go
  be1-go/channel/chirp/chirp_test.go
  be1-go/channel/coin/coin.go
  be1-go/channel/coin/coin_test.go
  be1-go/channel/coin/uint53/uint53.go
  be1-go/channel/coin/uint53/uint53_test.go
  be1-go/channel/consensus/consensus.go
  be1-go/channel/consensus/consensus_test.go
  be1-go/channel/election/election.go
  be1-go/channel/election/election_test.go
  be1-go/channel/generalChirping/generalChirping.go
  be1-go/channel/generalChirping/generalChirping_test.go
  be1-go/channel/lao/lao.go
  be1-go/channel/lao/lao_test.go
  be1-go/channel/reaction/reaction.go
  be1-go/channel/reaction/reaction_test.go
  be1-go/channel/registry/registry.go
  be1-go/cli/cli.go
  be1-go/cli/cli_test.go
  be1-go/hub/hub.go
  be1-go/hub/standard_hub/hub_state/channels.go
  be1-go/hub/standard_hub/hub_state/messageIds.go
  be1-go/hub/standard_hub/hub_state/peers.go
  be1-go/hub/standard_hub/hub_state/queries.go
  be1-go/hub/standard_hub/hub_state/threadSafeMap.go
  be1-go/hub/standard_hub/hub_state/threadSafeSlice.go
  be1-go/hub/standard_hub/standard_hub.go
  be1-go/hub/standard_hub/standard_hub_test.go
  be1-go/inbox/inbox.go
  be1-go/inbox/inbox_test.go
  be1-go/internal/depgraph/depgraph.go
  be1-go/logger.go
  be1-go/network/network.go
  be1-go/network/socket/mod.go
  be1-go/network/socket/socket.go
  be1-go/network/socket/socket_impl.go
  be1-go/network/socket/socket_impl_test.go
  be1-go/validation/validation.go
Labels: be1-go

#1769 ElectionResultQuestion message data validation
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionResultQuestion.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/QuestionResult.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/MessageValidator.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/ElectionQuestionResultTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/QuestionResultTest.kt
Labels: fe2-android

#1770 PlainVote validation
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/PlainVote.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/MessageValidator.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/PlainVoteTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/objects/ElectionTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/MessageValidatorTest.kt
Labels: fe2-android

#1766 Finally solved issue #1734
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/event/AbstractEventCreationFragment.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/election/ElectionSetupFragmentTest.kt
Labels: fe2-android

#1758 Further work on message validation
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionQuestion.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/model/network/method/message/data/election/EncryptedVote.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/MessageValidator.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/CastVoteTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/ElectionQuestionTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/model/network/method/message/data/election/EncryptedVoteTest.kt
  fe2-android/app/src/test/unit/java/com/github/dedis/popstellar/utility/handler/ElectionHandlerTest.kt
Labels: fe2-android

#1764 [BE2] #1749 Start connection upon start
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/Monitor.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/MonitorSuite.scala
Labels: be2-scala

#1759 Fixes #1669 "New chirp" box wrongly displayed
  fe1-web/src/features/social/components/TextInputChirp.tsx
  fe1-web/src/features/social/components/__tests__/__snapshots__/NewChirp.test.tsx.snap
  fe1-web/src/features/social/components/__tests__/__snapshots__/TextInputChirp.test.tsx.snap
  fe1-web/src/features/social/screens/__tests__/__snapshots__/SocialHome.test.tsx.snap
Labels: fe1-web, bug-fix

#1771 Fix CI node_modules caching issue #847
  .github/workflows/ci.yaml
Labels: fe1-web

#1763 [BE2]: Enum refactoring
  be2-scala/src/main/scala/ch/epfl/pop/json/HighLevelProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/MethodType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ActionType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ObjectType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/election/VersionType.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/HighLevelProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/MessageDataProtocolSuite.scala
Labels: be2-scala

#1786 Fixes #1784 Clear the previous PoP tokens before adding new ones
  be1-go/channel/lao/lao.go
Labels: be1-go, bug-fix
