Repository dedis/popstellar, pull requests merged in 2024-02, with the labels that each got.

#1731 [BE2]: Fix elections
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/LaoData.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/LaoHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/objects/LaoDataSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/ElectionHandlerTest.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/ElectionValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/MeetingValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/MessageValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/PopchaValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/RollCallValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/SocialMediaValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/WitnessValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
  be2-scala/src/test/scala/util/examples/LaoDataExample.scala
Labels: be2-scala, bug-fix

#1738 [BE2]: Fix social in multi-server context
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandler.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/SocialMediaHandlerSuite.scala
Labels: be2-scala

#1679 Properly handle authentication message to complete popcha authentication
  .github/workflows/ci.yaml
  .github/workflows/karate_be2-scala.yaml
  .gitignore
  be2-scala/README.md
  be2-scala/build.sbt
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/authentication/Authenticate.scala
  be2-scala/src/main/scala/ch/epfl/pop/authentication/GetRequestHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/authentication/PopchaWebSocketResponseHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/authentication/QRCodeChallengeGenerator.scala
  be2-scala/src/main/scala/ch/epfl/pop/config/RuntimeEnvironment.scala
  be2-scala/src/main/scala/ch/epfl/pop/config/ServerConf.scala
  be2-scala/src/main/scala/ch/epfl/pop/config/application.conf
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/ConnectionMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/popcha/Authenticate.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/MessageHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/PopchaHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/validators/PopchaValidator.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/main/scala/ch/epfl/pop/storage/SecurityModuleActor.scala
  be2-scala/src/main/web/AuthenticationPageTemplate.html
  be2-scala/src/security/generateKeys.sh
  be2-scala/src/test/scala/ch/epfl/pop/authentication/AuthenticateSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/authentication/GetRequestHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/authentication/PopchaWebSocketResponseHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/authentication/QRCodeChallengeGeneratorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/ConnectionMediatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/message/data/popcha/AuthenticateSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/GetMessagesByIdResponseHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/PopchaHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/validators/PopchaValidatorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/SecurityModuleActorSuite.scala
  be2-scala/src/test/scala/util/examples/MessageExample.scala
  demo/popcha-client/web/data/providers.json
  tests/karate/src/test/java/be/utils/ScalaServer.java
Labels: be2-scala, popcha

#1756 Fix Be2-scala deployment
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
Labels: be2-scala, ci/cd

#1753 Work be1 stuart fix query already answered
  be1-go/hub/standard_hub/hub_state/Queries.go
  be1-go/hub/standard_hub/message_handling.go
  be1-go/hub/standard_hub/mod.go
  be1-go/hub/standard_hub/mod_test.go
Labels: be1-go, bug-fix

#1754 Make []string slice 'blacklist' thread-safe
  be1-go/hub/standard_hub/hub_state/ThreadSafeSlice.go
  be1-go/hub/standard_hub/message_handling.go
  be1-go/hub/standard_hub/mod.go
Labels: be1-go, bug-fix

#1755 Changed default connection URL from wss to ws
  fe1-web/src/features/home/screens/ConnectConfirm.tsx
  fe1-web/src/features/home/screens/Launch.tsx
  fe1-web/src/features/home/screens/__tests__/__snapshots__/ConnectConfirm.test.tsx.snap
  fe1-web/src/features/home/screens/__tests__/__snapshots__/Launch.test.tsx.snap
Labels: fe1-web

#1760 remove non-empty condition on hubInbox for heartbeats
  be1-go/hub/standard_hub/mod.go
Labels: be1-go
