Repository dedis/popstellar, pull requests merged in 2024-05, with the labels that each got.

#1810 First parts of UI for the federation project on FE2
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/LaoActivity.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/MainMenuTab.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/federation/LinkedOrganizationsFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/federation/LinkedOrganizationsInviteFragment.kt
  fe2-android/app/src/main/res/drawable/ic_add_linked_organization.xml
  fe2-android/app/src/main/res/drawable/ic_linked_organizations_home.xml
  fe2-android/app/src/main/res/layout/linked_organizations_fragment.xml
  fe2-android/app/src/main/res/layout/linked_organizations_invite_fragment.xml
  fe2-android/app/src/main/res/menu/main_menu.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/federation/LinkedOrganizationsFragmentPageObject.java
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/federation/LinkedOrganizationsInviteFragmentPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/federation/LinkedOrganizationsFragmentNonOrganizerTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/federation/LinkedOrganizationsFragmentOrganizerTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/federation/LinkedOrganizationsInviteFragmentTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/federation/LinkedOrganizationsJoinFragmentTest.kt
Labels: fe2-android

#1831 Fixes a test that randomly fails in be1-go
  be1-go/channel/authentication/authentication_test.go
Labels: be1-go, bug-fix

#1844 change signature of readRumor for more intuitive
  be2-scala/src/main/scala/ch/epfl/pop/storage/DbActor.scala
  be2-scala/src/test/scala/ch/epfl/pop/storage/DbActorSuite.scala
Labels: be2-scala

#1829 Work fe1 ljankoschek notification page
  fe1-web/src/features/notification/interface/Configuration.ts
  fe1-web/src/features/notification/screens/NotificationScreen.tsx
  fe1-web/src/features/witness/components/WitnessNotification.tsx
  fe1-web/src/features/witness/components/__tests__/WitnessNotification.test.tsx
  fe1-web/src/features/witness/components/__tests__/__snapshots__/WitnessNotification.test.tsx.snap
  fe1-web/src/features/witness/interface/Configuration.ts
  fe1-web/src/resources/strings.ts
Labels: fe1-web

#1846 Add final json schemas & fix failing go test
  be1-go/message/test/message_test.go
  be1-go/validation/schema_validator.go
  protocol/examples/messageData/federation_expect/federation_expect.json
  protocol/examples/messageData/federation_init/federation_init.json
  protocol/query/method/message/data/dataFederationChallenge.json
  protocol/query/method/message/data/dataFederationChallengeRequest.json
  protocol/query/method/message/data/dataFederationConnExpect.json
  protocol/query/method/message/data/dataFederationConnInit.json
  protocol/query/method/message/data/dataFederationExpect.json
  protocol/query/method/message/data/dataFederationInit.json
  protocol/query/method/message/data/dataFederationResult.json
Labels: proto-spec

#1842 Federation Authentication protocol documentation
  docs/assets/authentication_protocol.png
  docs/assets/authentication_protocol_sequential.png
  docs/messageData.md
Labels: documentation

#1819 [BE2]: Scala Linter base + first 5 rules
  be2-scala/linter/build.sbt
  be2-scala/linter/input/src/main/scala/fix/ArraysInFormat.scala
  be2-scala/linter/input/src/main/scala/fix/CatchNpe.scala
  be2-scala/linter/input/src/main/scala/fix/ComparingFloatingTypes.scala
  be2-scala/linter/input/src/main/scala/fix/EmptyInterpolatedString.scala
  be2-scala/linter/input/src/main/scala/fix/ImpossibleOptionSizeCondition.scala
  be2-scala/linter/project/build.properties
  be2-scala/linter/project/plugins.sbt
  be2-scala/linter/readme.md
  be2-scala/linter/rules/src/main/resources/META-INF/services/scalafix.v1.Rule
  be2-scala/linter/rules/src/main/scala/fix/ArraysInFormat.scala
  be2-scala/linter/rules/src/main/scala/fix/CatchNpe.scala
  be2-scala/linter/rules/src/main/scala/fix/ComparingFloatingTypes.scala
  be2-scala/linter/rules/src/main/scala/fix/EmptyInterpolatedString.scala
  be2-scala/linter/rules/src/main/scala/fix/ImpossibleOptionSizeCondition.scala
  be2-scala/linter/tests/src/test/scala/fix/RuleSuite.scala
Labels: be2-scala

#1823 [BE2] Fix multiple connectTo messages upon changing the server-peers-list.conf file.
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/Monitor.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/MonitorSuite.scala
Labels: be2-scala

#1843 Add rumor handler
  be2-scala/src/main/scala/ch/epfl/pop/Server.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/ConnectionMediator.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/GossipManager.scala
  be2-scala/src/main/scala/ch/epfl/pop/decentralized/Monitor.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/PublishSubscribe.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ParamsHandler.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ProcessMessagesHandler.scala
  be2-scala/src/test/scala/ch/epfl/pop/decentralized/GossipManagerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/GetMessagesByIdResponseHandlerSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RumorHandlerSuite.scala
  be2-scala/src/test/scala/util/examples/json/rumor/rumor_correct_msg.json
Labels: be2-scala

#1849 Fixed constant display of error message when Social tab without Token
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaHomeFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaViewModel.kt
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/lao/socialmedia/SocialMediaHomePageObject.java
  fe2-android/app/src/test/framework/robolectric/java/com/github/dedis/popstellar/testutils/UITestUtils.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListAdapterTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/ChirpListFragmentTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/socialmedia/SocialMediaHomeFragmentTest.kt
Labels: fe2-android, bug-fix

#1850 Improvements to Manual Input in Scanning Actions
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/InviteFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/lao/token/TokenFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/QrScannerFragment.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/ui/qrcode/ScanningAction.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/GeneralUtils.kt
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/UIUtils.kt
  fe2-android/app/src/main/res/drawable/ic_content_paste.xml
  fe2-android/app/src/main/res/layout/input_field_item.xml
  fe2-android/app/src/main/res/layout/qr_scanner_fragment.xml
  fe2-android/app/src/main/res/values/strings.xml
  fe2-android/app/src/test/framework/common/java/com/github/dedis/popstellar/testutils/pages/scanning/QrScanningPageObject.java
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/HomeActivityTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/home/LaoCreateFragmentTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/event/rollcall/RollCallAddAttendeeTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/popcha/PoPCHAHomeFragmentTest.kt
  fe2-android/app/src/test/ui/robolectric/com/github/dedis/popstellar/ui/lao/witness/WitnessAddTest.kt
Labels: enhancement, fe2-android

#1851 Add federation authentication protocol messages + tests + examples in Scala
  be2-scala/src/main/scala/ch/epfl/pop/json/MessageDataProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/json/ObjectProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ActionType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/ObjectType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/federation/FederationChallenge.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/federation/FederationChallengeRequest.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/federation/FederationExpect.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/federation/FederationInit.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/message/data/federation/FederationResult.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/objects/Base16Data.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/MessageDataProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/message/data/federation/ChallengeRequestSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/message/data/federation/ChallengeSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/message/data/federation/ExpectSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/message/data/federation/InitSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/message/data/federation/ResultSuite.scala
  be2-scala/src/test/scala/util/examples/Federation/FederationChallengeExample.scala
  be2-scala/src/test/scala/util/examples/Federation/FederationChallengeRequestExample.scala
  be2-scala/src/test/scala/util/examples/Federation/FederationExpectExample.scala
  be2-scala/src/test/scala/util/examples/Federation/FederationInitExample.scala
  be2-scala/src/test/scala/util/examples/Federation/FederationResultExample.scala
  be2-scala/src/test/scala/util/examples/json/federation/federation_challenge.json
  be2-scala/src/test/scala/util/examples/json/federation/federation_challenge_request.json
  be2-scala/src/test/scala/util/examples/json/federation/federation_expect.json
  be2-scala/src/test/scala/util/examples/json/federation/federation_init.json
  be2-scala/src/test/scala/util/examples/json/federation/federation_result.json
  protocol/examples/messageData/federation_result/federation_result_2.json
Labels: be2-scala

#1876 [BE2] rumor message process
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/handlers/ProcessMessagesHandler.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/handlers/RumorHandlerSuite.scala
Labels: be2-scala

#1881 Disabled extending connection to peers for test purposes
  fe2-android/app/src/main/java/com/github/dedis/popstellar/utility/handler/data/LaoHandler.kt
Labels: fe2-android

#1822 Added paged catchup message to the protocol
  docs/protocol.md
  fe1-web/src/core/network/validation/schemas/querySchemas.ts
  protocol/examples/query/paged_catchup/paged_catchup.json
  protocol/examples/query/paged_catchup/wrong_paged_catchup_additional_params.json
  protocol/examples/query/paged_catchup/wrong_paged_catchup_missing_channel.json
  protocol/examples/query/paged_catchup/wrong_paged_catchup_missing_number_of_messages.json
  protocol/query/method/paged_catchup.json
  protocol/query/query.json
  protocol/test/main.js
  protocol/test/main.test.js
Labels: proto-spec

#1883 Work fe1 ljankoschek linked org network
  fe1-web/src/__tests__/utils/TestUtils.ts
  fe1-web/src/core/components/QRCode.tsx
  fe1-web/src/core/components/__tests__/__snapshots__/QrCode.test.tsx.snap
  fe1-web/src/core/network/JsonRpcApi.ts
  fe1-web/src/core/network/jsonrpc/messages/MessageData.ts
  fe1-web/src/core/network/jsonrpc/messages/MessageRegistry.ts
  fe1-web/src/core/network/validation/Validator.ts
  fe1-web/src/core/network/validation/schemas/dataSchemas.ts
  fe1-web/src/core/objects/Channel.ts
  fe1-web/src/features/home/screens/Launch.tsx
  fe1-web/src/features/index.ts
  fe1-web/src/features/lao/components/__tests__/__snapshots__/LaoProperties.test.tsx.snap
  fe1-web/src/features/lao/screens/__tests__/__snapshots__/InviteScreen.test.tsx.snap
  fe1-web/src/features/linked-organizations/hooks/LinkedOrganizationsHooks.ts
  fe1-web/src/features/linked-organizations/index.ts
  fe1-web/src/features/linked-organizations/interface/Configuration.ts
  fe1-web/src/features/linked-organizations/interface/Feature.ts
  fe1-web/src/features/linked-organizations/network/LinkedOrgHandler.ts
  fe1-web/src/features/linked-organizations/network/LinkedOrgMessageApi.ts
  fe1-web/src/features/linked-organizations/network/__mocks__/LinkedOrgMessageApi.ts
  fe1-web/src/features/linked-organizations/network/__tests__/LinkedOrgHandler.test.ts
  fe1-web/src/features/linked-organizations/network/__tests__/LinkedOrgMessageApi.test.ts
  fe1-web/src/features/linked-organizations/network/index.ts
  fe1-web/src/features/linked-organizations/network/messages/ChallengeMessage.ts
  fe1-web/src/features/linked-organizations/network/messages/ChallengeRequest.ts
  fe1-web/src/features/linked-organizations/network/messages/FederationExpect.ts
  fe1-web/src/features/linked-organizations/network/messages/FederationInit.ts
  fe1-web/src/features/linked-organizations/network/messages/index.ts
  fe1-web/src/features/linked-organizations/objects/Organization.ts
  fe1-web/src/features/linked-organizations/reducer/ChallengeReducer.ts
  fe1-web/src/features/linked-organizations/reducer/LinkedOrganizationsReducer.ts
  fe1-web/src/features/linked-organizations/reducer/__tests__/ChallengeReducer.test.ts
  fe1-web/src/features/linked-organizations/reducer/__tests__/LinkedOrganizationsReducer.test.ts
  fe1-web/src/features/linked-organizations/reducer/index.ts
  fe1-web/src/features/linked-organizations/screens/LinkedOrganizationsScreen.tsx
  fe1-web/src/features/linked-organizations/screens/__tests__/LinkedOrganizationsScreen.test.tsx
  fe1-web/src/features/linked-organizations/screens/__tests__/__snapshots__/LinkedOrganizationsScreen.test.tsx.snap
  fe1-web/src/features/rollCall/screens/__tests__/__snapshots__/ViewSingleRollCall.test.tsx.snap
  fe1-web/src/features/social/network/SocialMessageApi.ts
  fe1-web/src/features/wallet/screens/__tests__/__snapshots__/WalletSingleRollCall.test.tsx.snap
  fe1-web/src/features/witness/network/messages/WitnessRegistry.ts
  fe1-web/src/resources/strings.ts
  protocol/query/method/message/data/dataFederationChallenge.json
  protocol/query/method/message/data/dataFederationChallengeRequest.json
  protocol/query/method/message/data/dataFederationExpect.json
  protocol/query/method/message/data/dataFederationInit.json
  protocol/query/method/message/data/dataFederationResult.json
Labels: proto-spec, fe1-web

#1865 Disable the ability of fe1 to send messages to peers
  fe1-web/src/features/lao/network/LaoGreetWatcher.ts
Labels: fe1-web

#1886 Prepare karate for tests with multiple backends running at the same time
  .gitignore
  be1-go/cli/cli.go
  be1-go/cli/pop.go
  be1-go/configServer1.json
  be1-go/configServer2.json
  be2-scala/src/main/scala/ch/epfl/pop/config/RuntimeEnvironment.scala
  tests/karate/src/test/java/be/features/LAO/create.feature
  tests/karate/src/test/java/be/features/election/castVote.feature
  tests/karate/src/test/java/be/features/election/electionOpen.feature
  tests/karate/src/test/java/be/features/rollCall/closeRollCall.feature
  tests/karate/src/test/java/be/features/rollCall/createRollCall.feature
  tests/karate/src/test/java/be/features/rollCall/openRollCall.feature
  tests/karate/src/test/java/be/utils/GoServer.java
  tests/karate/src/test/java/be/utils/ScalaServer.java
  tests/karate/src/test/java/be/utils/Server.java
  tests/karate/src/test/java/data/scala.template.conf
Labels: be2-scala, be1-go, ci/cd

#1887 [BE2] Add parsing of RumorState messages
  be2-scala/src/main/scala/ch/epfl/pop/json/HighLevelProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/MethodType.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/method/RumorState.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/Validator.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/HighLevelProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/method/RumorSuite.scala
  be2-scala/src/test/scala/util/examples/json/rumor_state/rumor_state.json
Labels: be2-scala

#1889 [BE2] Added RumorStateAns to possible values of response
  be2-scala/src/main/scala/ch/epfl/pop/json/HighLevelProtocol.scala
  be2-scala/src/main/scala/ch/epfl/pop/model/network/ResultObject.scala
  be2-scala/src/main/scala/ch/epfl/pop/pubsub/graph/AnswerGenerator.scala
  be2-scala/src/test/scala/ch/epfl/pop/json/HighLevelProtocolSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/model/network/ResultObjectSuite.scala
  be2-scala/src/test/scala/ch/epfl/pop/pubsub/graph/AnswerGeneratorSuite.scala
Labels: be2-scala

#1827 add be1-go implemention of federation authentication part
  be1-go/cli/pop_test.go
  be1-go/internal/popserver/database/database.go
  be1-go/internal/popserver/database/repository/mock_repository.go
  be1-go/internal/popserver/database/repository/repository.go
  be1-go/internal/popserver/database/sqlite/sqlite.go
  be1-go/internal/popserver/database/sqlite/sqlite_const.go
  be1-go/internal/popserver/database/sqlite/sqlite_test.go
  be1-go/internal/popserver/generatortest/federation.go
  be1-go/internal/popserver/handler/channel.go
  be1-go/internal/popserver/handler/chirp_test.go
  be1-go/internal/popserver/handler/coin_test.go
  be1-go/internal/popserver/handler/election_test.go
  be1-go/internal/popserver/handler/federation.go
  be1-go/internal/popserver/handler/federation_test.go
  be1-go/internal/popserver/handler/lao_test.go
  be1-go/internal/popserver/handler/query_test.go
  be1-go/internal/popserver/handler/reaction_test.go
  be1-go/internal/popserver/handler/root.go
  be1-go/internal/popserver/handler/root_test.go
  be1-go/internal/popserver/hub.go
  be1-go/internal/popserver/state/state.go
  be1-go/internal/popserver/types/hub_params.go
  be1-go/message/messagedata/federation_challenge.go
  be1-go/message/messagedata/federation_expect.go
  be1-go/message/messagedata/federation_init.go
  be1-go/message/messagedata/federation_request_challenge.go
  be1-go/message/messagedata/federation_result.go
  be1-go/message/messagedata/mod.go
Labels: be1-go

#1880 [BE1] Push Rumor
  be1-go/cli/cli.go
  be1-go/cli/pop_test.go
  be1-go/cli/test_config_files/valid_config_watcher.json
  be1-go/configServer3.json
  be1-go/internal/popserver/database/database.go
  be1-go/internal/popserver/database/repository/mock_repository.go
  be1-go/internal/popserver/database/repository/repository.go
  be1-go/internal/popserver/database/sqlite/sqlite.go
  be1-go/internal/popserver/database/sqlite/sqlite_const.go
  be1-go/internal/popserver/database/sqlite/sqlite_init.go
  be1-go/internal/popserver/generatortest/query.go
  be1-go/internal/popserver/handler/answer.go
  be1-go/internal/popserver/handler/channel.go
  be1-go/internal/popserver/handler/channel_test.go
  be1-go/internal/popserver/handler/lao.go
  be1-go/internal/popserver/handler/publish.go
  be1-go/internal/popserver/handler/query.go
  be1-go/internal/popserver/handler/rumor.go
  be1-go/internal/popserver/hub.go
  be1-go/internal/popserver/state/hub_parameter.go
  be1-go/internal/popserver/state/peerer.go
  be1-go/internal/popserver/state/querier.go
  be1-go/internal/popserver/state/socketer.go
  be1-go/internal/popserver/state/state.go
  be1-go/internal/popserver/state/subscriber.go
  be1-go/internal/popserver/types/queries.go
  be1-go/internal/popserver/types/sockets.go
  be1-go/logger.go
  be1-go/message/query/method/rumor.go
  be1-go/message/query/query.go
Labels: be1-go
